@mixin coreIcon {
  font-family: $icomoon-font-family;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @content;
}

$icomoon-font-family: 'iconFan' !default;
$icomoon-font-path: "../fonts" !default;

$icon-stars: "\e930";
$icon-bell: "\e930";
$icon-cancel: "\e92c";
$icon-rub: "\e92d";
$icon-member: "\e92e";
$icon-question: "\e92f";
$icon-confirmed: "\e92b";
$icon-pen: "\e925";
$icon-stop: "\e926";
$icon-support: "\e927";
$icon-settings: "\e928";
$icon-location: "\e929";
$icon-orders: "\e92a";
$icon-filter: "\e924";
$icon-arrow-bend: "\e923";
$icon-phone: "\e922";
$icon-arrow-long: "\e921";
$icon-extreme: "\e920";
$icon-arrow-left: "\e900";
$icon-arrow-short: "\e901";
$icon-arrow-right: "\e902";
$icon-attention: "\e903";
$icon-balloon: "\e904";
$icon-chat: "\e905";
$icon-check: "\e906";
$icon-check-circle: "\e907";
$icon-close: "\e908";
$icon-comment: "\e909";
$icon-compare: "\e90a";
$icon-decrease: "\e90b";
$icon-education: "\e90c";
$icon-food-tray: "\e90d";
$icon-gift: "\e90e";
$icon-guitar: "\e90f";
$icon-self-care: "\e910";
$icon-increase: "\e911";
$icon-like: "\e912";
$icon-menu: "\e913";
$icon-menu-circle: "\e914";
$icon-menu-list: "\e915";
$icon-minus: "\e916";
$icon-notification: "\e917";
$icon-paint: "\e918";
$icon-plus: "\e919";
$icon-refresh: "\e91a";
$icon-running: "\e91b";
$icon-search: "\e91c";
$icon-time: "\e91d";
$icon-user: "\e91e";
$icon-arrow-down: "\e91f";
