@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

@mixin hidePlaceholder {
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
  &::placeholder {
    @content;
  }
}

@mixin stitches-sprite($x: 0, $y: 0, $width: 0, $height: 0) {
  width: $width;
  height: $height;
  background-position: $x $y;
}

@function rem($size) {
  @return ($size/16)+rem;
}
