<div class="entertainment">
  <div class="entertainment-holder container js__tabs">
    <ul class="entertainment-sidebar js__tabs-list list-unstyled">
      <li class="nav-section-item tab-links icon-arrow-right js__tab-nav active" data-tab="nav-section-item-01">
        <span class="nav-section-item__decor icon-paint"></span>
        <span class="nav-section-item__text">Творчество</span>
      </li>
      <li class="nav-section-item tab-links icon-arrow-right js__tab-nav" data-tab="nav-section-item-02">
        <span class="nav-section-item__decor icon-guitar"></span>
        <span class="nav-section-item__text">Музыка</span>
      </li>

      <li class="nav-section-item tab-links icon-arrow-right js__tab-nav" data-tab="nav-section-item-03">
        <span class="nav-section-item__decor icon-food-tray"></span>
        <span class="nav-section-item__text">Еда и напитки</span>
      </li>
      <li class="nav-section-item tab-links icon-arrow-right js__tab-nav" data-tab="nav-section-item-04">
        <span class="nav-section-item__decor icon-self-care"></span>
        <span class="nav-section-item__text">Уход за собой</span>
      </li>
      <li class="nav-section-item tab-links icon-arrow-right js__tab-nav" data-tab="nav-section-item-05">
        <span class="nav-section-item__decor icon-extreme"></span>
        <span class="nav-section-item__text">Экстрим</span>
      </li>
      <li class="nav-section-item tab-links icon-arrow-right js__tab-nav" data-tab="nav-section-item-06">
        <span class="nav-section-item__decor icon-running"></span>
        <span class="nav-section-item__text">Спорт</span>
      </li>
      <li class="nav-section-item tab-links icon-arrow-right js__tab-nav" data-tab="nav-section-item-07">
        <span class="nav-section-item__decor icon-education"></span>
        <span class="nav-section-item__text">Развитие</span>
      </li>
      <li class="nav-section-item tab-links icon-arrow-right js__tab-nav" data-tab="nav-section-item-08">
        <span class="nav-section-item__decor icon-balloon"></span>
        <span class="nav-section-item__text">Разное</span>
      </li>
    </ul>

    <div class="entertainment-content">
      <div class="entertainment-section tab-panel js__tab-panel active" id="nav-section-item-01">
        <h2 class="entertainment-title">
          <a href="#" class="entertainment-title__link link-decor">Творчество</a>
        </h2>

        <div class="entertainment-boxed">
          <div class="entertainment-box">
            <div class="entertainment-box__title">
              <a href="#" class="entertainment-box__title-link">Живопись</a>
            </div>
            <ul class="entertainment-box__list list-unstyled">
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Роспись по стеклу</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Валяние из войлока</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Приготовление мыла</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Создание авторских украшений</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по живописи</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по флористике</a>
              </li>
            </ul>
          </div>

          <div class="entertainment-box">
            <div class="entertainment-box__title">
              <a href="#" class="entertainment-box__title-link">Танцевальное</a>
            </div>
            <ul class="entertainment-box__list list-unstyled">
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по восточным танцам</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по хип-хопу</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по балету</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по танго</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по бачате</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по брейкдансу</a>
              </li>
            </ul>
          </div>

          <div class="entertainment-box">
            <div class="entertainment-box__title">
              <a href="#" class="entertainment-box__title-link">Музыкальное</a>
            </div>
            <ul class="entertainment-box__list list-unstyled">
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по вокалу</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс игры на барабанах</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс DJ</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс игры на фортепиано</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс игры на гитаре</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс игры на флейте</a>
              </li>
            </ul>
          </div>

          <div class="entertainment-box">
            <div class="entertainment-box__title">
              <a href="#" class="entertainment-box__title-link">Кулинария</a>
            </div>
            <ul class="entertainment-box__list list-unstyled">
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс бармена</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Приготовление суши</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Кондитерское искусство</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер-класс по приготовлению пряников</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по шоколадоварению</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Церемония приготовления какао</a>
              </li>
            </ul>
          </div>

          <div class="entertainment-box">
            <div class="entertainment-box__title">
              <a href="#" class="entertainment-box__title-link">Детям</a>
            </div>
            <ul class="entertainment-box__list list-unstyled">
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Аквапарк</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Картинг</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Батуты</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Парк игрового обучения</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Развивающие игры</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Детский лагерь</a>
              </li>
            </ul>
          </div>

          <div class="entertainment-box">
            <div class="entertainment-box__title">
              <a href="#" class="entertainment-box__title-link">Разное</a>
            </div>
            <ul class="entertainment-box__list list-unstyled">
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс жонглирования</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Курс по файершоу</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс макияжа</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс прически</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Рыбалка</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Актерское мастерство</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="entertainment-section tab-panel js__tab-panel" id="nav-section-item-02">
        <h2 class="entertainment-title">
          <a href="#" class="entertainment-title__link link-decor">Музыка</a>
        </h2>

        <div class="entertainment-boxed">
          <div class="entertainment-box">
            <div class="entertainment-box__title">
              <a href="#" class="entertainment-box__title-link">Танцевальное</a>
            </div>
            <ul class="entertainment-box__list list-unstyled">
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по восточным танцам</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по хип-хопу</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по балету</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по танго</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по бачате</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по брейкдансу</a>
              </li>
            </ul>
          </div>

          <div class="entertainment-box">
            <div class="entertainment-box__title">
              <a href="#" class="entertainment-box__title-link">Музыкальное</a>
            </div>
            <ul class="entertainment-box__list list-unstyled">
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по вокалу</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс игры на барабанах</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс DJ</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс игры на фортепиано</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс игры на гитаре</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс игры на флейте</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="entertainment-section tab-panel js__tab-panel" id="nav-section-item-03">
        <h2 class="entertainment-title">
          <a href="#" class="entertainment-title__link link-decor">Еда и напитки</a>
        </h2>

        <div class="entertainment-boxed">
          <div class="entertainment-box">
            <div class="entertainment-box__title">
              <a href="#" class="entertainment-box__title-link">Кулинария</a>
            </div>
            <ul class="entertainment-box__list list-unstyled">
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс бармена</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Приготовление суши</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Кондитерское искусство</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер-класс по приготовлению пряников</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по шоколадоварению</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Церемония приготовления какао</a>
              </li>
            </ul>
          </div>

          <div class="entertainment-box">
            <div class="entertainment-box__title">
              <a href="#" class="entertainment-box__title-link">Детям</a>
            </div>
            <ul class="entertainment-box__list list-unstyled">
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Аквапарк</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Картинг</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Батуты</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Парк игрового обучения</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Развивающие игры</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Детский лагерь</a>
              </li>
            </ul>
          </div>

          <div class="entertainment-box">
            <div class="entertainment-box__title">
              <a href="#" class="entertainment-box__title-link">Разное</a>
            </div>
            <ul class="entertainment-box__list list-unstyled">
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс жонглирования</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Курс по файершоу</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс макияжа</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс прически</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Рыбалка</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Актерское мастерство</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="entertainment-section tab-panel js__tab-panel" id="nav-section-item-04">
        <h2 class="entertainment-title">
          <a href="#" class="entertainment-title__link link-decor">Уход за собою</a>
        </h2>

        <div class="entertainment-boxed">
          <div class="entertainment-box">
            <div class="entertainment-box__title">
              <a href="#" class="entertainment-box__title-link">Живопись</a>
            </div>
            <ul class="entertainment-box__list list-unstyled">
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Роспись по стеклу</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Валяние из войлока</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Приготовление мыла</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Создание авторских украшений</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по живописи</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по флористике</a>
              </li>
            </ul>
          </div>

          <div class="entertainment-box">
            <div class="entertainment-box__title">
              <a href="#" class="entertainment-box__title-link">Разное</a>
            </div>
            <ul class="entertainment-box__list list-unstyled">
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс жонглирования</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Курс по файершоу</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс макияжа</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс прически</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Рыбалка</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Актерское мастерство</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="entertainment-section tab-panel js__tab-panel" id="nav-section-item-05">
        <h2 class="entertainment-title">
          <a href="#" class="entertainment-title__link link-decor">Экстрим</a>
        </h2>

        <div class="entertainment-boxed">
          <div class="entertainment-box">
            <div class="entertainment-box__title">
              <a href="#" class="entertainment-box__title-link">Танцевальное</a>
            </div>
            <ul class="entertainment-box__list list-unstyled">
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по восточным танцам</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по хип-хопу</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по балету</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по танго</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по бачате</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по брейкдансу</a>
              </li>
            </ul>
          </div>

          <div class="entertainment-box">
            <div class="entertainment-box__title">
              <a href="#" class="entertainment-box__title-link">Разное</a>
            </div>
            <ul class="entertainment-box__list list-unstyled">
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс жонглирования</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Курс по файершоу</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс макияжа</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс прически</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Рыбалка</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Актерское мастерство</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="entertainment-section tab-panel js__tab-panel" id="nav-section-item-06">
        <h2 class="entertainment-title">
          <a href="#" class="entertainment-title__link link-decor">Спорт</a>
        </h2>

        <div class="entertainment-boxed">
          <div class="entertainment-box">
            <div class="entertainment-box__title">
              <a href="#" class="entertainment-box__title-link">Танцевальное</a>
            </div>
            <ul class="entertainment-box__list list-unstyled">
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по восточным танцам</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по хип-хопу</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по балету</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по танго</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по бачате</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по брейкдансу</a>
              </li>
            </ul>
          </div>

          <div class="entertainment-box">
            <div class="entertainment-box__title">
              <a href="#" class="entertainment-box__title-link">Детям</a>
            </div>
            <ul class="entertainment-box__list list-unstyled">
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Аквапарк</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Картинг</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Батуты</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Парк игрового обучения</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Развивающие игры</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Детский лагерь</a>
              </li>
            </ul>
          </div>

          <div class="entertainment-box">
            <div class="entertainment-box__title">
              <a href="#" class="entertainment-box__title-link">Разное</a>
            </div>
            <ul class="entertainment-box__list list-unstyled">
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс жонглирования</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Курс по файершоу</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс макияжа</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс прически</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Рыбалка</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Актерское мастерство</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="entertainment-section tab-panel js__tab-panel" id="nav-section-item-07">
        <h2 class="entertainment-title">
          <a href="#" class="entertainment-title__link link-decor">Развитие</a>
        </h2>

        <div class="entertainment-boxed">
          <div class="entertainment-box">
            <div class="entertainment-box__title">
              <a href="#" class="entertainment-box__title-link">Детям</a>
            </div>
            <ul class="entertainment-box__list list-unstyled">
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Аквапарк</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Картинг</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Батуты</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Парк игрового обучения</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Развивающие игры</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Детский лагерь</a>
              </li>
            </ul>
          </div>

          <div class="entertainment-box">
            <div class="entertainment-box__title">
              <a href="#" class="entertainment-box__title-link">Живопись</a>
            </div>
            <ul class="entertainment-box__list list-unstyled">
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Роспись по стеклу</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Валяние из войлока</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Приготовление мыла</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Создание авторских украшений</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по живописи</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по флористике</a>
              </li>
            </ul>
          </div>

          <div class="entertainment-box">
            <div class="entertainment-box__title">
              <a href="#" class="entertainment-box__title-link">Танцевальное</a>
            </div>
            <ul class="entertainment-box__list list-unstyled">
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по восточным танцам</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по хип-хопу</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по балету</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по танго</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по бачате</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по брейкдансу</a>
              </li>
            </ul>
          </div>

          <div class="entertainment-box">
            <div class="entertainment-box__title">
              <a href="#" class="entertainment-box__title-link">Музыкальное</a>
            </div>
            <ul class="entertainment-box__list list-unstyled">
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс по вокалу</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс игры на барабанах</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс DJ</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс игры на фортепиано</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс игры на гитаре</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс игры на флейте</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="entertainment-section tab-panel js__tab-panel" id="nav-section-item-08">
        <h2 class="entertainment-title">
          <a href="#" class="entertainment-title__link link-decor">Разное</a>
        </h2>

        <div class="entertainment-boxed">
          <div class="entertainment-box">
            <div class="entertainment-box__title">
              <a href="#" class="entertainment-box__title-link">Разное</a>
            </div>
            <ul class="entertainment-box__list list-unstyled">
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс жонглирования</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Курс по файершоу</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс макияжа</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Мастер класс прически</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Рыбалка</a>
              </li>
              <li class="entertainment-box__item">
                <a href="#" class="entertainment-box__link">Актерское мастерство</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

