<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-nav__wrap col-xl-8 col-lg-12">
        <div class="row">
          <div class="footer-nav col-lg-3 col-md-4">
            <div class="footer-nav__title">
              <a href="#" class="footer-nav__title-link icon-paint">Творчество</a>
            </div>
            <ul class="footer-nav__list list-unstyled">
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Творчество</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Кулинария</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Музыкальное</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Танцевальное</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Детям</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Разное</a>
              </li>
            </ul>
          </div>

          <div class="footer-nav col-lg-3 col-md-4">
            <div class="footer-nav__title">
              <a href="#" class="footer-nav__title-link icon-guitar">Музыка</a>
            </div>
            <ul class="footer-nav__list list-unstyled">
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Массаж</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Спа программы</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Для рук и ног</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Для головы</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Пилинг</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Необычные причёски</a>
              </li>
            </ul>
          </div>

          <div class="footer-nav col-lg-3 col-md-4">
            <div class="footer-nav__title">
              <a href="#" class="footer-nav__title-link icon-food-tray">Еда и напитки</a>
            </div>
            <ul class="footer-nav__list list-unstyled">
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Полет</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Гонки</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Водные</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Прыжки</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Мотоциклы</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Квадроциклы</a>
              </li>
            </ul>
          </div>

          <div class="footer-nav col-lg-3 col-md-4">
            <div class="footer-nav__title">
              <a href="#" class="footer-nav__title-link icon-self-care">Уход за собой</a>
            </div>
            <ul class="footer-nav__list list-unstyled">
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Творчество</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Кулинария</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Музыкальное</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Танцевальное</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Детям</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Разное</a>
              </li>
            </ul>
          </div>

          <div class="footer-nav col-lg-3 col-md-4">
            <div class="footer-nav__title">
              <a href="#" class="footer-nav__title-link icon-extreme">Экстрим</a>
            </div>
            <ul class="footer-nav__list list-unstyled">
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Творчество</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Кулинария</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Музыкальное</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Танцевальное</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Детям</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Разное</a>
              </li>
            </ul>
          </div>

          <div class="footer-nav col-lg-3 col-md-4">
            <div class="footer-nav__title">
              <a href="#" class="footer-nav__title-link icon-running">Спорт </a>
            </div>
            <ul class="footer-nav__list list-unstyled">
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Массаж</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Спа программы</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Для рук и ног</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Для головы</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Пилинг</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Необычные причёски</a>
              </li>
            </ul>
          </div>

          <div class="footer-nav col-lg-3 col-md-4">
            <div class="footer-nav__title">
              <a href="#" class="footer-nav__title-link icon-education">Развитие</a>
            </div>
            <ul class="footer-nav__list list-unstyled">
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Полет</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Гонки</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Водные</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Прыжки</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Мотоциклы</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Квадроциклы</a>
              </li>
            </ul>
          </div>

          <div class="footer-nav col-lg-3 col-md-4">
            <div class="footer-nav__title">
              <a href="#" class="footer-nav__title-link icon-balloon">Разное</a>
            </div>
            <ul class="footer-nav__list list-unstyled">
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Творчество</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Кулинария</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Музыкальное</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Танцевальное</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Детям</a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link link-decor">Разное</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="footer-box__title">Fun2Day</div>

        <ul class="footer-nav__list list-unstyled">
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link link-decor">О проекте</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link link-decor">Гарантии</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link link-decor">Блог</a>
          </li>
          <li class="footer-nav__item">
            <span class="footer-nav__link link-decor" data-toggle="modal" data-target="#modal-auth__org">Стать организатором</span>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link link-decor">Staycation</a>
          </li>
        </ul>
      </div>

      <div class="footer-support col-xl-2 col-lg-10 col-md-12 col-6">
        <div class="footer-box">
          <div class="footer-box__title">Принимаем к&nbsp;оплате</div>

          <ul class="support-list list-unstyled">
            <li class="support-item">
              <span class="support-icon icon-visa"></span>
            </li>
            <li class="support-item">
              <span class="support-icon icon-mastercard"></span>
            </li>
            <li class="support-item">
              <span class="support-icon icon-maestro"></span>
            </li>
            <li class="support-item">
              <span class="support-icon icon-paypal"></span>
            </li>
            <li class="support-item">
              <span class="support-icon icon-mir"></span>
            </li>
          </ul>
        </div>

        <div class="footer-box">
          <div class="footer-box__title">Присоединяйтесь <span class="footer-box__title-text">к&nbsp;нам</span></div>
          <ul class="support-list list-unstyled">
            <li class="support-item">
              <a href="#" class="support-icon icon-instagram" rel="nofollow" target="_blank"></a>
            </li>
            <li class="support-item">
              <a href="#" class="support-icon icon-twitter" rel="nofollow" target="_blank"></a>
            </li>
            <li class="support-item">
              <a href="#" class="support-icon icon-vk" rel="nofollow" target="_blank"></a>
            </li>
            <li class="support-item">
              <a href="#" class="support-icon icon-facebook" rel="nofollow" target="_blank"></a>
            </li>
            <li class="support-item">
              <a href="#" class="support-icon icon-ok" rel="nofollow" target="_blank"></a>
            </li>
          </ul>
        </div>

        <div class="footer-box">
          <div class="footer-box__title">Напишите нам</div>
          <ul class="support-list list-unstyled">
            <li class="support-item">
              <a href="#" class="support-icon icon-whats-app" rel="nofollow" target="_blank"></a>
            </li>
            <li class="support-item">
              <a href="#" class="support-icon icon-vider" rel="nofollow" target="_blank"></a>
            </li>
            <li class="support-item">
              <a href="#" class="support-icon icon-telegram" rel="nofollow" target="_blank"></a>
            </li>
            <li class="support-item">
              <a href="#" class="support-icon icon-email" rel="nofollow" target="_blank"></a>
            </li>
            <li class="support-item">
              <a href="#" class="support-icon icon-skype" rel="nofollow" target="_blank"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
