<h2 class="personal-area-h2">Поддержка</h2>

<ul class="list-unstyled">
  <li class="list-item"><a href="#">Как работает Fun2Day</a></li>
  <li class="list-item"><a href="#">Правила создания бренда</a></li>
  <li class="list-item"><a href="#">Правила создания филиала</a></li>
  <li class="list-item"><a href="#">Правила создания мероприятия</a></li>
  <li class="list-item"><a href="#">Тарифы и платежи</a></li>
  <li class="list-item"><a href="#">Видеоуроки</a></li>
</ul>
