<div class="top-panel-currency dropdown">
  <div class="dropdown-toggle js__dropdown-toggle icon-arrow-down">RUB</div>

  <form class="dropdown-menu dropdown-menu__decor dropdown-menu__right">
    <ul class="dropdown-list list-unstyled">
      <li class="dropdown-item">
        <label class="custom-control custom-radio">
          <input type="radio" name="radio2" class="custom-control-input" checked>
          <span class="custom-control-label">RUB - Russian Ruble</span>
        </label>
      </li>
      <li class="dropdown-item">
        <label class="custom-control custom-radio">
          <input type="radio" name="radio2" class="custom-control-input">
          <span class="custom-control-label">USD - U.S. Dollar</span>
        </label>
      </li>
      <li class="dropdown-item">
        <label class="custom-control custom-radio">
          <input type="radio" name="radio2" class="custom-control-input">
          <span class="custom-control-label">EUR - Euro</span>
        </label>
      </li>
      <li class="dropdown-item">
        <label class="custom-control custom-radio">
          <input type="radio" name="radio2" class="custom-control-input">
          <span class="custom-control-label">GBP - Pound sterling</span>
        </label>
      </li>
      <li class="dropdown-item">
        <label class="custom-control custom-radio">
          <input type="radio" name="radio2" class="custom-control-input">
          <span class="custom-control-label">CNY - Yuán</span>
        </label>
      </li>
    </ul>
  </form>
</div>
