<div class="top-panel-lang dropdown">
  <div class="dropdown-toggle js__dropdown-toggle icon-arrow-down">
    <svg class="dropdown-icon">
      <use xlink:href="img/countries.svg#ru"></use>
    </svg>
    RU
  </div>

  <form class="dropdown-menu dropdown-menu__decor">
    <ul class="dropdown-list list-unstyled">
      <li class="dropdown-item">
        <label class="custom-control custom-radio">
          <input type="radio" name="radio2" class="custom-control-input" checked>
          <span class="custom-control-label">
                <svg class="dropdown-icon">
                  <use xlink:href="img/countries.svg#ru"></use>
                </svg> Русский (RU)
                </span>
        </label>
      </li>
      <li class="dropdown-item">
        <label class="custom-control custom-radio">
          <input type="radio" name="radio2" class="custom-control-input">
          <span class="custom-control-label">
                <svg class="dropdown-icon">
                  <use xlink:href="img/countries.svg#uk"></use>
                </svg> English (UK)
                </span>
        </label>
      </li>
      <li class="dropdown-item">
        <label class="custom-control custom-radio">
          <input type="radio" name="radio2" class="custom-control-input">
          <span class="custom-control-label">
                <svg class="dropdown-icon">
                  <use xlink:href="img/countries.svg#es"></use>
                </svg> Español (ES)
                </span>
        </label>
      </li>
      <li class="dropdown-item">
        <label class="custom-control custom-radio">
          <input type="radio" name="radio2" class="custom-control-input">
          <span class="custom-control-label">
                <svg class="dropdown-icon">
                  <use xlink:href="img/countries.svg#pt"></use>
                </svg> Português (PT)
                </span>
        </label>
      </li>
      <li class="dropdown-item">
        <label class="custom-control custom-radio">
          <input type="radio" name="radio2" class="custom-control-input" >
          <span class="custom-control-label">
                <svg class="dropdown-icon">
                  <use xlink:href="img/countries.svg#cn"></use>
                </svg> 繁體中文 (CN)
                </span>
        </label>
      </li>
    </ul>
  </form>
</div>
