<!-- BEGIN: mobile component -->
<header class="header header-fixed">
  <div class="container">
    <div class="header-holder row">
      <div class="col-2">
        <div class="header-toggle btn-circle btn-circle__small icon-menu"></div>
      </div>

      <div class="col-4 mx-auto">
        <a href="#about-org-header" class="header-logo js__go-anchor"><img src="img/logo.svg" alt="fun2day"></a>
      </div>

      <div class="col-2 text-right">
        <div class="btn-circle btn-circle__small icon-user" data-toggle="modal" data-target="#modal-auth__org"></div>
      </div>
    </div>
  </div>
</header>
<!-- END: mobile component -->
