<div class="menu">
  <div class="container js__tabs">
    <ul class="menu-tabs nav-tabs mb-3 list-unstyled js__tabs-list">
      <li class="nav-tabs__item js__tab-nav active" data-tab="menu-tab-1">
        <div class="nav-tabs__text">Главное меню</div>
      </li>
      <li class="nav-tabs__item js__tab-nav" data-tab="menu-tab-2">
        <div class="nav-tabs__text">Все развлечения</div>
      </li>
    </ul>

    <div class="tab-panel js__tab-panel active" id="menu-tab-1">
      <div class="menu-compare menu-link icon-arrow-right">
        Сравнение мероприятий
        <span class="menu-compare__counter">2</span>
      </div>

      <ul class="menu-list list-unstyled">
        <li class="menu-item"><a href="#" class="menu-link icon-arrow-right">О проекте</a></li>
        <li class="menu-item"><a href="#" class="menu-link icon-arrow-right">Гарантии</a></li>
        <li class="menu-item"><a href="#" class="menu-link icon-arrow-right">Staycation</a></li>
        <li class="menu-item"><a href="#" class="menu-link icon-arrow-right">Блог</a></li>
        <li class="menu-item"><a href="#" class="menu-link icon-arrow-right">Стать организатором</a></li>
      </ul>

      <aside class="menu-info">
        <div class="menu-info__label">Язык и валюта</div>

        <div class="menu-link menu-info__item">
          <svg class="menu-info__icon">
            <use xlink:href="img/countries.svg#ru"></use>
          </svg>
          Русский (RU)
        </div>

        <div class="menu-link menu-info__item">RUB - Russian Ruble</div>
      </aside>
    </div>

    <div class="tab-panel js__tab-panel" id="menu-tab-2">
      <ul class="list-unstyled">
        <li class="menu-entertainment__item js__tab-item icon-paint" data-tab="menu-entertainment-01">
          <span class="menu-entertainment__text">Творчество</span>
        </li>
        <li class="menu-entertainment__item js__tab-item icon-guitar" data-tab="menu-entertainment-02">
          <span class="menu-entertainment__text">Музыка</span>
        </li>
        <li class="menu-entertainment__item js__tab-item icon-food-tray" data-tab="menu-entertainment-03">
          <span class="menu-entertainment__text">Еда и напитки</span>
        </li>
        <li class="menu-entertainment__item js__tab-item icon-self-care" data-tab="menu-entertainment-04">
          <span class="menu-entertainment__text">Уход за собой</span>
        </li>
        <li class="menu-entertainment__item js__tab-item icon-extreme" data-tab="menu-entertainment-05">
          <span class="menu-entertainment__text">Экстрим</span>
        </li>
        <li class="menu-entertainment__item js__tab-item icon-running" data-tab="menu-entertainment-06">
          <span class="menu-entertainment__text">Спорт</span>
        </li>
        <li class="menu-entertainment__item js__tab-item icon-education" data-tab="menu-entertainment-07">
          <span class="menu-entertainment__text">Развитие</span>
        </li>
        <li class="menu-entertainment__item js__tab-item icon-balloon" data-tab="menu-entertainment-08">
          <span class="menu-entertainment__text">Разное</span>
        </li>
      </ul>

      <div class="menu-entertainment">
        <div class="tab-panel js__tab-box" id="menu-entertainment-01">
          <h2><a href="#" class="menu-entertainment__title-link">Творчество</a></h2>

          <ul class="mini-card list-unstyled">
            <li class="mini-card-item">
              <a href="#" class="mini-card-link">
                <img src="img/example/entertainment-01.jpg" class="mini-card-img" alt="">
                Живопись
              </a>
            </li>
            <li class="mini-card-item">
              <a href="#" class="mini-card-link">
                <img src="img/example/entertainment-02.jpg" class="mini-card-img" alt="">
                Музыкальное
              </a>
            </li>
            <li class="mini-card-item">
              <a href="#" class="mini-card-link">
                <img src="img/example/entertainment-03.jpg" class="mini-card-img" alt="">
                Танцевальное
              </a>
            </li>
            <li class="mini-card-item">
              <a href="#" class="mini-card-link">
                <img src="img/example/entertainment-04.jpg" class="mini-card-img" alt="">
                Кулинария
              </a>
            </li>
            <li class="mini-card-item">
              <a href="#" class="mini-card-link">
                <img src="img/example/entertainment-05.jpg" class="mini-card-img" alt="">
                Детям
              </a>
            </li>
            <li class="mini-card-item">
              <a href="#" class="mini-card-link">
                <img src="img/example/entertainment-06.jpg" class="mini-card-img" alt="">
                Разное
              </a>
            </li>
          </ul>

          <a href="#">Посмотреть все предложения >>></a>
        </div>

        <div class="tab-panel js__tab-box" id="menu-entertainment-02">
          <h2><a href="#" class="menu-entertainment__title-link">Музыка</a></h2>

          <ul class="mini-card list-unstyled">
            <li class="mini-card-item">
              <a href="#" class="mini-card-link">
                <img src="img/example/entertainment-02.jpg" class="mini-card-img" alt="">
                Музыкальное
              </a>
            </li>
            <li class="mini-card-item">
              <a href="#" class="mini-card-link">
                <img src="img/example/entertainment-03.jpg" class="mini-card-img" alt="">
                Танцевальное
              </a>
            </li>
            <li class="mini-card-item">
              <a href="#" class="mini-card-link">
                <img src="img/example/entertainment-06.jpg" class="mini-card-img" alt="">
                Разное
              </a>
            </li>
            <li class="mini-card-item">
              <a href="#" class="mini-card-link">
                <img src="img/example/entertainment-05.jpg" class="mini-card-img" alt="">
                Детям
              </a>
            </li>
            <li class="mini-card-item">
              <a href="#" class="mini-card-link">
                <img src="img/example/entertainment-01.jpg" class="mini-card-img" alt="">
                Живопись
              </a>
            </li>
          </ul>

          <a href="#">Посмотреть все предложения >>></a>
        </div>

        <div class="tab-panel js__tab-box" id="menu-entertainment-03">
          <h2><a href="#" class="menu-entertainment__title-link">Еда и напитки</a></h2>

          <ul class="mini-card list-unstyled">
            <li class="mini-card-item">
              <a href="#" class="mini-card-link">
                <img src="img/example/entertainment-04.jpg" class="mini-card-img" alt="">
                Кулинария
              </a>
            </li>
            <li class="mini-card-item">
              <a href="#" class="mini-card-link">
                <img src="img/example/entertainment-05.jpg" class="mini-card-img" alt="">
                Детям
              </a>
            </li>
            <li class="mini-card-item">
              <a href="#" class="mini-card-link">
                <img src="img/example/entertainment-06.jpg" class="mini-card-img" alt="">
                Разное
              </a>
            </li>
          </ul>

          <a href="#">Посмотреть все предложения >>></a>
        </div>

        <div class="tab-panel js__tab-box" id="menu-entertainment-04">
          <h2><a href="#" class="menu-entertainment__title-link">Уход за собой</a></h2>

        </div>

        <div class="tab-panel js__tab-box" id="menu-entertainment-05">
          <h2><a href="#" class="menu-entertainment__title-link">Экстрим</a></h2>

        </div>

        <div class="tab-panel js__tab-box" id="menu-entertainment-06">
          <h2><a href="#" class="menu-entertainment__title-link">Спорт</a></h2>

        </div>

        <div class="tab-panel js__tab-box" id="menu-entertainment-07">
          <h2><a href="#" class="menu-entertainment__title-link">Развитие</a></h2>

        </div>

        <div class="tab-panel js__tab-box" id="menu-entertainment-08">
          <h2><a href="#" class="menu-entertainment__title-link">Разное</a></h2>

        </div>

        <div class="menu-entertainment__close btn-circle btn-circle__small icon-arrow-short"></div>
      </div>
    </div>
  </div>
</div>

