<div class="search-panel">
  <div class="search-panel-holder container">
    <!-- Begin: component tag-list -->
    <ul class="search-panel__tag tag-list list-unstyled">
      <li class="tag-list__item"><a href="#" class="tag-list__link">Мини тэг</a></li>
      <li class="tag-list__item"><a href="#" class="tag-list__link">Короткий тэг</a></li>
      <li class="tag-list__item"><a href="#" class="tag-list__link">Тэг</a></li>
      <li class="tag-list__item"><a href="#" class="tag-list__link">Тэг 11</a></li>
      <li class="tag-list__item"><a href="#" class="tag-list__link">Длинный тэг</a></li>
      <li class="tag-list__item"><a href="#" class="tag-list__link">Короткий тэг</a></li>
      <li class="tag-list__item"><a href="#" class="tag-list__link">Ещё какой-то тэг</a></li>
      <li class="tag-list__item"><a href="#" class="tag-list__link">Короткий тэг</a></li>
      <li class="tag-list__item"><a href="#" class="tag-list__link">Ещё какой-то тэг</a></li>
      <li class="tag-list__item"><a href="#" class="tag-list__link">Короткий тэг</a></li>
      <li class="tag-list__item"><a href="#" class="tag-list__link">Это тэг</a></li>
      <li class="tag-list__item"><a href="#" class="tag-list__link">Мини тэг</a></li>
      <li class="tag-list__item"><a href="#" class="tag-list__link">Тэг 11</a></li>
      <li class="tag-list__item"><a href="#" class="tag-list__link">Тэг</a></li>
    </ul>
    <!-- END: component tag-list -->

    <h2>Лучшие предложения</h2>

    <ul class="nav-direction-list list-unstyled">
      <li class="nav-direction-item"><a href="#" class="icon-education nav-direction-link">Новые</a></li>
      <li class="nav-direction-item"><a href="#" class="icon-balloon nav-direction-link">Детские</a></li>
      <li class="nav-direction-item"><a href="#" class="icon-gift nav-direction-link">Подарок</a></li>
      <li class="nav-direction-item"><a href="#" class="icon-time nav-direction-link">Вечерние</a></li>
      <li class="nav-direction-item"><a href="#" class="icon-user nav-direction-link">Групповые</a></li>
    </ul>
  </div>
</div>
