<!-- Begin: result panel -->
<div class="search-result">
  <div class="search-result__list">
    <a href="#" class="result-item">
      <img src="img/example/search-result-01.png" class="result-img" alt="">
      <div class="result-text">
        Мастер класс по приготовлению зелёного чая собранного в горах Индии ручным методом
      </div>
    </a>
    <a href="#" class="result-item">
      <img src="img/example/search-result-02.png" class="result-img" alt="">
      <div class="result-text">
        Мастер класс по приготовлению зелёного чая собранного в горах Индии ручным методом
      </div>
    </a>
    <a href="#" class="result-item">
      <img src="img/example/search-result-03.png" class="result-img" alt="">
      <div class="result-text">
        Мастер класс по приготовлению зелёного чая собранного в горах Индии ручным методом
      </div>
    </a>
    <a href="#" class="result-item">
      <img src="img/example/search-result-04.png" class="result-img" alt="">
      <div class="result-text">
        Мастер класс по приготовлению зелёного чая собранного в горах Индии ручным методом
      </div>
    </a>
  </div>

  <div class="result-all">
    <a href="#" class="btn btn-bright"><span class="btn-text">Посмотреть все предложения</span></a>
  </div>
</div>
<!-- END: result panel -->
