{% extends "layout/layout.twig" %}
{% set title = "АГЕНТСКИЙ ДОГОВОР FUN2DAY - fun2day" %}
{% block content %}

<div class="g-agree">
  <div class="container">
    <div class="g-agree-header">
      <div>
        <span class="g-agree-header__text">АГЕНТСКИЙ ДОГОВОР</span>
        <span class="g-agree-header__name">FUN2DAY</span>
      </div>

      <div class="g-agree-close">
        <svg class="g-close">
          <use xlink:href="/img/sprite.svg#close"></use>
        </svg>
      </div>
    </div>

    <div class="g-agree-steps">
      <div>
        <div class="g-agree-steps__title">Что необходимо сделать?</div>

        <ol class="g-list-num">
          <li class="g-list-num__item">
            Прочитайте договор и&nbsp;согласитесь с&nbsp;его условиями в&nbsp;электронном виде.
          </li>
          <li class="g-list-num__item">
            Скачайте, заполните и&nbsp;подпишите &laquo;Заявления-оферты Принципала&raquo;.
          </li>
          <li class="g-list-num__item">
            Отправьте скан заявления оферты по&nbsp;электронному адресу <a href="mailto:org@fun2day.ru">org@fun2day.ru</a>.
          </li>
          <li class="g-list-num__item">
            Приложите к&nbsp;письму сканы всех необходимых документов, указанных в&nbsp;оферте.
          </li>
        </ol>
      </div>
    </div>
  </div>

  <div class="g-agree-content">
    <div class="container">
      <div class="g-agree-content__title">Содержание договора</div>

      <div class="g-agree-content__inner">
          <div class="g-agree-content__container">
            <div class="g-agree-content__box">
              <ol class="g-agree-contract g-agree-contract__first">
                <li>
                  <p>
                    <span class="legal">Термины и определения</span>
                  </p>
                  <p>
                    <span class="legal">Агент - индивидуальный предприниматель Качалуба Марина Владимировна (ОГРНИП 320774600029987).</span>
                  </p>
                  <p>
                    <span class="legal">ГК РФ – Гражданский кодекс Российской Федерации.</span>
                    <span class="essence">О том, что написано в договоре, лучше разговаривать не с другом, а с юристом.</span>
                  </p>

                  <p>
                    <span class="legal">Договор об участии в Мероприятии - договор об оказании услуг, связанных с проведением
                  Мероприятия (Услуг Принципала), заключаемый между Принципал и Потребителем
                  посредством использования Сервиса.</span>

                    <span class="essence">Тут написано, что вы заключаете с компанией договор об оказании услуг.</span>
                  </p>

                  <p>
                    <span class="legal">Заявление-оферта - имеет значение, определенное в пункте 3.1 Договора.</span>
                  </p>

                  <p>
                    <span class="legal">Конфиденциальная информация - любая информация, передаваемая одной Стороной
                  (раскрывающей Стороной) другой стороне (принимающей Стороне) в любой форме, к
                  которой у третьих лиц нет свободного доступа на законном основании и которая обозначена
                  раскрывающей Стороной как конфиденциальная, в том числе любая научно-техническая,
                  технологическая, производственная, юридическая, финансово-экономическая информация, а
                  также информация о местоположении и другая информация с устройств, персональные
                  данные физических лиц.</span>
                    <span class="essence">Компания Fun2Day - это новый стартап на рынке досуга и развлечений. Мы образовались в 2020 году и создали для вас удобную платформу, на которой вы сможете найти для себя любое мероприятие, чтобы провести свое свободное время с пользой и удовольствием.</span>
                  </p>

                  <p>
                    <span class="legal">Личный кабинет - программный интерфейс взаимодействия Принципала с Сервисом,
                  который содержит информацию о Принципале, данные о бронированиях и иную информацию
                  в отношении Услуг Принципала, а также предоставляет возможность удаленного
                  взаимодействия Сторон в рамках Договора, доступный Принципалу после регистрации и
                  авторизации с использованием логина и пароля Принципала на веб-сайте fun2day.ru, через
                  прикладные программы (в том числе программы для мобильных устройств) или API.</span>
                    <span class="essence">Тут написано, что вы не должны рассказывать всем ваш пароль к сайту.</span>
                  </p>

                  <p>
                    <span class="legal">Мероприятие - экскурсия, поездка, праздник, мастер-класс или иное развлекательное
                  мероприятие, которое Принципал организует для Потребителей в рамках оказания Услуг
                  Принципала, и информацию о котором Принципал размещает на Сервисе; термины
                  "размещение Мероприятия" и "публикация Мероприятия" определяются в соответствии
                  с пунктами 4.1 и 4.3 Договора, соответственно.</span>
                  </p>

                  <p>
                    <span class="legal">Период бесплатной отмены – определяемый Принципалом период, в течение которого
                  отмена бронирования Потребителем возможна с полным возвратом Предварительной оплаты.</span>
                  </p>

                  <p>
                    <span class="legal">Потребитель - зарегистрированное на Сервисе физическое лицо, выразившее намерение
                  принять участие в Мероприятии.</span>
                  </p>

                  <p>
                    <span class="legal">Правила использования Сервиса – правила использования Сервиса, включающие в себя
                  Правила размещения Мероприятий, Правила установления стоимости мероприятия, Правила
                  общения с клиентом при бронировании мероприятия, Правила подтверждения заказа,
                  Правила добавления информации о Принципале, актуальная редакция которых всегда
                  доступна по ссылке: https://org.fun2day.ru/profile/help.</span>
                  </p>

                  <p>
                    <span class="legal">Предварительная оплата - сумма предварительной оплаты по Договору об участии в
                  Мероприятии, которую Потребитель уплачивает при бронировании Мероприятия.</span>
                  </p>

                  <p>
                    <span class="legal">Принципал - гражданин Российской Федерации, имеющий статус индивидуального
                  предпринимателя или не имеющий такового, либо юридическое лицо, учрежденное в
                  Российской Федерации, направившее Агенту заявление-оферту о заключении Договора в
                  порядке и на условиях, указанных в пункте 3.1 Договора.</span>
                  </p>

                  <p>
                    <span class="legal">Сервис - онлайн-платформа, доступная по адресу https://fun2day.ru, предоставляющая
                  пользователям доступ к базе данных "Fun2Day" - информационно-справочной системе,
                  содержащей информацию о мероприятиях развлекательного характера, предназначенную для
                  потенциальных потребителей услуг (Потребителей).</span>
                  </p>

                  <p>
                    <span class="legal">Сообщение - любое юридически значимое сообщение, предусмотренное или допускаемое
                  Договором, в том числе любые уведомления, сообщения, письма, извещения, претензии,
                  согласия.</span>
                  </p>

                  <p>
                    <span class="legal">Срок для подтверждения бронирования – имеет значение, указанное в пункте 5.3 Договора.</span>
                  </p>

                  <p>
                    <span class="legal">Стороны - Агент и Принципал; по отдельности Агент и Принципал именуются Стороной.</span>
                  </p>

                  <p>
                    <span class="legal">Страница Заказа – страница Сервиса, размещенная в личном кабинете Потребителя, на
                  которой размещено сообщение Принципала, адресованное соответствующему Потребителю
                  и содержащее информацию о Мероприятии и Принципале, а также предложение об оказании
                  Услуг Принципала, которое формируется Принципалом с учетом запросов конкретного
                  Потребителя и может отличаться от указанного на Странице Мероприятия; вся информация
                  о Мероприятии, Принципале и об условиях оказания Услуг Принципала, содержащаяся на
                  Странице Заказа, одновременно отображается у Принципала в Личном кабинете.</span>
                    <span class="essence">Компания Fun2Day - это новый стартап на рынке досуга и развлечений. Мы образовались в 2020 году и создали для вас удобную платформу, на которой вы сможете найти для себя любое мероприятие, чтобы провести свое свободное время с пользой и удовольствием.</span>
                  </p>

                  <p>
                    <span class="legal">Страница Мероприятия – страница Сервиса, на которой размещено сообщение Принципала,
                  адресованное неопределенному кругу лиц и содержащее информацию о Мероприятии и
                  Принципале, а также предложение об оказании Услуг Принципала.</span>
                  </p>

                  <p>
                    <span class="legal">Уведомление о Предварительной оплате – имеет значение, указанное в пункте 5.9
                  Договора.</span>
                  </p>

                  <p>
                    <span class="legal">Услуги Принципала - услуги, оказываемые Принципалом Потребителю по Договору об
                  участии в Мероприятии.</span>
                  </p>

                  <p>
                    <span class="legal">Услуги Агента – действия, совершаемые Агентом в интересах Принципала во исполнение
                  настоящего Договора.</span>
                  </p>

                  <p>
                    <span class="legal">Учетные данные – имеет значение, указанное в пункте 8.6 Договора.</span>
                    <span class="essence">О том, что написано в договоре, лучше разговаривать не с другом, а с юристом.</span>
                  </p>
                </li>
                <li>
                  <p>
                    <span class="legal">Предмет договора</span>
                  </p>
                  <ol class="g-agree-contract g-agree-contract__second">
                    <li>
                      <p>
                        <span class="legal">Принципал поручает, а Агент обязуется по поручению Принципала от своего имени, но за
                      счет Принципала за вознаграждение совершать следующие действия:</span>
                      </p>

                      <ol class="g-agree-contract g-agree-contract__third">
                        <li>
                          <p>
                            <span class="legal">информировать Потребителей о Мероприятиях путем предоставления Принципалу и
                          Потребителям возможности использования Сервиса;</span>
                            <span class="essence">О том, что написано в договоре, лучше разговаривать не с другом, а с юристом.</span>
                          </p>
                        </li>
                        <li>
                          <p>
                            <span class="legal">предоставлять Принципалу и Потребителям техническую возможность заключения
                          Договоров об участии в Мероприятии посредством использования Сервиса;</span>
                          </p>
                        </li>
                      </ol>
                    </li>
                  </ol>
                </li>
              </ol>
          </div>
        </div>

        <button class="g-agree-content__switch btn btn-primary js__g-agree-switch">не показывать суть текста</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="g-agree-footer">
      <div class="g-agree-footer__check">
        <div class="g-agree-footer__item">
          <label class="custom-control custom-checkbox">
            <input type="checkbox" name="acceptAgreement-1" class="custom-control-input">
            <span class="custom-control-label sprite-check">
            Я согласен с первым и вторым пунктами настоящего договора.
          </span>
          </label>
        </div>

        <div class="g-agree-footer__item">
          <label class="custom-control custom-checkbox">
            <input type="checkbox" name="acceptAgreement-2" class="custom-control-input">
            <span class="custom-control-label sprite-check">
            Я согласен с третьим и четвертым пунктами настоящего договора.
          </span>
          </label>
        </div>

        <div class="g-agree-footer__item">
          <label class="custom-control custom-checkbox">
            <input type="checkbox" name="acceptAgreement-3" class="custom-control-input">
            <span class="custom-control-label sprite-check">
            Я согласен с пятым и шестым пунктами настоящего договора.
          </span>
          </label>
        </div>
      </div>

      <div class="g-agree-footer__file">
        <div class="g-agree-footer__label">Скачать файлы:</div>

        <a href="#" class="g-agree-footer__download" target="_blank" rel="nofollow">
          ЗАЯВЛЕНИЕ-ОФЕРТА ПРИНЦИПИАЛА и&nbsp;АГЕНТСКИЙ ДОГОВОР
        </a>
      </div>
    </div>

    <div class="g-agree-control">
      <button type="button" class="g-agree-control__btn btn-secondary btn">Принять договор</button>

    </div>
  </div>
</div>

<div class="cookie">
  <div class="cookie-inner">
    <div class="cookie-text">
      Я очень внимательно прочитал
      и&nbsp;соглашаюсь с&nbsp;<a href="#" rel="nofollow" target="_blank" class="cookie-link">Пользовательским соглашением</a>,
      <a href="#" rel="nofollow" target="_blank" class="cookie-link">Политикой конфиденциальности</a>
      и&nbsp;<a href="#" rel="nofollow" target="_blank" class="cookie-link">Политикой использования файлов cookie</a>.
    </div>
    <div class="cookie-right">
      <button class="cookie-confirm">ПОДТВЕРЖДАЮ</button>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}
{% block modal %}
{% endblock %}
{% block search %}
{% endblock %}
{% block entertainment %}
{% endblock %}
