{% extends "layout/layout.twig" %}
{% set title = "Главная страница - fun2day" %}
{% block content %}

<div class="g-agree">
  <div class="container">
    <div class="g-agree-header">
      <div>АГЕНТСКИЙ ДОГОВОР FUN2DAY</div>

      <div class="g-agree-close">
        <svg class="g-close">
          <use xlink:href="/img/sprite.svg#close"></use>
        </svg>
      </div>
    </div>

    <div class="g-agree-steps">
      <div>
        <div class="g-agree-steps__title">Что необходимо сделать?</div>

        <ol class="g-list-num">
          <li class="g-list-num__item">
            Прочитайте договор и согласитесь с его условиями в электронном виде.
          </li>
          <li class="g-list-num__item">
            Скачайте, заполните и подпишите “Заявления-оферты Принципала”.
          </li>
          <li class="g-list-num__item">
            Отправьте скан заявления оферты по электронному адресу <a href="mailto:org@fun2day.ru">org@fun2day.ru</a>.
          </li>
          <li class="g-list-num__item">
            Приложите к письму сканы всех необходимых документов, указанных в оферте.
          </li>
        </ol>
      </div>
    </div>
  </div>

  <div class="g-agree-main">
    <div class="container">
      <div class="g-agree-main__title">Содержание договора</div>

      <div class="g-agree-main__inner">
        <ol class="g-agree-contract" id="container">
          <li>
            Конфиденциальность. Персональные данные.
          </li>
          <li>
            Стороны обязуются предпринимать все разумные меры, чтобы не допустить получения третьими лицами доступа к Конфиденциальной информации без согласия раскрывающей стороны, если иное не установлено Договором. Указанные разумные меры должны в любом случае включать все меры, используемые принимающей Стороной для защиты собственной конфиденциальной информации, а также иные меры, указанные в настоящем разделе Договора.
          </li>
          <li>
            Конфиденциальность. Персональные данные.
          </li>
          <li>
            Стороны обязуются предпринимать все разумные меры, чтобы не допустить получения третьими лицами доступа к Конфиденциальной информации без согласия раскрывающей стороны, если иное не установлено Договором. Указанные разумные меры должны в любом случае включать все меры, используемые принимающей Стороной для защиты собственной конфиденциальной информации, а также иные меры, указанные в настоящем разделе Договора.
          </li>
          <li>
            Конфиденциальность. Персональные данные.
          </li>
          <li>
            Стороны обязуются предпринимать все разумные меры, чтобы не допустить получения третьими лицами доступа к Конфиденциальной информации без согласия раскрывающей стороны, если иное не установлено Договором. Указанные разумные меры должны в любом случае включать все
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}
{% block modal %}
  {% include 'desktop-table/modal.twig' %}
{% endblock %}
{% block search %}
{% endblock %}
{% block entertainment %}
{% endblock %}
