.detail-page {
  margin-bottom: 30px;
}

.detail-meta {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.detail-meta__item {
  margin-right: 30px;
}

.detail-meta__review {
  font-size: 18px;
  border-bottom: 1px dashed;
  line-height: 1;
  color: inherit;
  transition: border-bottom-color .2s ease-in-out;

  &:hover {
    border-bottom-color: transparent;
  }
}

.detail-gift {
  padding: 35px 30px 30px;
  margin-bottom: 30px;
  background: $grey-gradient;
  box-shadow: 3px 3px 8px #C7C9D2, -2px -2px 6px #FAFBFF;
  border-radius: 15px;
  display: flex;
  align-items: center;

  &::before {
    width: 249px;
    height: 117px;
    margin-right: 30px;
    background: url(../img/media/detail-gift.svg) no-repeat center;
    background-size: contain;
    flex-shrink: 0;
    content: '';
  }
}

.detail-about {
  padding: 30px;
  margin-bottom: 30px;
  background: linear-gradient(152.3deg, #EEEFF4 0%, #F6F7FC 100%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 3px 3px 8px #C7C9D2, -2px -2px 6px #FAFBFF;
  border-radius: 15px;
}

.detail-calendar {
  padding: 30px 45px;
  margin-bottom: 30px;
  background-color: $grey5;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(95, 105, 142, 0.3);
}

.detail-calendar__title {
  margin-bottom: 20px;

  &::after {
    width: 100%;
    height: 1px;
    margin-top: 20px;
    background: linear-gradient(135deg, #36d1dc 0, #5b86e5 100%);
    display: block;
    content: '';
  }
}

.detail-question {
  margin-bottom: 100px;
}

.detail-others__item {
  background: linear-gradient(166.19deg, #EEEFF4 0%, #F6F7FC 100%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 3px 3px 8px #C7C9D2, -2px -2px 6px #FAFBFF;
  border-radius: 15px;
  color: inherit;
  display: flex;
  align-items: center;
  transition: box-shadow .2s ease-in-out;

  &:not(:last-of-type) {
    margin-bottom: 30px;
  }

  &:hover {
    box-shadow: none;
  }
}

.detail-others__media {
  width: 100%;
  max-width: 320px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow: hidden;
}

.detail-others__content {
  padding: 15px;
  flex-grow: 1;
}

.detail-others__price {
  margin-top: 15px;
  font-weight: 700;
  font-size: 18px;
  text-align: right;
  letter-spacing: 0.03em;
  color: $black;
}

.detail-info {
  position: relative;
  z-index: 5;
}

.aside-info__fixed {
  position: fixed;
  top: 86px;
}

.detail-specialty {
  margin-top: 10px;
  margin-bottom: 19px;

  &::after {
    width: 100%;
    height: 1px;
    margin-top: 15px;
    background: linear-gradient(135deg, #36d1dc 0, #5b86e5 100%);
    display: block;
    content: '';
  }
}

.detail-specialty__item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.detail-specialty__value {
  margin-left: auto;
  text-align: right;
  color: $black;
}

.aside-info__price {
  margin-bottom: 18px;
  display: flex;
  align-items: center;
}

.aside-info__price-old {
  margin-right: 10px;
  font-weight: 700;
  color: $black;
  font-size: 18px;

  + .aside-info__price-new {
    font-weight: 500;
  }
}

.aside-info__price-new {
  margin-right: 10px;
  color: $black;
  font-size: 18px;
  font-weight: 700;
}

.detail-affiliate {
  max-width: 904px;
}

.detail-affiliate__content {
  padding: 30px;
  background-color: $grey5;
  border-radius: 15px;
}

.detail-affiliate__list {
  margin-bottom: 40px;
}

.detail-affiliate__item {
  padding: 13px 19px;
  border-radius: 30px;

  &:nth-child(even) {
    background-color: #DBE0F0;
  }
}

.detail-affiliate__price {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.detail-affiliate__price-old {
  margin-right: 8px;
  font-weight: 600;
}

.detail-gallery {
  padding-left: 70px;
  padding-right: 70px;
  position: relative;
}

.detail-gallery__inner {
  padding-bottom: 50px;
  overflow: hidden;
}

.detail-gallery__control {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-gallery__prev {
  left: 0;
}


.detail-gallery__next {
  right: 0;
}

.detail-gallery__carousel {
  position: relative;
  width: 100%;
  height: 350px;
  perspective: 500px;
  transform-style: preserve-3d;
  transform-origin: 0 50%;

  .indicators {
    width: 100%;
    margin-bottom: 0;
    padding-left: 0;
    position: absolute;
    text-align: center;
    left: 0;
    bottom: -22px;
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .indicator-item {
    width: 20px;
    height: 20px;
    background: linear-gradient(129.29deg, rgba(255, 255, 255, 0.6) -35.5%, rgba(0, 0, 0, 0.6) 116%), #EEEFF4;
    background-blend-mode: soft-light, normal;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: inset 3px 3px 6px rgba(56, 72, 114, 0.25), inset -3px -3px 6px #FFFFFF;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 50%;

    &.active {
      background: linear-gradient(307.37deg, rgba(255, 255, 255, 0.3) -11.06%, rgba(0, 0, 0, 0.3) 112.37%), #505050;
      border-color: rgba(0, 0, 0, 0.4);
      box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.75), inset -3px -3px 6px rgba(128, 130, 139, 0.5);
    }
  }

  // Materialbox compatibility
  &.scrolling .carousel-item .materialboxed,
  .carousel-item:not(.active) .materialboxed {
    pointer-events: none;
  }
}

.detail-gallery__item {
  width: 437px;
  height: 291px;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  overflow: hidden;
  opacity: 1 !important;
  box-shadow: 0 0 30px rgba(33, 35, 75, .5);
  transition: box-shadow .2s ease-in-out;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }

  &:not(.active) {
    box-shadow: none;

    &::before {
      opacity: 1;
    }
  }
}

.detail-gallery__img {
  width: 100%;
}

.detail-info__city {
  text-align: center;
  margin-bottom: 0;
}

.detail-info__address {
  text-align: center;
  margin-bottom: 15px;
}

.detail-info__reservation {
  margin-top: 15px;
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .detail-info {
    padding: 15px;

    .detail-specialty {
      margin-top: 5px;
      margin-bottom: 10px;

      &::after {
        width: 100%;
        height: 1px;
        margin-top: 10px;
      }
    }

    .detail-specialty__item:not(:last-child) {
      margin-bottom: 0;
    }

    .aside-info__org-line {
      margin-bottom: 5px;
    }

    .aside-info__org::before {
      margin-bottom: 10px;
    }

    .aside-info__org::after {
      margin-top: 10px;
    }

    .aside-info__org {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .detail-info__reservation {
      margin-top: 10px;
      font-size: 13px;
    }
  }
  .detail-info__address {
    margin-bottom: 5px;
  }
}
