.estimate {
  margin-bottom: 20px;
  display: flex;
}

.estimate-item {
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;

  &::before {
    width: 40px;
    height: 40px;
    margin-right: 7px;
    opacity: .5;
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: ''
  }

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.estimate-item__active {
  color: $black;

  &::before {
    opacity: 1;
  }
}

.estimate-quality::before {
  background-image: url(../img/icons/quality.svg);
}

.estimate-money::before {
  background-image: url(../img/icons/money.svg);
}

.estimate-target::before {
  background-image: url(../img/icons/target.svg);
}

.estimate-lock::before {
  background-image: url(../img/icons/lock.svg);
}

.estimate-emoji::before {
  background-image: url(../img/icons/emoji.svg);
}
