.footer {
  margin-top: auto;
  padding-top: 54px;
  padding-bottom: 54px;
  background-color: #121B4B;
}

.footer-nav {
  margin-bottom: 48px;
}

.footer-nav__title {
  margin-bottom: 9px;
  font-weight: 700;
  color: #fff;
}

.footer-nav__title-link {
  padding-left: 38px;
  color: inherit;
  display: inline-block;
  position: relative;
  letter-spacing: 0.03em;

  &:hover {
    text-decoration: none;
  }

  &::before {
    text-align: center;
    line-height: 28px;
    width: 30px;
    height: 30px;
    top: -4px;
    left: 0;
    position: absolute;
    border-radius: 50%;
    background: $blue-gradient;
    box-shadow: 3px 3px 10px #010B40, -3px -3px 10px #17246B;
  }
}

.footer-nav__item {
  color: $grey3;

  &:not(:last-child) {
    margin-bottom: 1px;
  }
}

.footer-nav__link {
  color: inherit;
  display: inline-block;
  transition: color .2s ease-in-out;

  &::after {
    background-color: #fff;
  }
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.footer-box {
  padding-top: 8px;

  &:not(:last-of-type) {
    margin-bottom: 12px;
  }
}

.footer-box__title {
  margin-bottom: 5px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #fff;
}

.footer-box__list {
  margin-left: -5px;
  margin-right: -5px;
  display: flex;
  flex-wrap: wrap;
}

.footer-box__img {
  margin: 0 5px 10px;
}

.support-list {
  margin-left: -5px;
  margin-right: -5px;
  display: flex;
  flex-wrap: wrap;
}

.support-item {
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.support-icon::before {
  width: 40px;
  height: 40px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  transition: opacity .2s ease-in-out;
}

a.support-icon:hover::before {
  opacity: .85;
}

.icon-instagram::before {
  background-image: url(../img/icons/instagram.svg);
}

.icon-twitter::before {
  background-image: url(../img/icons/twitter.svg);
}

.icon-vk::before {
  background-image: url(../img/icons/vk.svg);
}

.icon-facebook::before {
  background-image: url(../img/icons/facebook.svg);
}

.icon-ok::before {
  background-image: url(../img/icons/ok.svg);
}

.icon-whats-app::before {
  background-image: url(../img/icons/whats-app.svg);
}

.icon-vider::before {
  background-image: url(../img/icons/viber.svg);
}

.icon-telegram::before {
  background-image: url(../img/icons/telegram.svg);
}

.icon-email::before {
  background-image: url(../img/icons/e-mail.svg);
}

.icon-skype::before {
  background-image: url(../img/icons/skype.svg);
}

.icon-visa::before {
  background-image: url(../img/icons/visa.svg);
}

.icon-mastercard::before {
  background-image: url(../img/icons/mastercard.svg);
}

.icon-maestro::before {
  background-image: url(../img/icons/maestro.svg);
}

.icon-paypal::before {
  background-image: url(../img/icons/paypal.svg);
}

.icon-mir::before {
  background-image: url(../img/icons/mir.svg);
}

.footer-copy {
  padding-top: 45px;
  padding-bottom: 100px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.03em;
}

@media (max-width: 1399px) {
  .footer-box__title-text {
    display: none
  }
  .footer-nav__link::after {
    display: none;
  }
}

@media (max-width: 1199px) {
  .footer-support {
    display: flex;
  }
  .footer-box {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 33.3333%;
    flex-basis: 33.3333%;
  }
}

@media (max-width: 765px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 20px;
  }
  .footer-nav__wrap {
    display: none
  }
  .footer-box:not(:last-of-type) {
    margin-bottom: 18px;
  }
  .footer-box__title {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .footer-nav__item:not(:last-child) {
    margin-bottom: 12px;
  }
  .footer-nav__link {
    font-size: 14px;
  }
  .support-icon::before {
    width: 30px;
    height: 30px;
  }
}
