.form-support {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

.form-support__form {
  max-width: 420px;
  flex-basis: 420px;
  flex-shrink: 0;
}

.form-support__decor {
  padding-left: 30px;
  text-align: center;
  flex-grow: 1;
}
