.link-offer {
  text-align: center;
  display: flex;
}

.link-offer-link {
  height: 100%;
  padding: 14px 5px 10px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $black;
  background-color: $grey4;
  box-shadow: 2px 2px 4px #C7C9D2, -2px -2px 4px #FAFBFF;
  border-radius: 10px;
  display: block;
  transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;

  &::before {
    width: 30px;
    height: 30px;
    line-height: 28px;
    margin: 0 auto 8px;
    display: block;
    background: $grey-gradient;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    box-shadow: 2px 2px 4px #C7C9D2, -2px -2px 4px #FAFBFF;
  }

  &:hover {
    color: $black;
    background-color: $grey5;
    box-shadow: none;
  }
}

@media (max-width: 575px) {
  .link-offer {
    flex-wrap: wrap;
  }
  .link-offer-item {
    margin-bottom: 15px;
    max-width: 33.3333%;
    flex-basis: 33.3333%;
  }
}
