.modal-box {
  max-width: 670px;
  width: 100%;
  margin: auto;
  padding: 88px 133px 85px 117px;
  position: relative;
  background-color: $grey5;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(95, 105, 142, 0.3);
  pointer-events: auto;
  outline: 0;
}

.modal-title {
  margin-bottom: 30px;
}

.modal-subtitle {
  margin-bottom: 10px;
  line-height: 24px;
}

.form-group__btn {
  display: flex;
  align-items: center;
}

.form-group__link {
  margin-left: 16px;
  line-height: 24px;
}

.modal-box__bottom {
  margin-top: 30px;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  &::before {
    width: 100%;
    height: 1px;
    margin-bottom: 20px;
    background: $blue-gradient2;
    content: '';
  }
}

.modal-box__bottom-text {
  margin-right: 8px;
}

.modal-close {
  position: absolute;
  top: 30px;
  right: 30px;
}

.modal-form {
  display: none;
}

.modal-form__active {
  display: block;
}

.modal-form__group {
  display: flex;
  justify-content: space-between;
}

.modal-add-event__holder {
  padding: 30px;
  overflow: hidden;
  background: #E3E5EC;
  border-radius: 15px;
}

.modal-add-event__title {
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 42px;
  margin-top: 0;
  color: #121212;
  font-weight: 700;
  letter-spacing: 0.03em;
  display: block;
}

.modal-add-event__container {
  display: flex;
}

.modal-add-event__item {
  cursor: pointer;
  transition: color .2s ease-in-out;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &:hover {
    color: $black;
  }
}

.modal-content {
  padding: 30px;
}

.modal-footer {
  margin-top: auto;
  padding-top: 30px;

  &::before {
    width: 100%;
    height: 1px;
    margin-bottom: 30px;
    display: block;
    background: linear-gradient(135deg, #36d1dc 0, #5b86e5 100%);
    content: '';
  }
}

.modal-content__title {
  padding-bottom: 20px;

  &::after {
    width: 100%;
    height: 1px;
    margin-top: 20px;
    background: linear-gradient(135deg, #36d1dc 0, #5b86e5 100%);
    display: block;
    content: '';
  }
}

.modal-body {
  padding-bottom: 20px;

  &::after {
    width: 100%;
    height: 1px;
    margin-top: 30px;
    background: linear-gradient(135deg, #36d1dc 0, #5b86e5 100%);
    display: block;
    content: '';
  }
}

@media (min-width: 1100px) {
  .modal-address-events {
    max-width: 934px;
  }
}
