.pagination {
  margin-bottom: 100px;
  line-height: 1;
  display: flex;
  align-items: flex-end;
}

.pagination-item {
  color: $black;
  text-align: center;
  font-size: 14px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.pagination-current {
  color: #fff;
  background: linear-gradient(307.37deg, rgba(255, 255, 255, 0.3) -11.06%, rgba(0, 0, 0, 0.3) 112.37%), #505050;
  background-blend-mode: soft-light, normal;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.75), inset -3px -3px 6px rgba(128, 130, 139, 0.5);
}

.pagination-control {
  text-indent: 17px;
  overflow: hidden;

  &::before {
    position: relative;
    left: -10px;
  }
}

.pagination-current {
  border-radius: 50%;
}

.pagination-current,
.pagination-link {
  width: 30px;
  height: 30px;
  padding-top: 7px;
  display: block;
}

.pagination-decor {
  padding-bottom: 7px;
  display: block;
}
