.popular-section {
  margin-bottom: 90px;
}

.popular-section__list {
  margin-left: -15px;
  margin-right: -15px;
}

.popular-section__box {
  padding: 0 15px 10px;

  &:focus {
    outline: 0;
  }
}

@media (max-width: 576px) {
  .popular-section {
    overflow-x: hidden;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .popular-section__box .card-media__img {
    width: 100%;
  }
}
