.search-area {
  width: 100%;
  height: 100%;
  background-color: rgba($black, .4);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 55;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s ease-in-out;

  &.active {
    opacity: 1;
    pointer-events: auto;

    .search-area-holder {
      transform: translateY(0);
    }
  }
}

.search-area-holder {
  max-width: 964px;
  margin-left: auto;
  margin-right: auto;
  padding: 19px 30px 30px;
  position: relative;
  background: $grey4;
  border-radius: 0 0 15px 15px;
  transform: translateY(-100%);
  transition: transform .2s ease-in-out;
}

.search-area__close {
  top: 18px;
  right: 30px;
  position: absolute;
}

.search-result {
  width: 100%;
  padding: 43px 15px 28px;
  background-color: $grey4;
  box-shadow: 0 8px 15px rgba(95, 105, 142, 0.3);
  left: 0;
  z-index: 1;
  transition: opacity .2s ease-in-out;
  position: absolute;
  top: 10px;
  border-radius: 17px;
  border: 1px solid rgba(#fff, .3);

  &:not(.active) {
    opacity: 0;
    pointer-events: none;
  }
}

.search-result__list {
  margin-bottom: 20px;

  .result-item__img {
    margin-right: 10px;
  }
}

.search-area__popular {
  margin-left: -10px;
  margin-right: -10px;
}

.search-area__popular-title {
  margin-bottom: 18px;
}

.search-area__popular-item {
  max-width: 16.666%;
  flex-basis: 16.666%;
  padding-left: 10px;
  padding-right: 10px;
}

.search-area__tag {
  margin-bottom: 11px;
}

.search-area__viewed {
  margin-top: 30px;
}

.search-area__viewed-title {
  margin-bottom: 10px;
}
