.sticker-hit,
.sticker-new {
  position: absolute;
  width: 77px;
  height: 57px;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  content: '';
}

.sticker-hit {
  left: 0;
  background-image: url(../img/icons/hit.svg);
}

.sticker-new {
  right: 0;
  background-image: url(../img/icons/new.svg);
}

.sticker-recommendation {
  width: 100%;
  height: 31px;
  left: 0;
  bottom: 0;
  position: absolute;
  background: url(../img/icons/recommendation.svg) no-repeat center;
  background-size: cover;
}

.sticker-credential {
  width: 234px;
  height: 32px;
  background: url(../img/icons/recommendation-credential.svg) no-repeat center;
  background-size: contain;
}

.sticker-format {
  padding: 4px 20px;
  font-size: 14px;
  border: 2px solid;
  border-radius: 7px;
}

.sticker-gift {
  font-size: 22px;
  color: $red2;
}

.sticker-compare {
  font-size: 22px;
  color: $black;
}

.sticker-discount {
  width: 43px;
  height: 24px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  background: url(../img/decor/discount.svg) no-repeat center;
  background-size: cover;
  content: '';
}

.sticker-discount__value {
  width: 26px;
  padding-bottom: 1px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  transform: rotate(-4.5deg);
}

.sticker-baby::before {
  width: 25px;
  height: 25px;
  display: block;
  background: url(../img/icons/bear.svg) no-repeat;
  background-size: contain;
  content: '';
}

.sticker-present {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(../img/icons/present.svg) no-repeat;
  background-size: contain;
}

@media (min-width: 1400px) {
  .sticker-present {
    width: 57px;
    height: 116px;
  }
}

@media (max-width: 1399px) {
  .sticker-present {
    width: 29px;
    height: 58px;
  }
}

@media (max-width: 1199px) {
  .sticker-format {
    padding: 2px 5px;
    font-size: 13px;
  }
}
