<nav class="breadcrumb-wrap container" aria-label="breadcrumb">
  <ol class="breadcrumb list-unstyled">
    <li class="breadcrumb-item"><a href="/" class="breadcrumb-link">Главная</a></li>
    <li class="breadcrumb-item breadcrumb-item__current" aria-current="page">{{ breadcrumbCurrent }}</li>
  </ol>
</nav>
