<aside class="col-xl-2 col-md-3 personal-area-aside">
  <ul class="personal-area-menu list-unstyled">
    <li class="personal-area-menu__item">
      <a href="#" class="personal-area-menu__link icon-orders {{ current1 }}">Мои заказы</a>
    </li>
    <li class="personal-area-menu__item">
      <a href="#" class="personal-area-menu__link icon-stars {{ current2 }}">Мои отзывы</a>
    </li>
    <li class="personal-area-menu__item">
      <a href="#" class="personal-area-menu__link icon-settings {{ current3 }}">Профиль</a>
    </li>
    <li class="personal-area-menu__item">
      <a href="#" class="personal-area-menu__link icon-support {{ current4 }}">Помощь</a>
    </li>
  </ul>
  <a href="#" class="personal-area-out">Выйти</a>
</aside>
