<nav class="nav-direction container">
  <ul class="nav-direction-list list-unstyled">
    <li class="nav-direction-item">
      <a href="#" class="nav-direction-link icon-paint">Творчество</a>
    </li>
    <li class="nav-direction-item">
      <a href="#" class="nav-direction-link active icon-guitar">Музыка</a>
    </li>
    <li class="nav-direction-item">
      <a href="#" class="nav-direction-link icon-food-tray">Еда и напитки</a>
    </li>
    <li class="nav-direction-item">
      <a href="#" class="nav-direction-link icon-self-care">Уход за собой</a>
    </li>
    <li class="nav-direction-item">
      <a href="#" class="nav-direction-link icon-extreme">Экстрим</a>
    </li>
    <li class="nav-direction-item">
      <a href="#" class="nav-direction-link icon-running">Спорт</a>
    </li>
    <li class="nav-direction-item">
      <a href="#" class="nav-direction-link icon-education">Развитие</a>
    </li>
    <li class="nav-direction-item">
      <a href="#" class="nav-direction-link icon-balloon">Разное</a>
    </li>
  </ul>
</nav>
