<aside class="col-xl-2 col-md-3 personal-area-aside">
  <ul class="personal-area-menu list-unstyled">
    <li class="personal-area-menu__item">
      <a href="lk-vend-appeal-desk-01.html" class="personal-area-menu__link personal-area-menu__current icon-orders">Заказы</a>
    </li>
    <li class="personal-area-menu__item">
      <a href="lk-vend-EVENTS-desk-01.html" class="personal-area-menu__link icon-location">Мероприятия</a>
    </li>
    <li class="personal-area-menu__item">
      <a href="lk-vend-desk-01.html" class="personal-area-menu__link icon-settings">Настройки</a>
    </li>
    <li class="personal-area-menu__item">
      <a href="#" class="personal-area-menu__link icon-support">Поддержка</a>
    </li>
  </ul>
  <a href="#" class="personal-area-out">Выйти</a>
</aside>
