<div class="popular-section container">
  <h2>Популярные развлечения на&nbsp;каждый день</h2>

  <div class="popular-section__list">
    <div class="popular-section__box">
      <a href="#" class="card">
        <div class="card-media">
          <img src="img/example/card-01@2x.jpg" class="card-media__img" alt="">
        </div>
        <div class="card-body">
          <div class="card-title">Творчество</div>
          <p class="card-text">Творите вместе с Fun2Day каждый день.</p>
          <div class="card-footer">От 500 ₽</div>
        </div>
      </a>
    </div>

    <div class="popular-section__box">
      <a href="#" class="card">
        <div class="card-media">
          <img src="img/example/card-02@2x.jpg" class="card-media__img" alt="">
        </div>
        <div class="card-body">
          <div class="card-title">Кулинария</div>
          <p class="card-text">Приготовьте незабываемый ужин вместе с Fun2Day.</p>
          <div class="card-footer">От 1 000 ₽</div>
        </div>
      </a>
    </div>

    <div class="popular-section__box">
      <a href="#" class="card">
        <div class="card-media">
          <img src="img/example/card-03@2x.jpg" class="card-media__img" alt="">
        </div>
        <div class="card-body">
          <div class="card-title">Музыка</div>
          <p class="card-text">Освойте азы игры на гитаре, скрипке или других инструментах</p>
          <div class="card-footer">От 2 000 ₽</div>
        </div>
      </a>
    </div>

    <div class="popular-section__box">
      <a href="#" class="card">
        <div class="card-media">
          <img src="img/example/card-04@2x.jpg" class="card-media__img" alt="">
        </div>
        <div class="card-body">
          <div class="card-title">Танцы</div>
          <p class="card-text">Научитесь танцевать как профессионал вместе с Fun2Day.</p>
          <div class="card-footer">От 1 500 ₽</div>
        </div>
      </a>
    </div>

    <div class="popular-section__box">
      <a href="#" class="card">
        <div class="card-media">
          <img src="img/example/card-01@2x.jpg" class="card-media__img" alt="">
        </div>
        <div class="card-body">
          <div class="card-title">Творчество</div>
          <p class="card-text">Творите вместе с Fun2Day каждый день.</p>
          <div class="card-footer">От 500 ₽</div>
        </div>
      </a>
    </div>

    <div class="popular-section__box">
      <a href="#" class="card">
        <div class="card-media">
          <img src="img/example/card-02@2x.jpg" class="card-media__img" alt="">
        </div>
        <div class="card-body">
          <div class="card-title">Кулинария</div>
          <p class="card-text">Приготовьте незабываемый ужин вместе с Fun2Day.</p>
          <div class="card-footer">От 1 000 ₽</div>
        </div>
      </a>
    </div>

    <div class="popular-section__box">
      <a href="#" class="card">
        <div class="card-media">
          <img src="img/example/card-03@2x.jpg" class="card-media__img" alt="">
        </div>
        <div class="card-body">
          <div class="card-title">Музыка</div>
          <p class="card-text">Освойте азы игры на гитаре, скрипке или других инструментах</p>
          <div class="card-footer">От 2 000 ₽</div>
        </div>
      </a>
    </div>

    <div class="popular-section__box">
      <a href="#" class="card">
        <div class="card-media">
          <img src="img/example/card-04@2x.jpg" class="card-media__img" alt="">
        </div>
        <div class="card-body">
          <div class="card-title">Танцы</div>
          <p class="card-text">Научитесь танцевать как профессионал вместе с Fun2Day.</p>
          <div class="card-footer">От 1 500 ₽</div>
        </div>
      </a>
    </div>
  </div>
</div>
