.about-header {
  height: 700px;
  padding-top: 30px;
  background: url(../img/about/about-m.svg) no-repeat right bottom;
  background-size: 574px 700px;
}

.about-header__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.03em;
  color: $darkBlue;
}

.about-header__pre-title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: $darkBlue;
}

.about-header__text {
  font-size: 14px;
  line-height: 20px;
  color: #616586;
}

.about-intro {
  padding-top: 43px;
  margin-bottom: 50px;
  position: relative;

  &::before {
    width: 205px;
    height: 140px;
    top: -112px;
    left: 0;
    position: absolute;
    background: url(../img/about/zen.svg) no-repeat center;
    background-size: contain;
    content: '';
  }
}

.about-intro__title {
  margin-bottom: 5px;
}

.about-intro__text {
  font-size: 14px;
  line-height: 20px;
}

.about-info__title {
  margin-bottom: 30px;
}

.about-info {
  margin-bottom: 4px;
}

.about-info__list {
  display: flex;
}

.about-info__item {
  margin-bottom: 30px;

  &::before {
    width: 100%;
    height: 183px;
    margin-bottom: 10px;
    display: block;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: contain;
    content: '';
  }
}

.about-info__first::before {
  background-image: url(../img/about/media-01.svg);
}

.about-info__second::before {
  background-image: url(../img/about/media-02.svg);
}

.about-info__third::before {
  background-image: url(../img/about/media-03.svg);
}

.about-info__fourth::before {
  background-image: url(../img/about/media-04.svg);
}

.about-info__fifth::before {
  background-image: url(../img/about/media-05.svg);
}

.about-info__sixth::before {
  background-image: url(../img/about/media-06.svg);
}

.about-info__item-content {
  font-size: 14px;
  line-height: 20px;
}

.about-info__item-title {
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 20px;
}

.about-offer {
  height: 433px;
  margin-bottom: 30px;
  padding-top: 50px;
  position: relative;

  &::before {
    width: 100%;
    height: 513px;
    top: -80px;
    left: 0;
    position: absolute;
    z-index: -1;
    background: url(../img/about/yoga.svg) no-repeat 68% top;
    background-size: 1347px 537px;
    content: '';
  }
}

.about-offer__title {
  color: $darkBlue;
}

.about-service {
  margin-bottom: 19px;
}

.about-service__list {
  display: flex;
  flex-wrap: wrap;
}

.about-service__item {
  line-height: 20px;
}

.about-service__item-text {
  font-size: 14px;
  margin-bottom: 0;
}

.about-auth {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;

  &::after {
    width: 100%;
    height: 1px;
    margin-top: 30px;
    background: linear-gradient(135deg, #36d1dc 0%, #5b86e5 100%);
    content: '';
  }
}

.about-auth__btn {
  min-width: 124px;
  margin-right: 15px;
}

.about-faq {
  margin-bottom: 50px;
}

.about-faq__pre-title {
  font-weight: 700;
  color: $black;
}

.about-faq__text {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 20px;
}

.faq-item {
  line-height: 20px;
  transition: opacity 1300ms;

  &:not(:first-child) {
    margin-top: 15px;
  }
}

.faq-item__title {
  margin-bottom: 5px;
  font-weight: 700;
  color: $black;
}

.faq-item__text {
  font-size: 14px;
  line-height: 20px;
}

.about-team__text {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 20px;
}

.work-countries {
  margin-bottom: 10px;
}

.work-countries__item {
  margin-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  text-align: center;
  max-width: 50%;
  flex-basis: 50%;

  &::before {
    width: 100%;
    max-width: 143px;
    height: 143px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    content: '';
  }
}

.work-countries__russian::before {
  background-image: url(../img/about/russian.svg);
}

.work-countries__spain::before {
  background-image: url(../img/about/spain.svg);
}

.work-countries__italy::before {
  background-image: url(../img/about/italy.svg);
}

.work-countries__china::before {
  background-image: url(../img/about/china.svg);
}

.work-countries__name {
  font-weight: 700;
  color: $black;

  &::after {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
  }

  &:not(.work-countries__available)::after {
    background-image: url(../img/icons/loading.svg);
  }
}

.work-countries__available::after {
  background-image: url(../img/icons/check-green.svg);
}

.about-content {
  padding-bottom: 336px;
  position: relative;

  &::after {
    width: 100%;
    height: 420px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: url(../img/about/pre-footer.svg) no-repeat 50% top;
    background-size: 836px 430px;
    content: '';
  }
}
