.aside-info__org {
  margin-top: 15px;
  margin-bottom: 15px;

  &::before,
  &::after {
    width: 100%;
    height: 1px;
    background: linear-gradient(135deg, #36d1dc 0, #5b86e5 100%);
    display: block;
    content: '';
  }

  &::before {
    margin-bottom: 15px;
  }

  &::after {
    margin-top: 15px;
  }
}

.aside-local {
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: $black;
}

.aside-local__city {
  font-size: 16px;
}

.aside-info__org-line {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.aside-detail__title {
  margin-bottom: 10px;
}

.aside-title-link {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  position: relative;
  border: 0 solid transparent;
  color: inherit;
  background-color: transparent;
  user-select: none;
  text-align: left;
  display: flex;
  align-items: center;

  &.collapsed {
    &::before {
      transform: rotate(90deg);
    }

    + .num-list {
      display: none;
    }
  }

  &:not(.collapsed) {
    pointer-events: none;
  }

  &::before {
    margin-left: 10px;
    transform: rotate(-90deg);
    order: 1;
  }
}
