.calendar-panel {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  background-color: $grey4;
  will-change: transform;
  transform: translateX(-100%);
  transition: transform .3s ease-in-out;
}

.calendar-panel-title {
  margin-bottom: 20px;

  &::after {
    width: 100%;
    height: 1px;
    margin-top: 20px;
    background: linear-gradient(135deg, #36d1dc 0, #5b86e5 100%);
    display: block;
    content: '';
  }
}

.calendar-panel-open {
  overflow: hidden;

  .calendar-panel {
    transform: translateX(0);
  }
}
