.content-box {
  padding: 20px 15px;
  background-color: $grey5;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(95, 105, 142, 0.3);
}

.content-box__default {
  padding: 20px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: -2px -2px 4px #FAFBFF, 2px 2px 4px #C7C9D2;
  border-radius: 15px;
}

.content-box__light {
  padding: 20px 15px;
  background: linear-gradient(135deg, #EEEFF4 0%, #F6F7FC 100%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: -2px -2px 4px #FAFBFF, 2px 2px 4px #C7C9D2;
  border-radius: 15px;
}
