.aside-info__price {
  margin-top: 15px;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
}

.aside-info__price-old {
  margin-right: 10px;
  font-weight: 700;
  color: $black;
  font-size: 16px;

  + .aside-info__price-new {
    font-weight: 500;
  }
}

.aside-info__price-new {
  margin-right: 10px;
  color: $black;
  font-size: 16px;
  font-weight: 700;
}

.detail-gift {
  padding: 16px 15px 19px;
  background: linear-gradient(135deg, #EEEFF4 0%, #F6F7FC 100%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: -2px -2px 4px #FAFBFF, 2px 2px 4px #C7C9D2;
  border-radius: 15px;
}

.detail-gift__title {
  margin-bottom: 6px;

  &::before {
    font-size: 20px;
    margin-right: 6px;
    color: #B52241;
  }
}

.detail-specialty::after {
  margin-top: 15px;
  width: 100%;
  height: 1px;
  background: linear-gradient(135deg, #36d1dc 0, #5b86e5 100%);
  display: block;
  content: '';
}

.detail-specialty__item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.detail-specialty__value {
  margin-left: auto;
  color: $black;
}

.detail-meta {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.detail-meta__review {
  font-size: 14px;
  border-bottom: 1px dashed;
  line-height: 1;
  color: inherit;
}

.detail-gallery__item {
  border-radius: 15px;
  overflow: hidden;
}

.detail-info {
  margin-bottom: 20px;
  position: relative;
}

.detail-info__reservation {
  margin-top: 15px;
}

.detail-about .nav-tabs {
  overflow-x: auto;
}

.detail-calendar__title {
  margin-bottom: 20px;

  &::after {
    width: 100%;
    height: 1px;
    margin-top: 20px;
    background: linear-gradient(135deg, #36d1dc 0, #5b86e5 100%);
    display: block;
    content: '';
  }
}

.ui-datepicker-current-day:not(.ui-datepicker-today) .ui-state-active {
  background: $blue;
  color: #fff;
  box-shadow: none;
}

.detail-affiliate__item {
  margin-bottom: 15px;

  &::after {
    width: 100%;
    height: 1px;
    margin-top: 10px;
    background: linear-gradient(135deg, #36d1dc 0, #5b86e5 100%);
    display: block;
    content: '';
  }

  .custom-control::before {
    left: auto;
    right: 0;
    top: 50%;
    margin-top: -12px;
  }

  .custom-control-label {
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0;
    padding-right: 30px;

    &::before {
      left: auto;
      right: 0;
      top: 50%;
      margin-top: -12px;
    }
  }
}

.detail-affiliate__price {
  width: 100%;
  margin-top: 10px;
  font-size: 13px;
  line-height: 1;
  color: $grey;
  display: flex;
  align-items: center;
}

.detail-affiliate__price-old {
  margin-right: 7px;
}
