.instagram {
  margin-bottom: 35px
}

.instagram-inner {
  background-color: #fff;
  padding: 25px;
  box-shadow: 3px 3px 8px #C7C9D2, -2px -2px 6px #FAFBFF;
  border-radius: 15px;
  display: block;
  transition: box-shadow .4s;

  &:hover {
    box-shadow: none;

    .instagram-img {
      opacity: .85;
    }
  }
}

.instagram-item:not(:last-of-type) {
  margin-bottom: 15px;
}

.instagram-img {
  transition: opacity .4s;
}
