.main-info {
  height: 21vh;
  margin-bottom: 15px;
  position: relative;
  display: flex;

  &::before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    //background-color: rgba(#121B4B, .5);
    content: '';
  }
}

.main-info-inner {
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
}

.main-info-box {
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 1;
}
