.num-list {
  counter-reset: li;
  padding-left: 17px;
}

.num-list-item {
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
}

.num-list-link {
  color: inherit;
  transition: color .2s ease-in-out;

  &::before {
    content: counter(li) '. ';
    counter-increment: li;
  }

  &:hover,
  &:focus,
  &:active {
    color: $black;
  }
}
