.service-page {
  text-align: center;
  height: 579px;
  padding-top: 88px;
  background: url(../img/bg-services-page-m.svg) no-repeat top center;
}

.service-page-title {
  margin-bottom: 13px;
}

.service-page__number {
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 100px;
  line-height: 119px;
  color: #FB6F6E;
}

.service-page__oops {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 36px;
  line-height: 32px;
  letter-spacing: 0.03em;
  color: #121B4B;
}

@media (min-width: 361px) {
  .service-page {
    background-size: cover;
  }
}
