.subscription {
  padding: 20px 15px;
  background: $grey5;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(95, 105, 142, 0.3);
}

.subscription-form {
  max-width: 90%;

  .form-control {
    padding-top: 5px;
    padding-bottom: 3px;
  }
}

.subscription-text {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 20px;
}
