{% extends "layout/layout.twig" %}
{% set title = "О проекте FUN2DAY" %}
{% set breadcrumbCurrent = "О проекте" %}
{% block topPanel %}{% include 'desktop-table/top-panel.twig' %}{% endblock %} {% block mobHeader %}{% include 'mobile/header.twig' %}{% endblock %}

{% block content %}
<header class="about-header">
  <h1 class="about-header__title">О проекте FUN2DAY</h1>
  <div class="about-header__pre-title">Как всё начиналось</div>
  <p class="about-header__text">
    Мы любили собираться и проводить вместе время.<br>
    Нам хотелось узнавать новое и получать удовольствие.<br>
    Мы тратили много времени на поиск нужного мероприятия.<br>
    Мы выбирали, где будем отдыхать в следующий раз.<br>
    Мы спорили, кто будет звонить и договариваться.<br>
    Мы перезванивали, чтобы подтвердить бронь.<br>
    Мы тратили много усилий, чтобы отдохнуть.<br>
    Мы пытались найти способ, как доехать.<br>
    И тут нам в голову пришла идея!
  </p>
</header>

<div class="container">
  <section class="about-intro">
    <div class="about-intro__box">
      <h2 class="about-intro__title">Разрешите предложить вам отдохнуть?</h2>
      <p class="mb-0">
        Мы&nbsp;создали наш сервис, чтобы вы&nbsp;могли легко и&nbsp;быстро находить развлечения и&nbsp;получать новые
        впечатления каждый день. Каждый из&nbsp;вас уникален в&nbsp;своих интересах и&nbsp;предпочтениях. Вы&nbsp;отличаетесь
        характерами и&nbsp;взглядами, национальностями и&nbsp;языками. Но&nbsp;всех нас объединяет желание проводить
        свое свободное время с&nbsp;удовольствием.
      </p>
    </div>
  </section>

    <section class="about-info">
    <h2 class="about-info__title mb-5">Мы работаем безопасно и просто. Убедитесь в этом сами!</h2>

    <div class="about-info__list row">
      <div class="about-info__item col-lg-6 about-info__first">
        <div class="about-info__item-content">
          <h3 class="about-info__item-title">Выбирайте подходящее мероприятие</h3>
          <p>
            Все экскурсии на&nbsp;сайте авторские, экскурсию проводит человек, который ее&nbsp;придумал. Вы&nbsp;можете
            заранее прочитать описание программы, посмотреть, что гид написал о&nbsp;себе, познакомиться с&nbsp;отзывами
            других путешественников и&nbsp;выбрать экскурсию, которая вам ближе всего.
          </p>
        </div>
      </div>

      <div class="about-info__item col-lg-6 about-info__second">
        <div class="about-info__item-content">
          <h3 class="about-info__item-title">Задавайте любые вопросы организатору</h3>
          <p>
            Все экскурсии на&nbsp;сайте авторские, экскурсию проводит человек, который ее&nbsp;придумал. Вы&nbsp;можете
            заранее прочитать описание программы, посмотреть, что гид написал о&nbsp;себе, познакомиться с&nbsp;отзывами
            других путешественников и&nbsp;выбрать экскурсию, которая вам ближе всего.
          </p>
        </div>
      </div>

      <div class="about-info__item col-lg-6 about-info__third">
        <div class="about-info__item-content">
          <h3 class="about-info__item-title">Внесите 10% от стоимости развлечения</h3>
          <p>
            Все экскурсии на&nbsp;сайте авторские, экскурсию проводит человек, который ее&nbsp;придумал. Вы&nbsp;можете
            заранее прочитать описание программы, посмотреть, что гид написал о&nbsp;себе, познакомиться с&nbsp;отзывами
            других путешественников и&nbsp;выбрать экскурсию, которая вам ближе всего.
          </p>
        </div>
      </div>

      <div class="about-info__item col-lg-6 about-info__fourth">
        <div class="about-info__item-content">
          <h3 class="about-info__item-title">Получите электронный билет</h3>
          <p>
            Все экскурсии на&nbsp;сайте авторские, экскурсию проводит человек, который ее&nbsp;придумал. Вы&nbsp;можете
            заранее прочитать описание программы, посмотреть, что гид написал о&nbsp;себе, познакомиться с&nbsp;отзывами
            других путешественников и&nbsp;выбрать экскурсию, которая вам ближе всего.
          </p>
        </div>
      </div>

      <div class="about-info__item col-lg-6 about-info__fifth">
        <div class="about-info__item-content">
          <h3 class="about-info__item-title">Наслаждайтесь мероприятием</h3>
          <p>
            Все экскурсии на&nbsp;сайте авторские, экскурсию проводит человек, который ее&nbsp;придумал. Вы&nbsp;можете
            заранее прочитать описание программы, посмотреть, что гид написал о&nbsp;себе, познакомиться с&nbsp;отзывами
            других путешественников и&nbsp;выбрать экскурсию, которая вам ближе всего.
          </p>
        </div>
      </div>

      <div class="about-info__item col-lg-6 about-info__sixth">
        <div class="about-info__item-content">
          <h3 class="about-info__item-title">Приглашайте друзей и получайте подарки</h3>
          <p>
            Все экскурсии на&nbsp;сайте авторские, экскурсию проводит человек, который ее&nbsp;придумал. Вы&nbsp;можете
            заранее прочитать описание программы, посмотреть, что гид написал о&nbsp;себе, познакомиться с&nbsp;отзывами
            других путешественников и&nbsp;выбрать экскурсию, которая вам ближе всего.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="content-box form-support">
    <form action="/" class="form-support__form form-validate">
      <h2>Связаться с нами очень легко!</h2>

      <div class="form-group">
        <label class="sr-only" for="detail-email">E-mail</label>
        <input type="email" id="detail-email" name="inputEmail" class="form-control hide-placeholder" placeholder="E-mail *">
      </div>

      <div class="form-group">
        <label class="sr-only">Ваш вопрос</label>
        <textarea name="fieldRequired" class="form-control__textarea form-control hide-placeholder" placeholder="Ваш вопрос *"></textarea>
      </div>

      <div class="form-group">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" name="acceptAgreement" class="custom-control-input">
          <span class="custom-control-label icon-check">Согласие на обработку</span>
        </label>
      </div>

      <button class="btn-primary btn"><span class="btn-text">Отправить</span></button>
    </form>

    <div class="form-support__decor">
      <img src="img/about/support.svg" alt="">
    </div>
  </section>
</div>

<div class="about-offer">
  <div class="about-offer-inner container">
    <h2 class="about-offer__title h1">FUN2DAY предлагает</h2>

    <ul class="about-offer__nav nav-direction-list list-unstyled">
      <li class="nav-direction-item">
        <a href="#" class="nav-direction-link icon-paint">Творчество</a>
      </li>
      <li class="nav-direction-item">
        <a href="#" class="nav-direction-link active icon-guitar">Музыка</a>
      </li>
      <li class="nav-direction-item">
        <a href="#" class="nav-direction-link icon-food-tray">Еда и напитки</a>
      </li>
      <li class="nav-direction-item">
        <a href="#" class="nav-direction-link icon-self-care">Уход за собой</a>
      </li>
      <li class="nav-direction-item">
        <a href="#" class="nav-direction-link icon-extreme">Экстрим</a>
      </li>
      <li class="nav-direction-item">
        <a href="#" class="nav-direction-link icon-running">Спорт</a>
      </li>
      <li class="nav-direction-item">
        <a href="#" class="nav-direction-link icon-education">Развитие</a>
      </li>
      <li class="nav-direction-item">
        <a href="#" class="nav-direction-link icon-balloon">Разное</a>
      </li>
    </ul>
  </div>
</div>

<div class="about-content">
  <div class="container">
    <div class="about-service">
      <h2 class="about-service__title">FUN2DAY - это уникальный сервис по подбору развлечений</h2>

      <ul class="list-check about-service__list list-unstyled row">
        <li class="list-check__item about-service__item col-lg-6">
          <div class="list-check__title">Большой выбор развлечений</div>

          На&nbsp;Fun2day.ru вы&nbsp;можете найти любое развлечение на&nbsp;ваш вкус. Наслаждайтесь тихим семейным
          вечером или повышайте уровень адреналина в&nbsp;крови, всего за&nbsp;несколько шагов забронировав любое
          мероприятие.
        </li>
        <li class="list-check__item about-service__item col-lg-6">
          <div class="list-check__title">Актуальные предложения</div>

          Вместе с&nbsp;организаторами мероприятий компания FUN2DAY регулярно проверяет актуальность предлагаемых
          мероприятий. Вы&nbsp;можете быть уверены в&nbsp;том, что все представленные мероприятия доступны для
          бронирования и&nbsp;посещения.
        </li>
        <li class="list-check__item about-service__item col-lg-6">
          <div class="list-check__title">Бронирование без комиссии</div>

          Стоимость развлечения устанавливает организатор мероприятия. Бронируя развлечение на&nbsp;сайте Fun2day.ru, вы&nbsp;оплачиваете&nbsp;10%
          от&nbsp;стоимости мероприятия и&nbsp;резервируете время и&nbsp;место. При посещении мероприятия вы&nbsp;оплачиваете
          оставшиеся&nbsp;90% организатору. Вы&nbsp;не&nbsp;платите комиссию за&nbsp;пользование сервисом FUN2DAY.
          Вы&nbsp;смотрите, ищите и&nbsp;выбираете развлечение абсолютно бесплатно.
        </li>
        <li class="list-check__item about-service__item col-lg-6">
          <div class="list-check__title">Быстрое подтверждение</div>

          Ваши бронирования на&nbsp;Fun2day.ru подтверждает сам организатор. Он&nbsp;свяжется с&nbsp;вами и&nbsp;сориентирует
          вас по&nbsp;доступным датам и&nbsp;времени посещения мероприятия. По&nbsp;вашей просьбе внесет изменения в&nbsp;ваш
          заказ. FUN2DAY отправит все необходимые напоминания о&nbsp;вашем заказе. Мы&nbsp;работаем вместе, чтобы вы&nbsp;наслаждались
          своим отдыхом.
        </li>
        <li class="list-check__item about-service__item col-lg-6">
          <div class="list-check__title">Безопасность</div>

          Ежедневно с&nbsp;помощью нашего сервиса заказываются и&nbsp;бронируются мероприятия в&nbsp;разных уголках
          земного шара. Мы&nbsp;придерживаемся высоких стандартов безопасности ваших персональных данных, чтобы вы&nbsp;могли
          наслаждаться отдыхом. Подробности в&nbsp;<a href="#" rel="nofollow">&laquo;Положении о&nbsp;конфиденциальности&raquo;</a>.
        </li>
        <li class="list-check__item about-service__item col-lg-6">
          <div class="list-check__title">Круглосуточная поддержка</div>
          Команда FUN2DAY&nbsp;&mdash; это ваши друзья, которые рады слышать вас в&nbsp;любое время суток. Мы&nbsp;стоим
          на&nbsp;страже ваших интересов и&nbsp;всегда готовы оказать необходимую помощь при поиске, бронировании и&nbsp;оплате
          мероприятия. Также специально для вас мы&nbsp;собрали в&nbsp;одном разделе самые важные вопросы и&nbsp;дали на&nbsp;них
          подробные ответы.
        </li>
      </ul>
    </div>

    <div class="about-faq row">
      <div class="col-xl-9">
        <h2>Персональная поддержка</h2>

        <div class="h3 mb-1">Войдите, чтобы получить индивидуальную поддержку</div>

        <p>Получите помощь с бронированиями, аккаунтом и по другим вопросам.</p>

        <div class="about-auth">
          <button class="btn-primary btn about-auth__btn js__auth"><span class="btn-text">Войти</span></button>
          <button class="btn-secondary btn js__auth"><span class="btn-text">Регистрация</span></button>
        </div>

        <h2>Частые вопросы</h2>

        <ul class="faq-list list-unstyled">
          <li class="faq-item">
            <h3 class="mb-1">Безопасность</h3>
            <div>
              Бронируйте сразу, как только определились с&nbsp;датами поездки. Подтверждение проведения экскурсии от&nbsp;гида
              будет залогом того, что гид не&nbsp;будет занят другими заказами в&nbsp;нужные вам даты. А&nbsp;если вдруг
              у&nbsp;вас изменятся планы, помните, что предоплату всегда можно вернуть.
            </div>
          </li>
          <li class="faq-item">
            <h3 class="mb-1">Цена за&nbsp;групповую экскурсию или она будет индивидуальной?</h3>
            <div>
              В&nbsp;нашем представлении группа&nbsp;&mdash; это вы&nbsp;и&nbsp;ваши спутники. Все экскурсии, кроме тех,
              у&nbsp;которых заранее указана дата проведения,&nbsp;&mdash; индивидуальные и&nbsp;могут быть
              забронированы на&nbsp;удобное вам время. Если в&nbsp;описании сказано, что экскурсия проводится для группы
              до&nbsp;10&nbsp;человек, это значит, что ваших спутников не&nbsp;должно быть больше 10. Но&nbsp;никаких
              посторонних людей на&nbsp;экскурсии не&nbsp;будет, только вы&nbsp;и&nbsp;гид!
            </div>
          </li>
          <li class="faq-item">
            <h3 class="mb-1">Нас больше, чем может принять гид, что делать?</h3>
            <div>
              Уточните у&nbsp;гида в&nbsp;переписке, возможно&nbsp;ли проведение экскурсии в&nbsp;более многочисленной
              группе, чем указано в&nbsp;описании экскурсии.
            </div>
          </li>
          <li class="faq-item">
            <h3 class="mb-1">Что делать, если гид не&nbsp;отвечает?</h3>
            <div>
              Обычно между отправкой вашего сообщения и&nbsp;ответом гида проходит некоторое время&nbsp;&mdash; от&nbsp;одного
              часа до&nbsp;дня. Если гид не&nbsp;отвечает более суток, напишите нам в&nbsp;службу поддержки на&nbsp;адрес
              <a href="mailto:welcome@fun2day.ru" rel="nofollow">welcome@fun2day.ru</a>, мы&nbsp;постараемся выяснить, в&nbsp;чем
              причина, и&nbsp;обязательно ответим вам. Ну, а&nbsp;если вопрос срочный, то&nbsp;звоните на
              <a href="tel:+79776958105" rel="nofollow">+7 (977) 695 81-05</a>.
            </div>
          </li>
        </ul>

        <div class="show-more show-more__decor">
          <div class="show-more-btn btn-primary btn">
            <span class="btn-text">Показать ещё вопросы</span>
          </div>
          <div class="show-more-collapse as-link__dashed">Свернуть вопросы</div>
        </div>
      </div>
    </div>

    <h2 class="mb-2">FUN2DAY будет работать в разных странах</h2>

    <div>Команда профессионалов из Fun2Day поможет вам выжать максимум из вашего отдыха в другой стране!</div>

    <ul class="work-countries row list-unstyled">
      <li class="work-countries__item work-countries__russian">
        <div class="work-countries__name work-countries__available h3">Россия</div>
      </li>
      <li class="work-countries__item work-countries__spain">
        <div class="work-countries__name h3">Испания</div>
      </li>
      <li class="work-countries__item work-countries__italy">
        <div class="work-countries__name h3">Италия</div>
      </li>
      <li class="work-countries__item work-countries__china">
        <div class="work-countries__name h3">Китай</div>
      </li>
    </ul>

    <section class="content-box form-support">
      <form action="/" class="form-support__form form-validate-second">
        <h2 class="mb-1">Любите путешествовать? </h2>

        <div class="mb-3">
          Расскажите нам, в&nbsp;какую страну вы&nbsp;чаще всего ездите путешествовать,
          чтобы мы&nbsp;смогли подобрать для вас лучшие впечатления.
        </div>

        <div class="form-group">
          <label class="sr-only" for="detail-email">E-mail</label>
          <input type="email" id="detail-email" name="inputEmail" class="form-control hide-placeholder" placeholder="E-mail *">
        </div>

        <div class="form-group">
          <label class="sr-only">Ваш вопрос</label>
          <textarea name="fieldRequired" class="form-control__textarea form-control hide-placeholder" placeholder="Ваш вопрос *"></textarea>
        </div>

        <div class="form-group">
          <label class="custom-control custom-checkbox">
            <input type="checkbox" name="acceptAgreement" class="custom-control-input">
            <span class="custom-control-label icon-check">Согласие на обработку</span>
          </label>
        </div>

        <button class="btn-primary btn"><span class="btn-text">Отправить</span></button>
      </form>

      <div class="form-support__decor">
        <img src="img/about/write.svg" alt="">
      </div>
    </section>
  </div>
</div>
{% endblock %}

{% block footer %}
  {% include 'desktop-table/footer.twig' %}
{% endblock %}

{% block modal %}
  {% include 'desktop-table/modal.twig' %}
{% endblock %}

{% block search %}
  {% include 'desktop-table/search-area.twig' %}
{% endblock %}

{% block entertainment %}
  {% include 'desktop-table/entertainment.twig' %}
{% endblock %}
