{% extends "layout/layout.twig" %}
{% set title = "Каталог - fun2day" %}
{% set breadcrumbCurrent = "Мастер класс по приготовлению чая" %}
{% block topPanel %}{% include 'desktop-table/top-panel.twig' %}{% endblock %} {% block mobHeader %}{% include 'mobile/header.twig' %}{% endblock %}
{% block breadcrumb %}{% include 'partials/breadcrumb.twig' %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="catalog-filter col-lg-3">
      <nav class="nav-catalog">
        <a href="#" class="nav-catalog-title">Творчество</a>

        <ul class="list-circle">
          <li  class="list-circle-item">
            <a href="#" class="list-circle-link">Живопись</a>

            <ul class="list-unstyled">
              <li>
                Мастер класс по приготовлению чая
              </li>
            </ul>
          </li>
        </ul>

        <div class="nav-catalog-btn btn btn-bright icon-menu js__nav-catalog-btn">
          <span class="btn-text">Выбрать развлечение</span>
        </div>

        <div class="nav-catalog-panel">
          <div class="container">
            <div class="nav-catalog-holder">
              <div class="row js__tabs">
                <ul class="nav-catalog-menu list-unstyled col-lg-3 js__tabs-list">
                  <li class="nav-catalog-menu__item tab-links js__tab-nav active" data-tab="nav-catalog-list-1">
                    <span class="nav-catalog-menu__link icon-arrow-right">Живопись</span>
                  </li>
                  <li class="nav-catalog-menu__item tab-links js__tab-nav" data-tab="nav-catalog-list-2">
                    <span class="nav-catalog-menu__link icon-arrow-right">Рукоделие</span>
                  </li>
                  <li class="nav-catalog-menu__item tab-links js__tab-nav" data-tab="nav-catalog-list-3">
                    <span class="nav-catalog-menu__link icon-arrow-right">Флористика</span>
                  </li>
                  <li class="nav-catalog-menu__item tab-links js__tab-nav" data-tab="nav-catalog-list-4">
                    <span class="nav-catalog-menu__link icon-arrow-right">Декорирование</span>
                  </li>
                  <li class="nav-catalog-menu__item tab-links js__tab-nav" data-tab="nav-catalog-list-5">
                    <span class="nav-catalog-menu__link icon-arrow-right">Лепка и мозаика</span>
                  </li>
                  <li class="nav-catalog-menu__item tab-links js__tab-nav" data-tab="nav-catalog-list-6">
                    <span class="nav-catalog-menu__link icon-arrow-right">Необычное</span>
                  </li>
                </ul>

                <div class="nav-catalog-content col-lg-9">
                  <div class="nav-catalog-content__item tab-panel js__tab-panel active" id="nav-catalog-list-1">
                    <ul class="nav-catalog-list list-unstyled">
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Роспись по стеклу</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Валяние из войлока</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Приготовление мыла</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Создание авторских украшений</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Мастер класс по живописи</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Мастер класс по флористике</a>
                      </li>

                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Мастер класс бармена</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Приготовление суши</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Кондитерское искусство</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Мастер-класс по приготовлению пряников</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Мастер класс по шоколадоварению</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Церемония приготовления какао</a>
                      </li>

                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Мастер класс по восточным танцам</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Мастер класс по хип-хопу</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Мастер класс по балету</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Мастер класс по танго</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Мастер класс по бачате</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Мастер класс по брейкдансу</a>
                      </li>

                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Аквапарк</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Картинг</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Батуты</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Парк игрового обучения</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Развивающие игры</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Детский лагерь</a>
                      </li>

                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Мастер класс по вокалу</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Мастер класс игры на барабанах</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Мастер класс DJ</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Мастер класс игры на фортепиано</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Мастер класс игры на гитаре</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Мастер класс игры на флейте</a>
                      </li>

                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Мастер класс жонглирования</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Курс по файершоу</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Мастер класс макияжа</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Мастер класс прически</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Рыбалка</a>
                      </li>
                      <li class="nav-catalog-list__item">
                        <a href="#" class="nav-catalog-list__link">Актерское мастерство</a>
                      </li>
                    </ul>
                  </div>
                  <div class="nav-catalog-content__item tab-panel js__tab-panel" id="nav-catalog-list-2">
                    2
                  </div>
                  <div class="nav-catalog-content__item tab-panel js__tab-panel" id="nav-catalog-list-3">
                    3
                  </div>
                  <div class="nav-catalog-content__item tab-panel js__tab-panel" id="nav-catalog-list-4">
                    4
                  </div>
                  <div class="nav-catalog-content__item tab-panel js__tab-panel" id="nav-catalog-list-5">
                    5
                  </div>
                  <div class="nav-catalog-content__item tab-panel js__tab-panel" id="nav-catalog-list-6">
                    6
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <div class="catalog-filter__panel">
        <div class="btn-circle btn-circle__small icon-close js__catalog-filter__close"></div>
        <div class="catalog-filter__clear-all">Очистить все фильтры</div>
      </div>

      <div class="catalog-filter__wrapper">
      <div class="catalog-widget__select">
        <select>
          <option>Выбрать город</option>
          <option>Москва</option>
          <option>Зеленоград</option>
          <option>Красногорск</option>
          <option>Одинцово</option>
        </select>
      </div>

        <div class="catalog-filter__title">Фильтры</div>

      <aside class="catalog-widget">
        <div class="catalog-widget__title icon-arrow-down catalog-widget__active">Стоимость развлечения</div>
        <div class="catalog-widget__body">
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">0 - 1 000 ₽</span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" checked>
            <span class="custom-control-label icon-check">1 000 - 2 000 ₽</span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">2 000 - 3 000 ₽</span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">3 000 - 4 000 ₽</span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">5 000 - 6 000 ₽</span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">Более 6 000 ₽</span>
          </label>
          <div class="catalog-widget__bottom">
            <div class="catalog-widget__clear">Очистить фильтр</div>
          </div>
        </div>
      </aside>

      <aside class="catalog-widget">
        <div class="catalog-widget__title icon-arrow-down catalog-widget__active">Время начала</div>
        <div class="catalog-widget__body">
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">7:00 - 10:00 </span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">10:00 - 13:00</span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">13:00 - 16:00</span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">19:00 - 23:00</span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">После 23:00 (ночные)</span>
          </label>
          <div class="catalog-widget__bottom">
            <div class="catalog-widget__clear">Очистить фильтр</div>
          </div>
        </div>
      </aside>

      <aside class="catalog-widget">
        <div class="catalog-widget__title icon-arrow-down catalog-widget__active">Район Москвы</div>
        <div class="catalog-widget__body">
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">ЦАО</span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" checked>
            <span class="custom-control-label icon-check">САО</span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">СВАО</span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">ВАО</span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">ЮВАО</span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">ЮАО</span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">ЮЗАО</span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">ЗАО</span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">СЗАО</span>
          </label>
          <div class="catalog-widget__bottom">
            <div class="catalog-widget__clear">Очистить фильтр</div>
          </div>
        </div>
      </aside>

      <aside class="catalog-widget">
        <div class="catalog-widget__title icon-arrow-down catalog-widget__active">Возрастные группы</div>
        <div class="catalog-widget__body">
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">Дети 5 - 9 лет</span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" checked>
            <span class="custom-control-label icon-check">Подростки 10 - 14 лет </span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">Подростки 15 - 19 лет</span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">Молодежь 20 - 30 лет</span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">Взрослые 31 - 55 лет</span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">Пожилые  56 и старше</span>
          </label>
          <div class="catalog-widget__bottom">
            <div class="catalog-widget__clear">Очистить фильтр</div>
          </div>
        </div>
      </aside>

      <aside class="catalog-widget">
        <div class="catalog-widget__title icon-arrow-down">Популярные фильтры</div>
        <div class="catalog-widget__body" style="display: none">
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">1 000 - 2 000 ₽</span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">Молодежь 20 - 30 лет</span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">13:00 - 16:00</span>
          </label>
          <div class="catalog-widget__bottom">
            <div class="catalog-widget__clear">Очистить фильтр</div>
          </div>
        </div>
      </aside>

      <aside class="catalog-widget">
        <div class="catalog-widget__title icon-arrow-down catalog-widget__active">Рейтинг</div>
        <div class="catalog-widget__body">
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check"><span class="rating-progress" data-rating-progress="1"></span></span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check"><span class="rating-progress" data-rating-progress="2"></span></span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check"><span class="rating-progress" data-rating-progress="3"></span></span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check"><span class="rating-progress" data-rating-progress="4"></span></span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check"><span class="rating-progress" data-rating-progress="5"></span></span>
          </label>
          <div class="catalog-widget__bottom">
            <div class="catalog-widget__clear">Очистить фильтр</div>
          </div>
        </div>
      </aside>

      <aside class="catalog-widget">
        <div class="catalog-widget__title icon-arrow-down">Специальные предложения</div>
        <div class="catalog-widget__body" style="display:none;">
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">Хиты</span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">Новинки</span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">-50%</span>
          </label>
          <div class="catalog-widget__bottom">
            <div class="catalog-widget__clear">Очистить фильтр</div>
          </div>
        </div>
      </aside>

      <aside class="catalog-widget">
        <div class="catalog-widget__title icon-arrow-down catalog-widget__active">Длительность мероприятия</div>
        <div class="catalog-widget__body">
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">Менее 1 часа</span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" checked>
            <span class="custom-control-label icon-check">1 - 2 часа</span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">2 - 4 часа</span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">4 - 6 часов</span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">6 - 10 часов</span>
          </label>
          <label class="catalog-widget__group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label icon-check">Более 10 часов</span>
          </label>
          <div class="catalog-widget__bottom">
            <div class="catalog-widget__clear">Очистить фильтр</div>
          </div>
        </div>
      </aside>

      <aside class="catalog-widget">
        <div class="catalog-widget__title icon-arrow-down catalog-widget__active">Формат мероприятия</div>
        <div class="catalog-widget__body">
          <label class="catalog-widget__group custom-control custom-radio">
            <input type="radio" name="radio1" class="custom-control-input">
            <span class="custom-control-label">Индивидуальное</span>
          </label>
          <label class="catalog-widget__group custom-control custom-radio">
            <input type="radio" name="radio1" class="custom-control-input" checked>
            <span class="custom-control-label">Групповое</span>
          </label>
          <label class="catalog-widget__group custom-control custom-radio">
            <input type="radio" name="radio1" class="custom-control-input">
            <span class="custom-control-label">Все</span>
          </label>
          <div class="catalog-widget__bottom">
            <div class="catalog-widget__clear">Очистить фильтр</div>
          </div>
        </div>
      </aside>

      <aside class="catalog-widget">
        <div class="catalog-widget__title icon-arrow-down catalog-widget__active">Отмена бронирования</div>
        <div class="catalog-widget__body">
          <label class="catalog-widget__group custom-control custom-radio">
            <input type="radio" name="radio2" class="custom-control-input">
            <span class="custom-control-label">Можно отменить бронирование</span>
          </label>
          <label class="catalog-widget__group custom-control custom-radio">
            <input type="radio" name="radio2" class="custom-control-input" checked>
            <span class="custom-control-label">Нельзя отменить бронирование</span>
          </label>
          <div class="catalog-widget__bottom">
            <div class="catalog-widget__clear">Очистить фильтр</div>
          </div>
        </div>
      </aside>
    </div>
    </div>

    <div class="catalog-content col-lg-9">
      <!-- BEGIN: catalog-offer -->
      <ul class="catalog-offer link-offer list-unstyled">
        <li class="link-offer-item"><a href="#" class="icon-guitar link-offer-link">Музыка</a></li>
        <li class="link-offer-item"><a href="#" class="icon-food-tray link-offer-link">Еда и напитки</a></li>
        <li class="link-offer-item"><a href="#" class="icon-self-care link-offer-link">Уход за собой</a></li>
        <li class="link-offer-item"><a href="#" class="icon-extreme link-offer-link">Экстрим</a></li>
        <li class="link-offer-item"><a href="#" class="icon-running link-offer-link">Спорт</a></li>
        <li class="link-offer-item"><a href="#" class="icon-education link-offer-link">Развитие</a></li>
        <li class="link-offer-item"><a href="#" class="icon-balloon link-offer-link">Разное</a></li>
      </ul>
      <!-- END: catalog-offer -->

      <h1>Мастер класс по приготовлению чая</h1>

      <!-- BEGIN: tag-list -->
      <ul class="catalog-tag tag-list list-unstyled">
        <li class="tag-list__item"><a href="#" class="tag-list__link">Мини тэг</a></li>
        <li class="tag-list__item"><a href="#" class="tag-list__link">Короткий тэг</a></li>
        <li class="tag-list__item"><a href="#" class="tag-list__link">Тэг</a></li>
        <li class="tag-list__item"><a href="#" class="tag-list__link">Тэг 11</a></li>
        <li class="tag-list__item"><a href="#" class="tag-list__link">Длинный тэг</a></li>
        <li class="tag-list__item"><a href="#" class="tag-list__link">Короткий тэг</a></li>
        <li class="tag-list__item"><a href="#" class="tag-list__link">Ещё какой-то тэг</a></li>
        <li class="tag-list__item"><a href="#" class="tag-list__link">Это тэг</a></li>
        <li class="tag-list__item"><a href="#" class="tag-list__link">Короткий тэг</a></li>
        <li class="tag-list__item"><a href="#" class="tag-list__link">Ещё какой-то тэг</a></li>
        <li class="tag-list__item"><a href="#" class="tag-list__link">Короткий тэг</a></li>
        <li class="tag-list__item"><a href="#" class="tag-list__link">Это тэг</a></li>
        <li class="tag-list__item"><a href="#" class="tag-list__link">Мини тэг</a></li>
        <li class="tag-list__item"><a href="#" class="tag-list__link">Тэг 11</a></li>
        <li class="tag-list__item"><a href="#" class="tag-list__link">Тэг</a></li>
        <li class="tag-list__item"><a href="#" class="tag-list__link">Длинный тэг</a></li>
      </ul>
      <!-- END: tag-list -->

      <div class="filter-panel">
        <div class="filter-panel__count">Найдено 1 436 вариантов</div>

        <div class="filter-panel__box">
          <label class="custom-select-label icon-arrow-right">
            <select class="custom-select">
              <option value="00">Сортировать</option>
              <option value="01">по убыванию цены</option>
              <option value="02">по возрастанию цены</option>
              <option value="03">по рейтингу</option>
              <option value="04">наши рекомендации</option>
              <option value="05">с подарком</option>
            </select>
          </label>
        </div>

        <div class="filter-panel__box">
          <div class="filter-panel__choose icon-filter js__catalog-filter--show">Фильтровать</div>
        </div>

        <div class="filter-sorter__label">Сортировать по:</div>

        <ul class="filter-sorter list-unstyled">
          <li class="filter-sorter__state filter-sorter__state-price filter-sorter__select icon-increase">
            <a href="#" class="filter-sorter__state-link">по цене</a>
          </li>
          {#<li class="filter-sorter__state filter-sorter__select icon-decrease">по цене</li>#}
          <li class="filter-sorter__state">по рейтингу</li>
          <li class="filter-sorter__state">наши рекомендации</li>
          <li class="filter-sorter__state">с подарком</li>
        </ul>

        <div class="filter-more dropdown">
          <div class="dropdown-toggle js__dropdown-toggle icon-menu-circle"></div>

          <ul class="dropdown-menu dropdown-menu__right list-unstyled">
            <li class="dropdown-item">Сортировка 1</li>
            <li class="dropdown-item">Сортировка 2</li>
            <li class="dropdown-item">Сортировка 3</li>
            <li class="dropdown-item">Сортировка 4</li>
          </ul>
        </div>
      </div>

      <div class="catalog-wrap">
        <!-- Begin: snippet-item -->
        <a href="#" class="snippet-item">
          <div class="snippet-aside">
            <div class="snippet-aside__box">
              <img src="img/example/snippet-02.jpg" class="snippet-aside__box-img" alt="">
              <div class="sticker-hit"></div>
              <div class="sticker-new"></div>
              <div class="sticker-recommendation"></div>
            </div>
            <div class="snippet-avatar">
              <img src="img/example/avatar-02.jpg" class="snippet-avatar__img" alt="">
              <div>OOO Чай с Индийской горы</div>
            </div>
          </div>

          <div class="snippet-content">
            <div class="snippet-content__panel">
              <div class="sticker-format">Индивидуальное</div>
              <span class="rating-progress" data-rating-progress="3"></span>
              <div class="snippet-review">10 отзывов</div>
              <div class="sticker-baby"></div>
              <div class="sticker-compare icon-compare"></div>
            </div>

            <div class="snippet-title">
              Мастер класс по приготовлению зелёного чая собранного в горах Индии ручным
            </div>

            <div class="snippet-text">
              Сходящийся ряд охватывает тригонометрический график функции многих переменных. Надо сказать, что достаточно сходимости.
            </div>

            <div class="snippet-content__info">
              <div class="snippet-price">
                <div class="sticker-discount"><span class="sticker-discount__value">9</span></div>
                <del class="snippet-price__old">1 000 ₽</del>
                <div class="snippet-price__new">500 ₽</div>
                <div class="snippet-price__label">за мероприятие</div>
              </div>
              <div class="snippet-duration icon-time">Длительность: 1 час </div>
              <div class="sticker-present"></div>
            </div>
          </div>
        </a>
        <!-- END -->

        <!-- Begin: snippet-item -->
        <a href="#" class="snippet-item">
          <div class="snippet-aside">
            <div class="snippet-aside__box">
              <img src="img/example/snippet-02.jpg" class="snippet-aside__box-img" alt="">
              <div class="sticker-hit"></div>
              <div class="sticker-recommendation"></div>
            </div>
            <div class="snippet-avatar">
              <img src="img/example/avatar-02.jpg" class="snippet-avatar__img" alt="">
              <div>OOO Чай с Индийской горы</div>
            </div>
          </div>

          <div class="snippet-content">
            <div class="snippet-content__panel">
              <div class="sticker-format">Индивидуальное</div>
              <span class="rating-progress" data-rating-progress="3"></span>
              <div class="snippet-review">10 отзывов</div>
              <div class="sticker-baby"></div>
              <div class="sticker-compare icon-compare"></div>
            </div>

            <div class="snippet-title">
              Мастер класс по приготовлению зелёного чая собранного в горах Индии ручным
            </div>

            <div class="snippet-text">
              Сходящийся ряд охватывает тригонометрический график функции многих переменных. Надо сказать, что достаточно сходимости.
            </div>

            <div class="snippet-content__info">
              <div class="snippet-price">
                <div class="sticker-discount"><span class="sticker-discount__value">10</span></div>
                <del class="snippet-price__old">1 000 ₽</del>
                <div class="snippet-price__new">500 ₽</div>
                <div class="snippet-price__label">за мероприятие</div>
              </div>
              <div class="snippet-duration icon-time">Длительность: 1 час </div>
              <div class="sticker-present"></div>
            </div>
          </div>
        </a>
        <!-- END -->

        <!-- Begin: snippet-item -->
        <a href="#" class="snippet-item">
          <div class="snippet-aside">
            <div class="snippet-aside__box">
              <img src="img/example/snippet-02.jpg" class="snippet-aside__box-img" alt="">
              <div class="sticker-new"></div>
              <div class="sticker-recommendation"></div>
            </div>
            <div class="snippet-avatar">
              <img src="img/example/avatar-02.jpg" class="snippet-avatar__img" alt="">
              <div>OOO Чай с Индийской горы</div>
            </div>
          </div>

          <div class="snippet-content">
            <div class="snippet-content__panel">
              <div class="sticker-format">Индивидуальное</div>
              <span class="rating-progress" data-rating-progress="3"></span>
              <div class="snippet-review">10 отзывов</div>
              <div class="sticker-baby"></div>
              <div class="sticker-compare icon-compare"></div>
            </div>

            <div class="snippet-title">
              Мастер класс по приготовлению зелёного чая собранного в горах Индии ручным
            </div>

            <div class="snippet-text">
              Сходящийся ряд охватывает тригонометрический график функции многих переменных. Надо сказать, что достаточно сходимости.
            </div>

            <div class="snippet-content__info">
              <div class="snippet-price">
                <div class="sticker-discount"><span class="sticker-discount__value">50</span></div>
                <del class="snippet-price__old">1 000 ₽</del>
                <div class="snippet-price__new">500 ₽</div>
                <div class="snippet-price__label">за мероприятие</div>
              </div>
              <div class="snippet-duration icon-time">Длительность: 1 час </div>
              <div class="sticker-present"></div>
            </div>
          </div>
        </a>
        <!-- END -->

        <!-- Begin: snippet-item -->
        <a href="#" class="snippet-item">
          <div class="snippet-aside">
            <div class="snippet-aside__box">
              <img src="img/example/snippet-02.jpg" class="snippet-aside__box-img" alt="">
              <div class="sticker-hit"></div>
              <div class="sticker-new"></div>
            </div>
            <div class="snippet-avatar">
              <img src="img/example/avatar-02.jpg" class="snippet-avatar__img" alt="">
              <div>OOO Чай с Индийской горы</div>
            </div>
          </div>

          <div class="snippet-content">
            <div class="snippet-content__panel">
              <div class="sticker-format">Индивидуальное</div>
              <span class="rating-progress" data-rating-progress="3"></span>
              <div class="snippet-review">10 отзывов</div>
              <div class="sticker-baby"></div>
              <div class="sticker-compare icon-compare"></div>
            </div>

            <div class="snippet-title">
              Мастер класс по приготовлению зелёного чая собранного в горах Индии ручным
            </div>

            <div class="snippet-text">
              Сходящийся ряд охватывает тригонометрический график функции многих переменных. Надо сказать, что достаточно сходимости.
            </div>

            <div class="snippet-content__info">
              <div class="snippet-price">
                <div class="sticker-discount"><span class="sticker-discount__value">50</span></div>
                <del class="snippet-price__old">1 000 ₽</del>
                <div class="snippet-price__new">500 ₽</div>
                <div class="snippet-price__label">за мероприятие</div>
              </div>
              <div class="snippet-duration icon-time">Длительность: 1 час </div>
              <div class="sticker-present"></div>
            </div>
          </div>
        </a>
        <!-- END -->

        <!-- Begin: snippet-item -->
        <a href="#" class="snippet-item">
          <div class="snippet-aside">
            <div class="snippet-aside__box">
              <img src="img/example/snippet-02.jpg" class="snippet-aside__box-img" alt="">
            </div>
            <div class="snippet-avatar">
              <img src="img/example/avatar-02.jpg" class="snippet-avatar__img" alt="">
              <div>OOO Чай с Индийской горы</div>
            </div>
          </div>

          <div class="snippet-content">
            <div class="snippet-content__panel">
              <div class="sticker-format">Индивидуальное</div>
              <span class="rating-progress" data-rating-progress="3"></span>
              <div class="snippet-review">10 отзывов</div>
              <div class="sticker-baby"></div>
              <div class="sticker-compare icon-compare"></div>
            </div>

            <div class="snippet-title">
              Мастер класс по приготовлению зелёного чая собранного в горах Индии ручным
            </div>

            <div class="snippet-text">
              Сходящийся ряд охватывает тригонометрический график функции многих переменных. Надо сказать, что достаточно сходимости.
            </div>

            <div class="snippet-content__info">
              <div class="snippet-price">
                <div class="sticker-discount"><span class="sticker-discount__value">50</span></div>
                <del class="snippet-price__old">1 000 ₽</del>
                <div class="snippet-price__new">500 ₽</div>
                <div class="snippet-price__label">за мероприятие</div>
              </div>
              <div class="snippet-duration icon-time">Длительность: 1 час </div>
              <div class="sticker-present"></div>
            </div>
          </div>
        </a>
        <!-- END -->

        <!-- Begin: snippet-item -->
        <a href="#" class="snippet-item">
          <div class="snippet-aside">
            <div class="snippet-aside__box">
              <img src="img/example/snippet-02.jpg" class="snippet-aside__box-img" alt="">
              <div class="sticker-hit"></div>
              <div class="sticker-new"></div>
              <div class="sticker-recommendation"></div>
            </div>
            <div class="snippet-avatar">
              <img src="img/example/avatar-02.jpg" class="snippet-avatar__img" alt="">
              <div>OOO Чай с Индийской горы</div>
            </div>
          </div>

          <div class="snippet-content">
            <div class="snippet-content__panel">
              <div class="sticker-format">Индивидуальное</div>
              <span class="rating-progress" data-rating-progress="0"></span>
              <div class="snippet-review">10 отзывов</div>
              <div class="sticker-baby"></div>
              <div class="sticker-compare icon-compare"></div>
            </div>

            <div class="snippet-title">
              Мастер класс по приготовлению зелёного чая собранного в горах Индии ручным
            </div>

            <div class="snippet-text">
              Сходящийся ряд охватывает тригонометрический график функции многих переменных. Надо сказать, что достаточно сходимости.
            </div>

            <div class="snippet-content__info">
              <div class="snippet-price">
                <div class="sticker-discount"><span class="sticker-discount__value">50</span></div>
                <del class="snippet-price__old">1 000 ₽</del>
                <div class="snippet-price__new">500 ₽</div>
                <div class="snippet-price__label">за мероприятие</div>
              </div>
              <div class="snippet-duration icon-time">Длительность: 1 час </div>
              <div class="sticker-present"></div>
            </div>
          </div>
        </a>
        <!-- END -->

        <!-- Begin: snippet-item -->
        <a href="#" class="snippet-item">
          <div class="snippet-aside">
            <div class="snippet-aside__box">
              <img src="img/example/snippet-02.jpg" class="snippet-aside__box-img" alt="">
              <div class="sticker-hit"></div>
              <div class="sticker-new"></div>
              <div class="sticker-recommendation"></div>
            </div>
            <div class="snippet-avatar">
              <img src="img/example/avatar-02.jpg" class="snippet-avatar__img" alt="">
              <div>OOO Чай с Индийской горы</div>
            </div>
          </div>

          <div class="snippet-content">
            <div class="snippet-content__panel">
              <div class="sticker-format">Индивидуальное</div>
              <span class="rating-progress" data-rating-progress="5"></span>
              <div class="snippet-review">10 отзывов</div>
              <div class="sticker-baby"></div>
              <div class="sticker-compare icon-compare"></div>
            </div>

            <div class="snippet-title">
              Мастер класс по приготовлению зелёного чая собранного в горах Индии ручным
            </div>

            <div class="snippet-text">
              Сходящийся ряд охватывает тригонометрический график функции многих переменных. Надо сказать, что достаточно сходимости.
            </div>

            <div class="snippet-content__info">
              <div class="snippet-price">
                <div class="sticker-discount"><span class="sticker-discount__value">50</span></div>
                <del class="snippet-price__old">1 000 ₽</del>
                <div class="snippet-price__new">500 ₽</div>
                <div class="snippet-price__label">за мероприятие</div>
              </div>
              <div class="snippet-duration icon-time">Длительность: 1 час </div>
              <div class="sticker-present"></div>
            </div>
          </div>
        </a>
        <!-- END -->

        <!-- Begin: snippet-item -->
        <a href="#" class="snippet-item">
          <div class="snippet-aside">
            <div class="snippet-aside__box">
              <img src="img/example/snippet-02.jpg" class="snippet-aside__box-img" alt="">
              <div class="sticker-hit"></div>
              <div class="sticker-new"></div>
              <div class="sticker-recommendation"></div>
            </div>
            <div class="snippet-avatar">
              <img src="img/example/avatar-02.jpg" class="snippet-avatar__img" alt="">
              <div>OOO Чай с Индийской горы</div>
            </div>
          </div>

          <div class="snippet-content">
            <div class="snippet-content__panel">
              <div class="sticker-format">Групповое</div>
              <span class="rating-progress" data-rating-progress="3"></span>
              <div class="snippet-review">10 отзывов</div>
              <div class="sticker-baby"></div>
              <div class="sticker-compare icon-compare"></div>
            </div>

            <div class="snippet-title">
              Мастер класс по приготовлению зелёного чая собранного в горах Индии ручным
            </div>

            <div class="snippet-text">
              Сходящийся ряд охватывает тригонометрический график функции многих переменных. Надо сказать, что достаточно сходимости.
            </div>

            <div class="snippet-content__info">
              <div class="snippet-price">
                <div class="sticker-discount"><span class="sticker-discount__value">50</span></div>
                <del class="snippet-price__old">1 000 ₽</del>
                <div class="snippet-price__new">500 ₽</div>
                <div class="snippet-price__label">за мероприятие</div>
              </div>
              <div class="snippet-duration icon-time">Длительность: 1 час </div>
              <div class="sticker-present"></div>
            </div>
          </div>
        </a>
        <!-- END -->

        <!-- Begin: snippet-item -->
        <a href="#" class="snippet-item">
          <div class="snippet-aside">
            <div class="snippet-aside__box">
              <img src="img/example/snippet-02.jpg" class="snippet-aside__box-img" alt="">
              <div class="sticker-hit"></div>
              <div class="sticker-new"></div>
              <div class="sticker-recommendation"></div>
            </div>
            <div class="snippet-avatar">
              <img src="img/example/avatar-02.jpg" class="snippet-avatar__img" alt="">
              <div>OOO Чай с Индийской горы</div>
            </div>
          </div>

          <div class="snippet-content">
            <div class="snippet-content__panel">
              <div class="sticker-format">Групповое</div>
              <span class="rating-progress" data-rating-progress="4"></span>
              <div class="snippet-review">0 отзывов</div>
              <div class="sticker-baby"></div>
              <div class="sticker-compare icon-compare"></div>
            </div>

            <div class="snippet-title">
              Мастер класс по приготовлению зелёного чая собранного в горах Индии ручным
            </div>

            <div class="snippet-text">
              Сходящийся ряд охватывает тригонометрический график функции многих переменных. Надо сказать, что достаточно сходимости.
            </div>

            <div class="snippet-content__info">
              <div class="snippet-price">
                <div class="sticker-discount"><span class="sticker-discount__value">50</span></div>
                <del class="snippet-price__old">1 000 ₽</del>
                <div class="snippet-price__new">500 ₽</div>
                <div class="snippet-price__label">за мероприятие</div>
              </div>
              <div class="snippet-duration icon-time">Длительность: 1 час </div>
              <div class="sticker-present"></div>
            </div>
          </div>
        </a>
        <!-- END -->

        <!-- Begin: snippet-item -->
        <a href="#" class="snippet-item">
          <div class="snippet-aside">
            <div class="snippet-aside__box">
              <img src="img/example/snippet-02.jpg" class="snippet-aside__box-img" alt="">
              <div class="sticker-hit"></div>
              <div class="sticker-new"></div>
              <div class="sticker-recommendation"></div>
            </div>
            <div class="snippet-avatar">
              <img src="img/example/avatar-02.jpg" class="snippet-avatar__img" alt="">
              <div>OOO Чай с Индийской горы</div>
            </div>
          </div>

          <div class="snippet-content">
            <div class="snippet-content__panel">
              <div class="sticker-format">Индивидуальное</div>
              <span class="rating-progress" data-rating-progress="3"></span>
              <div class="snippet-review">1 отзыв</div>
              <div class="sticker-baby"></div>
            </div>

            <div class="snippet-title">
              Мастер класс по приготовлению зелёного чая собранного в горах Индии ручным
            </div>

            <div class="snippet-text">
              Сходящийся ряд охватывает тригонометрический график функции многих переменных. Надо сказать, что достаточно сходимости.
            </div>

            <div class="snippet-content__info">
              <div class="snippet-price">
                <div class="sticker-discount"><span class="sticker-discount__value">50</span></div>
                <del class="snippet-price__old">1 000 ₽</del>
                <div class="snippet-price__new">500 ₽</div>
                <div class="snippet-price__label">за мероприятие</div>
              </div>
              <div class="snippet-duration icon-time">Длительность: 1 час </div>
              <div class="sticker-present"></div>
            </div>
          </div>
        </a>
        <!-- END -->

        <!-- Begin: snippet-item -->
        <a href="#" class="snippet-item">
          <div class="snippet-aside">
            <div class="snippet-aside__box">
              <img src="img/example/snippet-02.jpg" class="snippet-aside__box-img" alt="">
              <div class="sticker-hit"></div>
              <div class="sticker-new"></div>
              <div class="sticker-recommendation"></div>
            </div>
            <div class="snippet-avatar">
              <img src="img/example/avatar-02.jpg" class="snippet-avatar__img" alt="">
              <div>OOO Чай с Индийской горы</div>
            </div>
          </div>

          <div class="snippet-content">
            <div class="snippet-content__panel">
              <div class="sticker-format">Индивидуальное</div>
              <span class="rating-progress" data-rating-progress="2"></span>
              <div class="snippet-review">203 отзывов</div>
              <div class="sticker-baby"></div>
              <div class="sticker-compare icon-compare"></div>
            </div>

            <div class="snippet-title">
              Мастер класс по приготовлению зелёного чая собранного в горах Индии ручным
            </div>

            <div class="snippet-text">
              Сходящийся ряд охватывает тригонометрический график функции многих переменных. Надо сказать, что достаточно сходимости.
            </div>

            <div class="snippet-content__info">
              <div class="snippet-price">
                <div class="sticker-discount"><span class="sticker-discount__value">50</span></div>
                <div class="snippet-price__new">500 ₽</div>
                <div class="snippet-price__label">за мероприятие</div>
              </div>
              <div class="snippet-duration icon-time">Длительность: 1 час </div>
              <div class="sticker-present"></div>
            </div>
          </div>
        </a>
        <!-- END -->

        <!-- Begin: snippet-item -->
        <a href="#" class="snippet-item">
          <div class="snippet-aside">
            <div class="snippet-aside__box">
              <img src="img/example/snippet-02.jpg" class="snippet-aside__box-img" alt="">
              <div class="sticker-hit"></div>
              <div class="sticker-new"></div>
              <div class="sticker-recommendation"></div>
            </div>
            <div class="snippet-avatar">
              <img src="img/example/avatar-02.jpg" class="snippet-avatar__img" alt="">
              <div>OOO Чай с Индийской горы</div>
            </div>
          </div>

          <div class="snippet-content">
            <div class="snippet-content__panel">
              <div class="sticker-format">Индивидуальное</div>
              <span class="rating-progress" data-rating-progress="3"></span>
              <div class="snippet-review">10 отзывов</div>
              <div class="sticker-baby"></div>
              <div class="sticker-compare icon-compare"></div>
            </div>

            <div class="snippet-title">
              Мастер класс по приготовлению зелёного чая собранного в горах Индии ручным
            </div>

            <div class="snippet-text">
              Сходящийся ряд охватывает тригонометрический график функции многих переменных. Надо сказать, что достаточно сходимости.
            </div>

            <div class="snippet-content__info">
              <div class="snippet-price">
                <div class="sticker-discount"><span class="sticker-discount__value">50</span></div>
                <del class="snippet-price__old">1 000 ₽</del>
                <div class="snippet-price__new">500 ₽</div>
                <div class="snippet-price__label">за мероприятие</div>
              </div>
              <div class="snippet-duration icon-time">Длительность: 1 час </div>
            </div>
          </div>
        </a>
        <!-- END -->

        <!-- Begin: snippet-item -->
        <a href="#" class="snippet-item">
          <div class="snippet-aside">
            <div class="snippet-aside__box">
              <img src="img/example/snippet-02.jpg" class="snippet-aside__box-img" alt="">
              <div class="sticker-hit"></div>
              <div class="sticker-new"></div>
              <div class="sticker-recommendation"></div>
            </div>
            <div class="snippet-avatar">
              <img src="img/example/avatar-02.jpg" class="snippet-avatar__img" alt="">
              <div>OOO Чай с Индийской горы</div>
            </div>
          </div>

          <div class="snippet-content">
            <div class="snippet-content__panel">
              <div class="sticker-format">Индивидуальное</div>
              <span class="rating-progress" data-rating-progress="3"></span>
              <div class="snippet-review">10 отзывов</div>
              <div class="sticker-baby"></div>
            </div>

            <div class="snippet-title">
              Мастер класс по приготовлению зелёного чая собранного в горах Индии ручным
            </div>

            <div class="snippet-text">
              Сходящийся ряд охватывает тригонометрический график функции многих переменных. Надо сказать, что достаточно сходимости.
            </div>

            <div class="snippet-content__info">
              <div class="snippet-price">
                <div class="sticker-discount"><span class="sticker-discount__value">50</span></div>
                <del class="snippet-price__old">1 000 ₽</del>
                <div class="snippet-price__new">500 ₽</div>
                <div class="snippet-price__label">за мероприятие</div>
              </div>
              <div class="snippet-duration icon-time">Длительность: 1 час </div>
              <div class="sticker-present"></div>
            </div>
          </div>
        </a>
        <!-- END -->

        <!-- Begin: snippet-item -->
        <a href="#" class="snippet-item">
          <div class="snippet-aside">
            <div class="snippet-aside__box">
              <img src="img/example/snippet-02.jpg" class="snippet-aside__box-img" alt="">
              <div class="sticker-hit"></div>
              <div class="sticker-new"></div>
              <div class="sticker-recommendation"></div>
            </div>
            <div class="snippet-avatar">
              <img src="img/example/avatar-02.jpg" class="snippet-avatar__img" alt="">
              <div>OOO Чай с Индийской горы</div>
            </div>
          </div>

          <div class="snippet-content">
            <div class="snippet-content__panel">
              <div class="sticker-format">Индивидуальное</div>
              <span class="rating-progress" data-rating-progress="3"></span>
              <div class="snippet-review">10 отзывов</div>
              <div class="sticker-compare icon-compare"></div>
            </div>

            <div class="snippet-title">
              Мастер класс по приготовлению зелёного чая собранного в горах Индии ручным
            </div>

            <div class="snippet-text">
              Сходящийся ряд охватывает тригонометрический график функции многих переменных. Надо сказать, что достаточно сходимости.
            </div>

            <div class="snippet-content__info">
              <div class="snippet-price">
                <div class="sticker-discount"><span class="sticker-discount__value">50</span></div>
                <del class="snippet-price__old">1 000 ₽</del>
                <div class="snippet-price__new">500 ₽</div>
                <div class="snippet-price__label">за мероприятие</div>
              </div>
              <div class="snippet-duration icon-time">Длительность: 1 час </div>
              <div class="sticker-present"></div>
            </div>
          </div>
        </a>
        <!-- END -->

        <!-- Begin: snippet-item -->
        <a href="#" class="snippet-item">
          <div class="snippet-aside">
            <div class="snippet-aside__box">
              <img src="img/example/snippet-02.jpg" class="snippet-aside__box-img" alt="">
              <div class="sticker-hit"></div>
              <div class="sticker-new"></div>
              <div class="sticker-recommendation"></div>
            </div>
            <div class="snippet-avatar">
              <img src="img/example/avatar-02.jpg" class="snippet-avatar__img" alt="">
              <div>OOO Чай с Индийской горы</div>
            </div>
          </div>

          <div class="snippet-content">
            <div class="snippet-content__panel">
              <div class="sticker-format">Индивидуальное</div>
              <span class="rating-progress" data-rating-progress="3"></span>
              <div class="snippet-review">10 отзывов</div>
            </div>

            <div class="snippet-title">
              Мастер класс по приготовлению зелёного чая собранного в горах Индии ручным
            </div>

            <div class="snippet-text">
              Сходящийся ряд охватывает тригонометрический график функции многих переменных. Надо сказать, что достаточно сходимости.
            </div>

            <div class="snippet-content__info">
              <div class="snippet-price">
                <div class="sticker-discount"><span class="sticker-discount__value">50</span></div>
                <del class="snippet-price__old">1 000 ₽</del>
                <div class="snippet-price__new">500 ₽</div>
                <div class="snippet-price__label">за мероприятие</div>
              </div>
              <div class="snippet-duration icon-time">Длительность: 1 час </div>
              <div class="sticker-present"></div>
            </div>
          </div>
        </a>
        <!-- END -->

        <!-- Begin: snippet-item -->
        <a href="#" class="snippet-item">
          <div class="snippet-aside">
            <div class="snippet-aside__box">
              <img src="img/example/snippet-02.jpg" class="snippet-aside__box-img" alt="">
              <div class="sticker-hit"></div>
              <div class="sticker-new"></div>
              <div class="sticker-recommendation"></div>
            </div>
            <div class="snippet-avatar">
              <img src="img/example/avatar-02.jpg" class="snippet-avatar__img" alt="">
              <div>OOO Чай с Индийской горы</div>
            </div>
          </div>

          <div class="snippet-content">
            <div class="snippet-content__panel">
              <div class="sticker-format">Индивидуальное</div>
              <span class="rating-progress" data-rating-progress="3"></span>
              <div class="snippet-review">10 отзывов</div>
              <div class="sticker-baby"></div>
              <div class="sticker-compare icon-compare"></div>
            </div>

            <div class="snippet-title">
              Мастер класс по приготовлению зелёного чая собранного в горах Индии ручным
            </div>

            <div class="snippet-text">
              Сходящийся ряд охватывает тригонометрический график функции многих переменных. Надо сказать, что достаточно сходимости.
            </div>

            <div class="snippet-content__info">
              <div class="snippet-price">
                <div class="sticker-discount"><span class="sticker-discount__value">50</span></div>
                <div class="snippet-price__new">15 000 ₽</div>
                <div class="snippet-price__label">за мероприятие</div>
              </div>
              <div class="snippet-duration icon-time">Длительность: 18 часов </div>
              <div class="sticker-present"></div>
            </div>
          </div>
        </a>
        <!-- END -->

        <!-- Begin: snippet-item -->
        <a href="#" class="snippet-item">
          <div class="snippet-aside">
            <div class="snippet-aside__box">
              <img src="img/example/snippet-02.jpg" class="snippet-aside__box-img" alt="">
              <div class="sticker-hit"></div>
              <div class="sticker-new"></div>
              <div class="sticker-recommendation"></div>
            </div>
            <div class="snippet-avatar">
              <img src="img/example/avatar-02.jpg" class="snippet-avatar__img" alt="">
              <div>ИП Константинова Констанция Константовная</div>
            </div>
          </div>

          <div class="snippet-content">
            <div class="snippet-content__panel">
              <div class="sticker-format">Индивидуальное</div>
              <span class="rating-progress" data-rating-progress="3"></span>
              <div class="snippet-review">10 отзывов</div>
              <div class="sticker-baby"></div>
              <div class="sticker-compare icon-compare"></div>
            </div>

            <div class="snippet-title">
              Мастер класс по приготовлению зелёного чая собранного в горах Индии ручным
            </div>

            <div class="snippet-text">
              Сходящийся ряд охватывает тригонометрический график функции многих переменных. Надо сказать, что достаточно сходимости.
            </div>

            <div class="snippet-content__info">
              <div class="snippet-price">
                <div class="sticker-discount"><span class="sticker-discount__value">50</span></div>
                <del class="snippet-price__old">1 000 ₽</del>
                <div class="snippet-price__new">500 ₽</div>
                <div class="snippet-price__label">за мероприятие</div>
              </div>
              <div class="snippet-duration icon-time">Длительность: 1 час </div>
              <div class="sticker-present"></div>
            </div>
          </div>
        </a>
        <!-- END -->

        <!-- Begin: snippet-item -->
        <a href="#" class="snippet-item">
          <div class="snippet-aside">
            <div class="snippet-aside__box">
              <img src="img/example/snippet-02.jpg" class="snippet-aside__box-img" alt="">
              <div class="sticker-hit"></div>
              <div class="sticker-new"></div>
              <div class="sticker-recommendation"></div>
            </div>
            <div class="snippet-avatar">
              <img src="img/example/avatar-02.jpg" class="snippet-avatar__img" alt="">
              <div>OOO Чай с Индийской горы</div>
            </div>
          </div>

          <div class="snippet-content">
            <div class="snippet-content__panel">
              <div class="sticker-format">Индивидуальное</div>
              <span class="rating-progress" data-rating-progress="3"></span>
              <div class="snippet-review">10 отзывов</div>
              <div class="sticker-baby"></div>
              <div class="sticker-compare icon-compare"></div>
            </div>

            <div class="snippet-title">
              Мастер класс по приготовлению зелёного чая собранного в горах Индии ручным
            </div>

            <div class="snippet-text">
              Сходящийся ряд охватывает тригонометрический график функции многих переменных. Надо сказать, что достаточно сходимости.
            </div>

            <div class="snippet-content__info">
              <div class="snippet-price">
                <div class="sticker-discount"><span class="sticker-discount__value">50</span></div>
                <del class="snippet-price__old">100 000 ₽</del>
                <div class="snippet-price__new">50 000 ₽</div>
                <div class="snippet-price__label">за мероприятие</div>
              </div>
              <div class="snippet-duration icon-time">Длительность: 3 дня</div>
              <div class="sticker-present"></div>
            </div>
          </div>
        </a>
        <!-- END -->

        <!-- Begin: snippet-item -->
        <a href="#" class="snippet-item">
          <div class="snippet-aside">
            <div class="snippet-aside__box">
              <img src="img/example/snippet-02.jpg" class="snippet-aside__box-img" alt="">
              <div class="sticker-hit"></div>
              <div class="sticker-new"></div>
              <div class="sticker-recommendation"></div>
            </div>
            <div class="snippet-avatar">
              <img src="img/example/avatar-02.jpg" class="snippet-avatar__img" alt="">
              <div>OOO Чай с Индийской горы</div>
            </div>
          </div>

          <div class="snippet-content">
            <div class="snippet-content__panel">
              <div class="sticker-format">Индивидуальное</div>
              <span class="rating-progress" data-rating-progress="3"></span>
              <div class="snippet-review">1001 отзыва</div>
              <div class="sticker-baby"></div>
              <div class="sticker-compare icon-compare"></div>
            </div>

            <div class="snippet-title">
              Мастер класс по приготовлению зелёного чая собранного в горах Индии ручным
            </div>

            <div class="snippet-text">
              Сходящийся ряд охватывает тригонометрический график функции многих переменных. Надо сказать, что достаточно сходимости.
            </div>

            <div class="snippet-content__info">
              <div class="snippet-price">
                <div class="sticker-discount"><span class="sticker-discount__value">50</span></div>
                <del class="snippet-price__old">100 ₽</del>
                <div class="snippet-price__new">50 ₽</div>
                <div class="snippet-price__label">за мероприятие</div>
              </div>
              <div class="snippet-duration icon-time">Длительность: 45 минут</div>
              <div class="sticker-present"></div>
            </div>
          </div>
        </a>
        <!-- END -->
      </div>

      <!-- BEGIN: pagination -->
      <ul class="pagination list-unstyled">
        <li class="pagination-item">
          <a href="#" class="pagination-link btn-circle pagination-control icon-arrow-left">Назад</a>
        </li>
        <li class="pagination-item">
          <a href="#" class="pagination-link btn-circle"><span class="btn-text">1</span></a>
        </li>
        <li class="pagination-item"><span class="pagination-current">2</span></li>
        <li class="pagination-item">
          <a href="#" class="pagination-link btn-circle"><span class="btn-text">3</span></a>
        </li>
        <li class="pagination-item">
          <a href="#" class="pagination-link btn-circle"><span class="btn-text">4</span></a>
        </li>
        <li class="pagination-item">
          <a href="#" class="pagination-link btn-circle"><span class="btn-text">5</span></a>
        </li>
        <li class="pagination-item"><span class="pagination-decor">...</span></li>
        <li class="pagination-item">
          <a href="#" class="pagination-link btn-circle"><span class="btn-text">10</span></a>
        </li>
        <li class="pagination-item">
          <a href="#" class="pagination-link btn-circle pagination-control icon-arrow-right">Вперед</a>
        </li>
      </ul>
      <!-- END: pagination -->


      <div class="main-content">
        <h2>Вот как мы создаём впечатления для вас!</h2>
        <p class="lead">
          Тема: &laquo;Прагматический феномен толпы&nbsp;&mdash; актуальная национальная задача&raquo;
        </p>
        <p>
          Политическая модернизация, на&nbsp;первый взгляд, практически ограничивает функциональный механизм
          власти. Форма политического сознания, согласно традиционным представлениям, наблюдаема. Между тем,
          понятие модернизации означает доиндустриальный тип политической культуры, об&nbsp;этом прямо сказано в&nbsp;статье
          2&nbsp;Конституции РФ. Культ личности формирует бихевиоризм. Политическое учение Фомы Аквинского
          теоретически определяет континентально-европейский тип политической культуры, впрочем, это несколько
          расходится с&nbsp;концепцией Истона.
        </p>
        <p>
          Политическое учение Платона ограничивает постиндустриализм. Институциализация символизирует
          идеологический тоталитарный тип политической культуры. В&nbsp;таких странах, как Мексика и&nbsp;Венесуэла,
          идеология неоднозначна. Глобализация, как&nbsp;бы это ни&nbsp;казалось парадоксальным, однозначно
          определяет доиндустриальный тип политической культуры.
        </p>
        <p>
          В&nbsp;данной ситуации политическая элита важно иллюстрирует теоретический референдум. Политическая
          система верифицирует теоретический марксизм. Либерализм традиционен. Правовое государство интегрирует
          бихевиоризм. Политическое учение Монтескье самопроизвольно.
        </p>

        <p class="lead">
          Тема: &laquo;Почему нормально распределен абсолютно сходящийся ряд?&raquo;
        </p>
        <p>
          Частная производная определяет интеграл Пуассона. Интеграл Фурье, общеизвестно, обоснован
          необходимостью. Векторное поле, исключая очевидный случай, восстанавливает тройной интеграл. График
          функции многих переменных решительно стабилизирует полином. Максимум программирует минимум. Эпсилон
          окрестность, общеизвестно, позитивно привлекает скачок функции.
        </p>
        <p>
          Легко проверить, что математическая статистика стремится к&nbsp;нулю. В&nbsp;общем, подмножество
          ускоряет неопровержимый функциональный анализ. По&nbsp;сути, критерий сходимости Коши синхронизирует
          эмпирический контрпример.
        </p>
        <p>
          Скалярное произведение переворачивает нормальный математический анализ. Поле направлений, общеизвестно,
          допускает график функции многих переменных. График функции, в&nbsp;первом приближении, решительно
          создает абстрактный интеграл от&nbsp;функции комплексной переменной, что и&nbsp;требовалось доказать.
          Тем не&nbsp;менее, лемма традиционно обуславливает функциональный анализ.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="floating-panel floating-panel__catalog">
  <button type="button" class="btn-primary btn js__catalog-filter__close">
    <span class="btn-text">Посмотреть результаты</span>
  </button>
</div>
{% endblock %}

{% block footer %}
  {% include 'desktop-table/footer.twig' %}
{% endblock %}

{% block modal %}
  {% include 'desktop-table/modal.twig' %}
{% endblock %}

{% block search %}
  {% include 'desktop-table/search-area.twig' %}
{% endblock %}

{% block entertainment %}
  {% include 'desktop-table/entertainment.twig' %}
{% endblock %}
