{% extends "layout/layout.twig" %}
{% set title = "Мастер класс по приготовлению зелёного чая" %}
{% set breadcrumbCurrent = "Мастер класс по приготовлению чая" %}
{% block topPanel %}{% include 'desktop-table/top-panel.twig' %}{% endblock %} {% block mobHeader %}{% include 'mobile/header.twig' %}{% endblock %}
{% block breadcrumb %}{% include 'partials/breadcrumb.twig' %}{% endblock %}

{% block content %}

<div class="detail-page container">
  <div class="row">
    <div class="col-lg-8">
      <div class="detail-meta">
        <div class="detail-meta__item rating-progress" data-rating-progress="3"></div>
        <a href="#comments" class="detail-meta__item detail-meta__review js__go-anchor" rel="nofollow">10 отзывов</a>
        <div class="detail-meta__item sticker-compare icon-compare"></div>
        <div class="detail-meta__item sticker-credential"></div>
      </div>

      <h1 class="mb-3">Мастер класс по приготовлению зелёного чая собранного в горах Индии ручным способом.</h1>

      <div>
        Сходящийся ряд охватывает тригонометрический график функции многих переменных. Надо сказать, что достаточно сходимости.
      </div>

      <div class="detail-gallery">
        <div class="detail-gallery__inner">
          <div class="carousel detail-gallery__carousel">
            <div class="carousel-item detail-gallery__item">
              <a href="#"><img src="img/example/img-02.jpg" class="detail-gallery__img" alt=""></a>
            </div>
            <div class="carousel-item detail-gallery__item">
              <a href="#"><img src="img/example/img-01.jpg" class="detail-gallery__img" alt=""></a>
            </div>
            <div class="carousel-item detail-gallery__item">
              <a href="#"><img src="img/example/img-03.jpg" class="detail-gallery__img" alt=""></a>
            </div>
            <div class="carousel-item detail-gallery__item">
              <a href="#"><img src="img/example/img-04.jpg" class="detail-gallery__img" alt=""></a>
            </div>
            <div class="carousel-item detail-gallery__item">
              <a href="#"><img src="img/example/img-05.jpg" class="detail-gallery__img" alt=""></a>
            </div>
            <div class="carousel-item detail-gallery__item">
              <a href="#"><img src="img/example/img-01.jpg" class="detail-gallery__img" alt=""></a>
            </div>
            <div class="carousel-item detail-gallery__item">
              <a href="#"><img src="img/example/img-02.jpg" class="detail-gallery__img" alt=""></a>
            </div>
            <div class="carousel-item detail-gallery__item">
              <a href="#"><img src="img/example/img-03.jpg" class="detail-gallery__img" alt=""></a>
            </div>
            <div class="carousel-item detail-gallery__item">
              <a href="#"><img src="img/example/img-04.jpg" class="detail-gallery__img" alt=""></a>
            </div>
            <div class="carousel-item detail-gallery__item">
              <a href="#"><img src="img/example/img-05.jpg" class="detail-gallery__img" alt=""></a>
            </div>
          </div>
        </div>

        <button type="button" class="detail-gallery__control detail-gallery__prev btn-circle" id="prev"><span class="icon-arrow-left btn-text"></span></button>
        <button type="button" class="detail-gallery__control detail-gallery__next btn-circle" id="next"><span class="icon-arrow-right btn-text"></span></button>
      </div>


      <section class="detail-gift mb-5">
        <div>
          <h3 class="mb-1">Ваш подарок!</h3>
          <div class="detail-gift__text">
            Тут будет написано какие условия получения подарка, лайк, репост, вроде это будет заполнять вендор. Пример:
            забронируй экскурсию  на двоих и получи скидку 15% при оплате на месте.
          </div>
        </div>
      </section>


      <div class="detail-about js__tabs">
        <ul class="nav-tabs js__tabs-list">
          <li class="nav-tabs__item js__tab-nav active">
            <div class="nav-tabs__text">Об организаторе</div>
          </li>
          <li class="nav-tabs__item js__tab-nav">
            <div class="nav-tabs__text">О мероприятии</div>
          </li>
          <li class="nav-tabs__item js__tab-nav">
            <div class="nav-tabs__text">Условия работы</div>
          </li>
        </ul>

        <article class="tab-panel js__tab-panel active">
          <h3>Самый лучший мастер класс по приготовлению зелёного чая</h3>
          <p>
            Частная производная определяет интеграл Пуассона. Интеграл Фурье, общеизвестно, обоснован необходимостью. Векторное поле, исключая очевидный случай, восстанавливает тройной интеграл. График функции многих переменных решительно стабилизирует полином. Максимум программирует минимум. Эпсилон окрестность, общеизвестно, позитивно привлекает скачок функции.
          </p>
          <p>
            Легко проверить, что математическая статистика стремится к нулю. В общем, подмножество ускоряет неопровержимый функциональный анализ. По сути, критерий сходимости Коши синхронизирует эмпирический контрпример.
          </p>
          <p>
            Скалярное произведение переворачивает нормальный математический анализ. Поле направлений, общеизвестно, допускает график функции многих переменных. График функции, в первом приближении, решительно создает абстрактный интеграл от функции комплексной переменной, что и требовалось доказать. Тем не менее, лемма традиционно обуславливает функциональный анализ.
          </p>
        </article>

        <article class="tab-panel js__tab-panel">
          <h3>О мероприятии</h3>

          <p>Текстовое описание - О мероприятии</p>
        </article>

        <article class="tab-panel js__tab-panel">
          <h3>Условия работы</h3>

          <p>Текстовое описание - Условия работы</p>
        </article>
      </div>


      <section class="detail-calendar">
        <h2 class="detail-calendar__title">Выберите дату, чтобы оставить заявку</h2>

        <div class="datepicker mb-4" id="detail-event"></div>
        <input type="hidden" class="js__detail-calendar">

        <div class="text-center">
          <a href="#" class="btn-primary btn"><span class="btn-text">Забронировать</span></a>
        </div>
      </section>


      <section class="form-support detail-question content-box" id="detail-question">
        <form action="/" class="form-support__form form-validate">
          <h2>Задайте вопрос организатору</h2>

          <div class="form-group">
            <label class="sr-only" for="detail-email">E-mail</label>
            <input type="email" id="detail-email" name="inputEmail" class="form-control hide-placeholder" placeholder="E-mail *">
          </div>

          <div class="form-group">
            <label class="sr-only">Ваш вопрос</label>
            <textarea name="fieldRequired" class="form-control__textarea form-control hide-placeholder" placeholder="Ваш вопрос *"></textarea>
          </div>

          <div class="form-group">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" name="acceptAgreement" class="custom-control-input">
              <span class="custom-control-label icon-check">Согласие на обработку</span>
            </label>
          </div>

          <button class="btn-primary btn"><span class="btn-text">Отправить</span></button>
        </form>

        <div class="form-support__decor">
          <img src="img/media/question-detail.svg" alt="">
        </div>
      </section>


      <!-- BEGIN: comments -->
      <div class="comments" id="comments">
        <div class="comments-heading">
          <h2 class="mb-0">Отзывы о мероприятии</h2>
          <div class="ml-auto mr-2">10 отзывов</div>
        </div>

        <div class="comments-list">
          <section class="comment">
            <div class="comment-head">
              <a href="#" class="user-account">
                <span class="user-account__pic user-account__pic-large">
                  <img class="user-account__image" src="img/example/avatar-07.png" alt="">
                </span>
                <span class="user-account__name">Иван Иванович Иванов</span>
              </a>

              <span class="ml-auto rating-progress" data-rating-progress="3"></span>
            </div>

            <div class="comment-text">
              <ul class="estimate list-unstyled">
                <li class="estimate-item estimate-item__active estimate-quality">
                  Качество обслуживания
                </li>
                <li class="estimate-item estimate-item__active estimate-money">
                  Доступная цена
                </li>
                <li class="estimate-item estimate-item__active estimate-target">
                  Соответствует ожиданию
                </li>
                <li class="estimate-item estimate-item__active estimate-lock">
                  Уровень безопасности
                </li>
                <li class="estimate-item estimate-item__active estimate-emoji">
                  Было весело
                </li>
              </ul>

              Скалярное произведение переворачивает нормальный математический анализ. Поле направлений, общеизвестно, допускает график функции многих переменных. График функции, в первом приближении, решительно создает абстрактный интеграл от функции комплексной переменной, что и требовалось доказать. Тем не менее, лемма традиционно обуславливает функциональный анализ.
            </div>

            <div class="comment-foot list-unstyled">
              <div class="comment-foot__item">
                <span class="btn-circle icon-like comment-foot__item-icon"></span>
                Нравиться: 5
              </div>

              <div class="comment-foot__item">
                <span class="btn-circle icon-comment comment-foot__item-icon"></span>
                Комментарий: 1
              </div>

              <div class="ml-auto">22.03.2020</div>
            </div>
          </section>

          <section class="comment">
            <div class="comment-head">
              <a href="#" class="user-account">
                <span class="user-account__pic user-account__pic-large">
                  <img class="user-account__image" src="img/example/avatar-07.png" alt="">
                </span>
                <span class="user-account__name">Иван Иванович Иванов</span>
              </a>

              <span class="ml-auto rating-progress" data-rating-progress="5"></span>
            </div>

            <div class="comment-text">
              <ul class="estimate list-unstyled">
              <li class="estimate-item estimate-item__active estimate-quality">
                Качество обслуживания
              </li>
              <li class="estimate-item estimate-item__active estimate-money">
                Доступная цена
              </li>
              <li class="estimate-item estimate-item__active estimate-target">
                Соответствует ожиданию
              </li>
              <li class="estimate-item estimate-item__active estimate-lock">
                Уровень безопасности
              </li>
              <li class="estimate-item estimate-item__active estimate-emoji">
                Было весело
              </li>
            </ul>

              Скалярное произведение переворачивает нормальный математический анализ. Поле направлений, общеизвестно, допускает график функции многих переменных. График функции, в первом приближении, решительно создает абстрактный интеграл.
            </div>

            <div class="comment-foot list-unstyled">
              <div class="comment-foot__item">
                <span class="btn-circle icon-like comment-foot__item-icon"></span>
                Нравиться: 94
              </div>

              <div class="comment-foot__item">
                <span class="btn-circle icon-comment comment-foot__item-icon"></span>
                Комментарий: 999
              </div>

              <div class="ml-auto">01.07.2020</div>
            </div>
          </section>

          <section class="comment">
            <div class="comment-head">
              <a href="#" class="user-account">
                <span class="user-account__pic user-account__pic-large"></span>
                <span class="user-account__name">Констациная Константиновна Констановна</span>
              </a>

              <span class="ml-auto rating-progress" data-rating-progress="0"></span>
            </div>

            <div class="comment-text">
              <ul class="estimate list-unstyled">
              <li class="estimate-item estimate-item__active estimate-quality">
                Качество обслуживания
              </li>
              <li class="estimate-item estimate-item__active estimate-money">
                Доступная цена
              </li>
              <li class="estimate-item estimate-item__active estimate-target">
                Соответствует ожиданию
              </li>
              <li class="estimate-item estimate-item__active estimate-lock">
                Уровень безопасности
              </li>
              <li class="estimate-item estimate-item__active estimate-emoji">
                Было весело
              </li>
            </ul>

              Скалярное произведение переворачивает нормальный математический анализ. Поле направлений, общеизвестно, допускает график функции многих переменных. График функции, в первом приближении, решительно создает абстрактный интеграл от функции комплексной переменной, что и требовалось доказать. Тем не менее, лемма традиционно обуславливает функциональный анализ.
            </div>

            <div class="comment-foot list-unstyled">
              <div class="comment-foot__item">
                <span class="btn-circle icon-like comment-foot__item-icon"></span>
                Нравиться: 0
              </div>

              <div class="comment-foot__item">
                <span class="btn-circle icon-comment comment-foot__item-icon"></span>
                Комментарий: 0
              </div>

              <div class="ml-auto">22.03.2020</div>
            </div>
          </section>
        </div>

        <div class="toggle-more toggle-more__decor">
          <div class="row align-items-center">
            <div class="col-lg-4 offset-lg-3 text-center">
              <button type="button" class="toggle-more-show btn-primary btn">
                <span class="btn-text">Показать ещё</span>
              </button>
            </div>
            <div class="col-lg-3 ml-auto text-right">
              <span class="toggle-more-collapse as-link__dashed d-none">Свернуть</span>
            </div>
          </div>
        </div>
      </div>
      <!-- END: comments -->


      <!-- BEGIN: detail-others -->
      <h2>Другие мероприятия организатора</h2>

      <div>
        <a href="#" class="detail-others__item">
          <div class="detail-others__media">
            <img src="img/example/image-01.jpg" alt="">
          </div>
          <div class="detail-others__content">
            <div class="h3 mb-1">Мастер класс приготовления кофе</div>
            <div>Создавайте произведения искусства вместе с Fun2Day каждый день.</div>
            <div class="detail-others__price">От 500 ₽</div>
          </div>
        </a>

        <a href="#" class="detail-others__item">
          <div class="detail-others__media">
            <img src="img/example/image-02.jpg" alt="">
          </div>
          <div class="detail-others__content">
            <div class="h3 mb-1">Мастер класс по приготовлению зелёного чая</div>
            <div>Создавайте произведения искусства вместе с Fun2Day каждый день.</div>
            <div class="detail-others__price">От 5 000 ₽</div>
          </div>
        </a>

        <a href="#" class="detail-others__item">
          <div class="detail-others__media">
            <img src="img/example/image-03.jpg" alt="">
          </div>
          <div class="detail-others__content">
            <div class="h3 mb-1">
              Мастер класс по приготовлению зелёного чая собранного в горах Индии ручным способом
            </div>
            <div>
              Создавайте произведения искусства вместе с Fun2Day каждый день. Создавайте произведения искусства вместе
              с Fun2Day каждый день.
            </div>
            <div class="detail-others__price">От 11 000 ₽</div>
          </div>
        </a>

        <a href="#" class="detail-others__item">
          <div class="detail-others__media">
            <img src="img/example/image-00.jpg" alt="">
          </div>
          <div class="detail-others__content">
            <div class="h3 mb-1">Мастер класс приготовления глины</div>
            <div>Создавайте произведения искусства вместе с Fun2Day каждый день.</div>
            <div class="detail-others__price">От 999 ₽</div>
          </div>
        </a>
      </div>
      <!-- END: detail-others -->
    </div>

    <aside class="catalog-filter col-lg-4">
      <div class="detail-info content-box">
        <div class="h2 detail-info__city">г. Москва</div>
        <div class="h3 detail-info__address">Мичуринский проспект 33 к1</div>

        <div class="text-right">
          <span class="as-link__dashed" data-toggle="modal" data-target="#chooseAnotherModal">Выбрать другой филиал</span>
        </div>

        <div class="aside-info__org">
          <div class="aside-info__org-line">
            <div class="h3 mb-0">Организатор</div>

            <a href="#detail-question" class="as-link__dashed ml-auto js__go-anchor" rel="nofollow">Задать вопрос</a>
          </div>

          <div class="user-account">
            <span class="user-account__pic user-account__pic-large"><img src="img/example/avatar-06.png" alt=""></span>
            <span class="user-account__name user-account__color">OOO Чай с Индийской горы</span>
          </div>
        </div>

        <div class="h3 mb-1">Важные детали</div>

        <ul class="detail-specialty list-unstyled">
          <li class="detail-specialty__item">
            <div>Длительность:</div>
            <div class="detail-specialty__value">1 час</div>
          </li>
          <li class="detail-specialty__item">
            <div>Количество человек:</div>
            <div class="detail-specialty__value">От 1 до 20</div>
          </li>
          <li class="detail-specialty__item">
            <div>Возрастная группа:</div>
            <div class="detail-specialty__value">20 - 30 лет</div>
          </li>
          <li class="detail-specialty__item">
            <div>Формат мероприятия:</div>
            <div class="detail-specialty__value">Индивидуальное</div>
          </li>
        </ul>

        <div class="aside-info__price">
          <div class="sticker-discount"><span class="sticker-discount__value">49</span></div>
          <del class="aside-info__price-old">1 000 ₽</del>
          <div class="aside-info__price-new">500 ₽</div>
          <div>за мероприятие</div>
        </div>

        <a href="заказ_мероприятия.html" class="btn-primary btn"><span class="btn-text">Забронировать</span></a>

        <div class="detail-info__reservation">Вы&nbsp;можете отменить мероприятие за&nbsp;12&nbsp;часов до&nbsp;его начала</div>

        <div class="sticker-hit"></div>
        <div class="sticker-new"></div>
      </div>
    </aside>
  </div>
</div>

{% endblock %}

{% block footer %}
  {% include 'desktop-table/footer.twig' %}
{% endblock %}

{% block modal %}
  {% include 'desktop-table/modal.twig' %}
{% endblock %}

{% block search %}
  {% include 'desktop-table/search-area.twig' %}
{% endblock %}

{% block entertainment %}
  {% include 'desktop-table/entertainment.twig' %}
{% endblock %}
