{% extends "layout/layout.twig" %}
{% set title = "Список всех страниц - fun2day" %}
{% set versionDevice = "-mobile" %}
{% block content %}
  <style>
    sup {
      color: red
    }
    ol {
      word-break: break-all;
    }
  </style>

<!--
<sup>(new)</sup>
 -->

<div class="mt-5 mb-5">
  <div class="container">
    <div class="mt-5 mb-5">
      <h1>Список всех страниц</h1>

      <ol>
        <li>
          <a target="_blank" href="профиль_пользователя_desk.html">профиль_пользователя_desk <sup>(new)</sup></a>
        </li>
        <li>
          <a target="_blank" href="профиль_пользователя_mob.html">профиль_пользователя_mob <sup>(new)</sup></a>
        </li>
        <li>
          <a target="_blank" href="профиль_пользователя_desk.html">профиль_пользователя_desk <sup>(new)</sup></a>
        </li>
        <li>
          <a target="_blank" href="catalog-mob.html">catalog-mob <sup>(new)</sup></a>
        </li>
        <li>
          <a target="_blank" href="catalog-desk.html">catalog-desk</a>
        </li>

        <li>
          <a target="_blank" href="лк-пользователя-обсуждение(обсуждение,завершенные-заказы,текущие_заказы,пустой)_mob.html">лк-пользователя-обсуждение(обсуждение,завершенные-заказы,текущие_заказы,пустой)_mob  <sup>(new)</sup></a>
        </li>

        <li>
          <a target="_blank" href="ЛК-пользователя-обсуждение(обсуждение,завершенные-заказы,текущие_заказы,пустой).html">личный-кабинет пользователя (обсуждение,завершенные заказы,текущие заказы,пустой)</a>
        </li>

        <li>
          <a target="_blank" href="Добавления-мероприятия-(3стр)-mob.html">Добавления-мероприятия-(3стр)-mob</a>
        </li>
        <li>
          <a target="_blank" href="Добавления-мероприятия-(1-и-2)-mob.html">Добавления-мероприятия-(1-и-2)-mob</a>
        </li>
        <li>
          <a target="_blank" href="личный_кабинет_вендора_(пустой)_mob.html">личный_кабинет_вендора_(пустой)_mob</a>
        </li>

        <li>
          <a target="_blank" href="Личный-кабинет-вендора-(обсуждение,текущие-заказы,завершенные_заказы,Пустой)_mob.html">
            Личный-кабинет-вендора-(обсуждение,текущие-заказы,завершенные_заказы,Пустой)_mob
          </a>
        </li>
        <li>
          <a target="_blank" href="Личный-кабинет-вендора-(обсуждение,текущие-заказы,завершенные_заказы,Пустой)-desk.html">
            Личный-кабинет-вендора-(обсуждение, текущие-заказы,завершенные заказы,Пустой)-desk
          </a>
        </li>

        <li>
          <a target="_blank" href="МЕРОПРИЯТИЯ_ЛКО_пустой_mob.html">МЕРОПРИЯТИЯ_ЛКО_пустой_mob</a>
        </li>
        <li>
          <a target="_blank" href="МЕРОПРИЯТИЯ-ЛКО-(пустой)-desk.html">МЕРОПРИЯТИЯ-ЛКО-(пустой)-desk</a>
        </li>
        <li>
          <a target="_blank" href="МЕРОПРИЯТИЯ_ЛКО_mob.html">МЕРОПРИЯТИЯ_ЛКО_mob</a>
        </li>
        <li>
          <a target="_blank" href="МЕРОПРИЯТИЯ-ЛКО-desk.html">МЕРОПРИЯТИЯ-ЛКО-desk</a>
        </li>

        <li>
          <a target="_blank" href="лк_пользователя_карточка_мероприятия(обсуждение)_mob.html">лк_пользователя_карточка_мероприятия(обсуждение)_mob</a>
        </li>
        <li>
          <a target="_blank" href="лк_пользователя_карточка_мероприятия(заказ)_mob.html">лк_пользователя_карточка_мероприятия(заказ)_mob</a>
        </li>
        <li>
          <a target="_blank" href="лк_пользователя_карточка_мероприятия(оплачено)_mob.html">лк_пользователя_карточка_мероприятия(оплачено)_mob</a>
        </li>
        <li>
          <a target="_blank" href="лк_пользователя_карточка_мероприятия(подтверждено)_mob.html">лк_пользователя_карточка_мероприятия(подтверждено)_mob</a>
        </li>
        <li>
          <a target="_blank" href="лк_пользователя_карточка_мероприятия(отменено)_mob.html">лк_пользователя_карточка_мероприятия(отменено)_mob</a>
        </li>
        <li>
          <a target="_blank" href="лк_пользователя_карточка_мероприятия(выполнено)_mob.html">лк_пользователя_карточка_мероприятия(выполнено) mob</a>
        </li>

        <li>
          <a target="_blank" href="карточка_мероприятия_лк_заказчика(вопрос)_mob.html">карточка_мероприятия_лк_заказчика(вопрос) mob</a>
        </li>
        <li>
          <a target="_blank" href="настройки_орг_mob.html">настройки орг mob</a>
        </li>
        <li>
          <a target="_blank" href="настройки+бренд_орг_mob.html">настройки + бренд орг mob</a>
        </li>
        <li>
          <a target="_blank" href="настройки_орг_desk.html">настройки орг</a>
        </li>
        <li>
          <a target="_blank" href="настройки+бренд_орг_desk.html">настройки + бренд орг</a>
        </li>

        <li>
          <a target="_blank" href="добавления_бренда_mob.html">добавления бренда mob</a>
        </li>
        <li>
          <a target="_blank" href="добавления_бренда+филиал_mob.html">добавления бренда + филиал mob</a>
        </li>
        <li>
          <a target="_blank" href="редактирование_бренда_mob.html">редактирование бренда mob</a>
        </li>

        <li>
          <a target="_blank" href="карточка_мероприятия_лк_заказчика(вопрос)_mob.html">Карточка мероприятия в ЛК заказчика (Вопрос) mob</a>
        </li>
        <li>
          <a target="_blank" href="карточка_мероприятия_лк_заказчика(заказ)_mob.html">Карточка мероприятия в ЛК заказчика (Заказ) mob</a>
        </li>
        <li>
          <a target="_blank" href="карточка_мероприятия_лк_заказчика(подтверждено)_mob.html">Карточка мероприятия в ЛК заказчика (Подтверждено) mob</a>
        </li>
        <li>
          <a target="_blank" href="карточка_мероприятия_лк_заказчика(оплачено)_mob.html">Карточка мероприятия в ЛК заказчика (Оплачено) mob</a>
        </li>
        <li>
          <a target="_blank" href="карточка_мероприятия_лк_заказчика(выполнено)_mob.html">Карточка мероприятия в ЛК заказчика (Выполнено) mob</a>
        </li>
        <li>
          <a target="_blank" href="карточка_мероприятия_лк_заказчика(отменено)_mob.html">Карточка мероприятия в ЛК заказчика (Отменено) mob</a>
        </li>

        <li>
          <a target="_blank" href="карточка_мероприятия_лк_заказчика(вопрос).html">Карточка мероприятия в ЛК заказчика (Вопрос)</a>
        </li>
        <li>
          <a target="_blank" href="карточка_мероприятия_лк_заказчика(заказ).html">Карточка мероприятия в ЛК заказчика (Заказ)</a>
        </li>
        <li>
          <a target="_blank" href="карточка_мероприятия_лк_заказчика(подтверждено).html">Карточка мероприятия в ЛК заказчика (Подтверждено)</a>
        </li>
        <li>
          <a target="_blank" href="карточка_мероприятия_лк_заказчика(оплачено).html">Карточка мероприятия в ЛК заказчика (Оплачено)</a>
        </li>
        <li>
          <a target="_blank" href="карточка_мероприятия_лк_заказчика(выполнено).html">Карточка мероприятия в ЛК заказчика (Выполнено)</a>
        </li>
        <li>
          <a target="_blank" href="карточка_мероприятия_лк_заказчика(отменено).html">Карточка мероприятия в ЛК заказчика (Отменено)</a>
        </li>

        <li>
          <a target="_blank" href="добавления_бренда.html">добавления бренда</a>
        </li>
        <li>
          <a target="_blank" href="добавления_бренда+филиал.html">добавления бренда + филиал</a>
        </li>

        <li>
          <a target="_blank" href="редактирование_бренда.html">редактирование бренда</a>
        </li>


        <li>
          <a target="_blank" href="пустой-поиск.html">пустой поиск</a>
        </li>
        <li>
          <a target="_blank" href="пустой-поиск_mob.html">пустой поиск mob</a>
        </li>

        <li>
          <a target="_blank" href="мои_отзывы_нет_отзывов.html">Мои отзывы (нет отзывов)</a>
        </li>
        <li>
          <a target="_blank" href="мои_отзывы_нет_отзывов_mob.html">Мои отзывы (нет отзывов) - мобильная</a>
        </li>
        <li>
          <a target="_blank" href="мои_отзывы_mob.html">Мои отзывы - мобильная</a>
        </li>
        <li>
          <a target="_blank" href="мои_отзывы.html">Мои отзывы</a>
        </li>

        <li>
          <a target="_blank" href="правила_и_помощь_для_организаторов.html">правила и помощь для организаторов (десктоп)</a>
        </li>
        <li>
          <a target="_blank" href="правила_и_помощь_для_организаторов_mob.html">правила и помощь для организаторов (мобильная)</a>
        </li>

        <li>
          <a target="_blank" href="заказ_мероприятия.html">Заказ мероприятия</a>
        </li>
        <li>
          <a target="_blank" href="заказ_мероприятия_индивидуальное.html">заказ_мероприятия_индивидуальное</a>
        </li>
        <li>
          <a target="_blank" href="заказ_мероприятия_mob.html">заказ_мероприятия_mob</a>
        </li>
        <li>
          <a target="_blank" href="заказ_мероприятия_индивидуальное_mob.html">заказ_мероприятия_индивидуальное_mob</a>
        </li>

        <li>
          <a target="_blank" href="ЛК-пользователя-Карточка_мероприятия(обсуждение).html">ЛК-пользователя-Карточка_мероприятия(обсуждение)</a>
        </li>
        <li>
          <a target="_blank" href="ЛК-пользователя-Карточка_мероприятия(заказ).html">ЛК-пользователя-Карточка_мероприятия(заказ)</a>
        </li>
        <li>
          <a target="_blank" href="ЛК-пользователя-Карточка_мероприятия(Подтверждено).html">ЛК-пользователя-Карточка_мероприятия(Подтверждено)</a>
        </li>
        <li>
          <a target="_blank" href="ЛК-пользователя-Карточка_мероприятия(Оплачено).html">ЛК-пользователя-Карточка_мероприятия(Оплачено)</a>
        </li>
        <li>
          <a target="_blank" href="ЛК-пользователя-Карточка_мероприятия(Выполнено).html">ЛК-пользователя-Карточка_мероприятия(Выполнено)</a>
        </li>
        <li>
          <a target="_blank" href="ЛК-пользователя-Карточка_мероприятия(Отменено).html">ЛК-пользователя-Карточка_мероприятия(Отменено)</a>
        </li>

        <li>
          <a target="_blank" href="404-mob.html">404-mob</a>
        </li>
        <li>
          <a target="_blank" href="404.html">404</a>
        </li>

        <li>
          <a target="_blank" href="about-org-mob.html">about-org-mob</a>
        </li>
        <li>
          <a target="_blank" href="about-org.html">about-org</a>
        </li>

        <li>
          <a target="_blank" href="about.html">about</a>
        </li>
        <li>
          <a target="_blank" href="about-mob.html">about-mob</a>
        </li>

        <li>
          <a target="_blank" href="detail-desk.html">detail-desk</a>
        </li>
        <li>
          <a target="_blank" href="detail-mob.html">detail-mob</a>
        </li>

        <li>
          <a target="_blank" href="index-desk.html">index-desk</a>
        </li>
        <li>
          <a target="_blank" href="index-mob.html">index-mob</a>
        </li>

        <li>
          <a target="_blank" href="личный_кабинет_вендора_(пустой).html">личный_кабинет_вендора_(пустой)</a>
        </li>

        <li>
          <a target="_blank" href="Добавления-мероприятия-(1-и-2)-desk.html">Добавления-мероприятия-(1-и-2)-desk</a>
        </li>
        <li>
          <a target="_blank" href="Добавления-мероприятия-(3стр)-desk.html">Добавления-мероприятия-(3стр)-desk</a>
        </li>
        <li>
          <a target="_blank" href="Добавления-мероприятия-ЗАПОЛНЕННАЯ-desk.html">Добавления-мероприятия-ЗАПОЛНЕННАЯ-desk</a>
        </li>
      </ol>
    </div>
  </div>
</div>
{% endblock %}
