{% extends "layout/layout.twig" %}
{% set title = "Главная страница - fun2day" %}
{% block topPanel %}{% include 'desktop-table/top-panel.twig' %}{% endblock %}
{% block mobHeader %}{% include 'mobile/header.twig' %}{% endblock %}

{% block content %}
    <header class="main-info">
      <div class="main-info-inner">
        <h1 class="main-info-box">Сервис поиска и бронирования досуга в&nbsp;Москве<br> и&nbsp;Московской области</h1>
      </div>
      <img src="img/media/bg-main-info.jpg" class="main-info-media" alt="">
    </header>

  {% include 'partials/nav-direction.twig' %}

  {% include 'partials/popular-section.twig' %}

    <div class="novelty novelty-wrap container">
      <h2>Новые впечатления для двоих</h2>

      <div class="row">
        <div class="novelty-item">
          <a href="#" class="card">
            <div class="card-media">
              <img src="img/example/card-05@2x.jpg" class="card-media__img" alt="">
            </div>
            <div class="card-body">
              <div class="card-title">Мастер классы по флористике</div>
              <p class="card-text">Творите вместе с Fun2Day каждый день.</p>
              <div class="card-footer">От 1 000 ₽</div>
            </div>
          </a>
        </div>

        <div class="novelty-item">
          <a href="#" class="card">
            <div class="card-media">
              <img src="img/example/card-06@2x.jpg" class="card-media__img" alt="">
            </div>
            <div class="card-body">
              <div class="card-title">Роспись по керамике</div>
              <p class="card-text">Готовьте вместе с Fun2Day каждый день.</p>
              <div class="card-footer">От 750 ₽</div>
            </div>
          </a>
        </div>

        <div class="novelty-item">
          <a href="#" class="card">
            <div class="card-media">
              <img src="img/example/card-09@2x.jpg" class="card-media__img" alt="">
            </div>
            <div class="card-body">
              <div class="card-title">Турецкий мыльный массаж</div>
              <p class="card-text">Создавайте незабываемые наряды вместе с Fun2Day каждый день.</p>
              <div class="card-footer">От 2 500 ₽</div>
            </div>
          </a>
        </div>

        <div class="novelty-item">
          <a href="#" class="card">
            <div class="card-media">
              <img src="img/example/card-10@2x.jpg" class="card-media__img" alt="">
            </div>
            <div class="card-body">
              <div class="card-title">Мастер-класс по приготовлению пряников</div>
              <p class="card-text">Создавайте произведения искусства вместе с Fun2Day каждый день.</p>
              <div class="card-footer">От 250 ₽</div>
            </div>
          </a>
        </div>

        <div class="novelty-item">
          <a href="#" class="card">
            <div class="card-media">
              <img src="img/example/card-07@2x.jpg" class="card-media__img" alt="">
            </div>
            <div class="card-body">
              <div class="card-title">Прыжок с парашютом</div>
              <p class="card-text">Пойте вместе с Fun2Day каждый день.</p>
              <div class="card-footer">От 5 000 ₽</div>
            </div>
          </a>
        </div>

        <div class="novelty-item">
          <a href="#" class="card">
            <div class="card-media">
              <img src="img/example/card-08@2x.jpg" class="card-media__img" alt="">
            </div>
            <div class="card-body">
              <div class="card-title">Занятие по дрифту</div>
              <p class="card-text">Танцуйте на машине вместе с Fun2Day каждый день.</p>
              <div class="card-footer">От 15 000 ₽</div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="steps container">
      <h2 class="steps-title">Экономим ваше время на поиск развлечений. Бесплатно.</h2>
      <div class="steps-text">Вы ничего не переплачиваете, бронируя у нас заранее свой отдых.</div>
      <ul class="steps-list list-unstyled">
        <li class="steps-item icon-arrow-bend">
          <div class="steps-item__text">Выберите подходящее<br>
            мероприятие</div>
        </li>
        <li class="steps-item icon-arrow-bend">
          <div class="steps-item__text">Задайте любые вопросы<br>
            организатору</div>
        </li>
        <li class="steps-item icon-arrow-bend">
          <div class="steps-item__text">Внесите&nbsp;10% от&nbsp;стоимости развлечения,<br>
            чтобы забронировать место и&nbsp;время</div>
        </li>
        <li class="steps-item icon-arrow-bend">
          <div class="steps-item__text">Получите электронный<br>
            билет</div>
        </li>
        <li class="steps-item">
          <div class="steps-item__text">Наслаждайтесь мероприятием,<br>
            оплатив оставшуюся стоимость на&nbsp;месте</div>
        </li>
      </ul>

      <div class="subscription">
        <h2 class="steps-title">Только самые невероятные впечатления</h2>
        <div class="steps-text">
          Оставьте свой e-mail, и мы сообщим вам о лучших развлечениях.<br>
          Делимся только теми мероприятиями, в которых уверены!
        </div>
        <form class="subscription-form form-validate">
          <label for="subscription-form-input" class="sr-only">E-mail *</label>
          <div class="form-group">
            <input type="email" name="email" id="subscription-form-input" class="form-control hide-placeholder" placeholder="E-mail *">
          </div>
          <div class="form-group">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" name="acceptAgreement" class="custom-control-input">
              <span class="custom-control-label icon-check">Согласие на обработку</span>
            </label>
          </div>
          <div class="form-group__btn">
            <button type="submit" class="btn btn-primary"><span class="btn-text">Отправить</span></button>
          </div>
        </form>
      </div>
    </div>

    <div class="instagram container">
      <h2>Наш инстаграм</h2>
      <div class="row">
        <div class="instagram-item col-lg-3 col-sm-6">
          <a href="#" class="instagram-inner"><img src="img/example/insta-01.jpg" class="instagram-img" alt=""></a>
        </div>
        <div class="instagram-item col-lg-3 col-sm-6">
          <a href="#" class="instagram-inner"><img src="img/example/insta-02.jpg" class="instagram-img" alt=""></a>
        </div>
        <div class="instagram-item col-lg-3 col-sm-6">
          <a href="#" class="instagram-inner"><img src="img/example/insta-03.jpg" class="instagram-img" alt=""></a>
        </div>
        <div class="instagram-item col-lg-3 col-sm-6">
          <a href="#" class="instagram-inner"><img src="img/example/insta-04.jpg" class="instagram-img" alt=""></a>
        </div>
      </div>
    </div>

    <div class="main-content container">
      <h2>Вот как мы создаём впечатления для вас!</h2>
      <div class="row">
        <div class="col-lg-6">
          <p class="lead">
            Тема: &laquo;Прагматический феномен толпы&nbsp;&mdash; актуальная национальная задача&raquo;
          </p>
          <p>
            Политическая модернизация, на&nbsp;первый взгляд, практически ограничивает функциональный механизм
            власти. Форма политического сознания, согласно традиционным представлениям, наблюдаема. Между тем,
            понятие модернизации означает доиндустриальный тип политической культуры, об&nbsp;этом прямо сказано в&nbsp;статье
            2&nbsp;Конституции РФ. Культ личности формирует бихевиоризм. Политическое учение Фомы Аквинского
            теоретически определяет континентально-европейский тип политической культуры, впрочем, это несколько
            расходится с&nbsp;концепцией Истона.
          </p>
          <p>
            Политическое учение Платона ограничивает постиндустриализм. Институциализация символизирует
            идеологический тоталитарный тип политической культуры. В&nbsp;таких странах, как Мексика и&nbsp;Венесуэла,
            идеология неоднозначна. Глобализация, как&nbsp;бы это ни&nbsp;казалось парадоксальным, однозначно
            определяет доиндустриальный тип политической культуры.
          </p>
          <p>
            В&nbsp;данной ситуации политическая элита важно иллюстрирует теоретический референдум. Политическая
            система верифицирует теоретический марксизм. Либерализм традиционен. Правовое государство интегрирует
            бихевиоризм. Политическое учение Монтескье самопроизвольно.
          </p>
        </div>

        <div class="col-lg-6">
          <p class="lead">
            Тема: &laquo;Почему нормально распределен абсолютно сходящийся ряд?&raquo;
          </p>
          <p>
            Частная производная определяет интеграл Пуассона. Интеграл Фурье, общеизвестно, обоснован
            необходимостью. Векторное поле, исключая очевидный случай, восстанавливает тройной интеграл. График
            функции многих переменных решительно стабилизирует полином. Максимум программирует минимум. Эпсилон
            окрестность, общеизвестно, позитивно привлекает скачок функции.
          </p>
          <p>
            Легко проверить, что математическая статистика стремится к&nbsp;нулю. В&nbsp;общем, подмножество
            ускоряет неопровержимый функциональный анализ. По&nbsp;сути, критерий сходимости Коши синхронизирует
            эмпирический контрпример.
          </p>
          <p>
            Скалярное произведение переворачивает нормальный математический анализ. Поле направлений, общеизвестно,
            допускает график функции многих переменных. График функции, в&nbsp;первом приближении, решительно
            создает абстрактный интеграл от&nbsp;функции комплексной переменной, что и&nbsp;требовалось доказать.
            Тем не&nbsp;менее, лемма традиционно обуславливает функциональный анализ.
          </p>
        </div>
      </div>
    </div>
{% endblock %}

{% block footer %}
  {% include 'desktop-table/footer.twig' %}
{% endblock %}

{% block modal %}
  {% include 'desktop-table/modal.twig' %}
{% endblock %}

{% block search %}
  {% include 'desktop-table/search-area.twig' %}
{% endblock %}

{% block entertainment %}
  {% include 'desktop-table/entertainment.twig' %}
{% endblock %}
