{% extends "layout/layout.twig" %}
{% set title = "Главная страница - fun2day" %}
{% set versionDevice = "-mobile" %}
{% block mobHeader %}{% include 'mobile/header.twig' %}{% endblock %}

{% block content %}
    <header class="main-info">
      <h1 class="main-info-box">Сервис поиска и бронирования досуга в&nbsp;Москве и&nbsp;МО</h1>
    </header>

  {% include 'partials/nav-direction.twig' %}

  {% include 'partials/popular-section.twig' %}

  <div class="novelty container">
    <h2>Новые впечатления для двоих</h2>

    <div class="row">
      <div class="novelty-item">
        <a href="#" class="card">
          <div class="card-media">
            <img src="img/example/card-05@2x.jpg" class="card-media__img" alt="">
          </div>
          <div class="card-body">
            <div class="card-title">Мастер классы по флористике</div>
            <p class="card-text">Творите вместе с Fun2Day каждый день.</p>
            <div class="card-footer">От 1 000 ₽</div>
          </div>
        </a>
      </div>

      <div class="novelty-item">
        <a href="#" class="card">
          <div class="card-media">
            <img src="img/example/card-06@2x.jpg" class="card-media__img" alt="">
          </div>
          <div class="card-body">
            <div class="card-title">Роспись по керамике</div>
            <p class="card-text">Готовьте вместе с Fun2Day каждый день.</p>
            <div class="card-footer">От 750 ₽</div>
          </div>
        </a>
      </div>

      <div class="novelty-item">
        <a href="#" class="card">
          <div class="card-media">
            <img src="img/example/card-09@2x.jpg" class="card-media__img" alt="">
          </div>
          <div class="card-body">
            <div class="card-title">Турецкий мыльный массаж</div>
            <p class="card-text">Создавайте незабываемые наряды вместе с Fun2Day каждый день.</p>
            <div class="card-footer">От 2 500 ₽</div>
          </div>
        </a>
      </div>

      <div class="novelty-item">
        <a href="#" class="card">
          <div class="card-media">
            <img src="img/example/card-10@2x.jpg" class="card-media__img" alt="">
          </div>
          <div class="card-body">
            <div class="card-title">Мастер-класс по приготовлению пряников</div>
            <p class="card-text">Создавайте произведения искусства вместе с Fun2Day каждый день.</p>
            <div class="card-footer">От 250 ₽</div>
          </div>
        </a>
      </div>

      <div class="novelty-item">
        <a href="#" class="card">
          <div class="card-media">
            <img src="img/example/card-07@2x.jpg" class="card-media__img" alt="">
          </div>
          <div class="card-body">
            <div class="card-title">Прыжок с парашютом</div>
            <p class="card-text">Пойте вместе с Fun2Day каждый день.</p>
            <div class="card-footer">От 5 000 ₽</div>
          </div>
        </a>
      </div>

      <div class="novelty-item">
        <a href="#" class="card">
          <div class="card-media">
            <img src="img/example/card-08@2x.jpg" class="card-media__img" alt="">
          </div>
          <div class="card-body">
            <div class="card-title">Занятие по дрифту</div>
            <p class="card-text">Танцуйте на машине вместе с Fun2Day каждый день.</p>
            <div class="card-footer">От 15 000 ₽</div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="steps container">
    <h2 class="steps-title">Экономим ваше время на поиск развлечений. Бесплатно.</h2>

    <div class="steps-text">Вы ничего не переплачиваете, бронируя у нас заранее свой отдых.</div>

    <ul class="steps-list list-unstyled">
      <li class="steps-item icon-arrow-bend">
        <div class="steps-item__text">Выберите подходящее мероприятие</div>
      </li>
      <li class="steps-item icon-arrow-bend">
        <div class="steps-item__text">Задайте любые вопросы организатору</div>
      </li>
      <li class="steps-item icon-arrow-bend">
        <div class="steps-item__text">Внесите&nbsp;10% от&nbsp;стоимости развлечения, чтобы забронировать место и&nbsp;время</div>
      </li>
      <li class="steps-item icon-arrow-bend">
        <div class="steps-item__text">Получите электронный билет</div>
      </li>
      <li class="steps-item">
        <div class="steps-item__text">Наслаждайтесь мероприятием, оплатив оставшуюся стоимость на&nbsp;месте</div>
      </li>
    </ul>

    <div class="subscription">
      <h2 class="steps-title">Только самые невероятные впечатления</h2>

      <div class="subscription-text">
        Оставьте свой e-mail, и мы сообщим вам о лучших развлечениях. Делимся только теми мероприятиями, в которых
        уверены!
      </div>

      <form class="subscription-form form-validate">
        <div class="form-group">
          <input type="email" name="inputEmail" class="form-control hide-placeholder"
                 placeholder="E-mail *">
        </div>
        <div class="form-group">
          <label class="custom-control custom-checkbox">
            <input type="checkbox" name="acceptAgreement" class="custom-control-input">
            <span class="custom-control-label icon-check">Согласие на обработку</span>
          </label>
        </div>
        <div class="form-group__btn">
          <button type="submit" class="btn btn-primary"><span class="btn-text">Отправить</span></button>
        </div>
      </form>
    </div>
  </div>

  <div class="instagram container">
    <h2>Наш инстаграм</h2>

    <div class="row">
      <div class="instagram-item col-lg-3 col-sm-6">
        <a href="#" class="instagram-inner"><img src="img/example/insta-01.jpg" class="instagram-img" alt=""></a>
      </div>
      <div class="instagram-item col-lg-3 col-sm-6">
        <a href="#" class="instagram-inner"><img src="img/example/insta-02.jpg" class="instagram-img" alt=""></a>
      </div>
      <div class="instagram-item col-lg-3 col-sm-6">
        <a href="#" class="instagram-inner"><img src="img/example/insta-03.jpg" class="instagram-img" alt=""></a>
      </div>
      <div class="instagram-item col-lg-3 col-sm-6">
        <a href="#" class="instagram-inner"><img src="img/example/insta-04.jpg" class="instagram-img" alt=""></a>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include 'mobile/footer.twig' %}
{% endblock %}

{% block modal %}
  {% include 'mobile/modal.twig' %}
{% endblock %}

{% block searchPanel %}
  {% include 'mobile/search-panel.twig' %}
{% endblock %}

{% block searchResult %}
  {% include 'mobile/search-result.twig' %}
{% endblock %}

{% block mobileMenu %}
  {% include 'mobile/menu.twig' %}
{% endblock %}
