{% extends "layout/layout.twig" %}
{% set title = "Мастер класс по приготовлению зелёного чая собранного в горах Индии ручным способом" %}
{% set versionDevice = "-mobile" %}
{% block mobHeader %}{% include 'mobile/header.twig' %}{% endblock %}
{% block content %}
  <div class="personal-area container">
    <div class="row">
      <!-- BEGIN personal-area-aside -->
      {#{% include 'partials/personal-area-aside.twig' %}#}
      <!-- END personal-area-aside -->

      <div class="col-xl-10 col-md-9">
        <h1 class="personal-area-title">Мои отзывы</h1>

        <div class="mb-5">
          Оставляя свой отзыв, вы помогаете другим больше узнать о мероприятии, принять правильное решение и насладиться
          отдыхом. В разделе “Мои заказы” найдите мероприятие, которое вы посетили и поделитесь своими впечатлениями.
        </div>

        <!-- BEGIN: comments -->
        <div class="comments-list mb-5 pb-5">
          <section class="comment toggle-item">
            <div class="comment-head">
              <div class="comment-head__user user-account">
                <div class="user-account__pic">
                  <img class="user-account__image" src="img/example/avatar-07.png" alt="">
                </div>
                <div class="user-account__name">Иванов Петр Александрович</div>
              </div>
              <div class="comment-head__rating">
                <div class="detail-meta__item rating-progress ml-auto" data-rating-progress="3"></div>
              </div>
            </div>

            <div class="mb-4">
              <div class="h3 mb-4">Мастер класс по приготовлению зелёного чая</div>
              <div>ID 345123</div>
            </div>

            <div class="comment-text">
              <ul class="estimate list-unstyled">
                <li class="estimate-item estimate-item__active estimate-quality">
                  Качество обслуживания
                </li>
                <li class="estimate-item estimate-item__active estimate-money">
                  Доступная цена
                </li>
                <li class="estimate-item estimate-item__active estimate-target">
                  Соответствует ожиданию
                </li>
                <li class="estimate-item estimate-item__active estimate-lock">
                  Уровень безопасности
                </li>
                <li class="estimate-item estimate-item__active estimate-emoji">
                  Было весело
                </li>
              </ul>

              Скалярное произведение переворачивает нормальный математический анализ. Поле направлений, общеизвестно,
              допускает график функции многих переменных. График функции, в первом приближении, решительно создает
              абстрактный интеграл от функции комплексной переменной, что и требовалось доказать. Тем не менее, лемма
              традиционно обуславливает функциональный анализ.
            </div>

            <div class="comment-foot list-unstyled">
              <div class="comment-foot__item">
                <span class="btn-circle btn-circle__small icon-like comment-foot__item-icon "></span>
                5
              </div>

              <div class="comment-foot__item">
                <span class="btn-circle btn-circle__small icon-comment comment-foot__item-icon"></span>
                1
              </div>

              <div class="ml-auto">04.10.2020</div>
            </div>
          </section>

          <section class="comment toggle-item">
            <div class="comment-head">
              <div class="comment-head__user user-account">
                <div class="user-account__pic">
                  <img class="user-account__image" src="img/example/avatar-07.png" alt="">
                </div>
                <div class="user-account__name">Константиновская Константиновна Констанция</div>
              </div>
              <div class="comment-head__rating">
                <div class="detail-meta__item rating-progress ml-auto" data-rating-progress="3"></div>
              </div>
            </div>

            <div class="mb-4">
              <div class="h3 mb-4">Мастер класс по приготовлению зелёного чая</div>
              <div>ID 345123</div>
            </div>

            <div class="comment-text">
              <ul class="estimate list-unstyled">
                <li class="estimate-item estimate-item__active estimate-money">
                  Доступная цена
                </li>
                <li class="estimate-item estimate-item__active estimate-emoji">
                  Было весело
                </li>
              </ul>

              Скалярное произведение переворачивает нормальный математический анализ. Поле направлений, общеизвестно,
              допускает график функции многих переменных. График функции, в первом приближении, решительно создает
              абстрактный интеграл.
            </div>

            <div class="comment-foot list-unstyled">
              <div class="comment-foot__item">
                <span class="btn-circle btn-circle__small icon-like comment-foot__item-icon"></span>
                0
              </div>

              <div class="comment-foot__item">
                <span class="btn-circle btn-circle__small icon-comment comment-foot__item-icon"></span>
                0
              </div>

              <div class="ml-auto">22.10.2020</div>
            </div>
          </section>

          <section class="comment toggle-item">
            <div class="comment-head">
              <div class="comment-head__user user-account">
                <div class="user-account__pic">
                  <img class="user-account__image" src="img/example/avatar-07.png" alt="">
                </div>
                <div class="user-account__name">Трофимова Марина Денисовна</div>
              </div>
              <div class="comment-head__rating">
                <div class="detail-meta__item rating-progress ml-auto" data-rating-progress="3"></div>
              </div>
            </div>

            <div class="mb-4">
              <div class="h3 mb-4">Мастер класс по приготовлению зелёного чая</div>
              <div>ID 345123</div>
            </div>

            <div class="comment-text">
              <ul class="estimate list-unstyled">
                <li class="estimate-item estimate-item__active estimate-quality">
                  Качество обслуживания
                </li>
                <li class="estimate-item estimate-item__active estimate-target">
                  Соответствует ожиданию
                </li>
                <li class="estimate-item estimate-item__active estimate-lock">
                  Уровень безопасности
                </li>
              </ul>
              Скалярное произведение переворачивает нормальный математический анализ. Поле направлений, общеизвестно,
              допускает график функции многих переменных. График функции, в первом приближении, решительно создает
              абстрактный интеграл от функции комплексной переменной, что и требовалось доказать. Тем не менее, лемма
              традиционно обуславливает функциональный анализ.
            </div>

            <div class="comment-foot list-unstyled">
              <div class="comment-foot__item">
                <span class="btn-circle btn-circle__small icon-like comment-foot__item-icon "></span>
                149
              </div>

              <div class="comment-foot__item">
                <span class="btn-circle btn-circle__small icon-comment comment-foot__item-icon"></span>
                253
              </div>

              <div class="ml-auto">07.31.2020</div>
            </div>
          </section>
        </div>
        <!-- END: comments -->
      </div>
    </div>
  </div>
{% endblock %}
{% block footer %}
  {% include 'mobile/footer.twig' %}
{% endblock %}

{% block modal %}
  {% include 'mobile/modal.twig' %}
{% endblock %}

{% block searchPanel %}
  {% include 'mobile/search-panel.twig' %}
{% endblock %}

{% block searchResult %}
  {% include 'mobile/search-result.twig' %}
{% endblock %}

{% block mobileMenu %}
  {% include 'mobile/menu.twig' %}
{% endblock %}
