{% extends "layout/layout.twig" %}
{% set title = "Правила и помощь для организаторов" %}
{% set versionDevice = "-mobile" %}
{% block mobHeader %}{% include 'mobile/header-help.twig' %}{% endblock %}
{% block content %}
  <div class="personal-area container">
    <div class="accordion js__tabs mb-5">
        <h1 class="personal-area-title">Поддержка</h1>

        <div class="tab-panel js__tab-panel" id="accordionRules">
          <div id="collapse-5" class="collapse show" aria-labelledby="heading" data-parent="#accordionRules">
            <h2>Помощь в создании мероприятия</h2>

            <h3 id="help-21">1. Простая помощь по телефону</h3>

            <p>
              Политическая модернизация, на первый взгляд, практически ограничивает функциональный механизм власти.
              Форма
              политического сознания, согласно традиционным представлениям, наблюдаема. Между тем, понятие
              модернизации
              означает доиндустриальный тип политической культуры, об этом прямо сказано в статье 2 Конституции РФ.
              Культ
              личности формирует бихевиоризм. Политическое учение Фомы Аквинского теоретически определяет
              континентально-европейский тип политической культуры, впрочем, это несколько расходится с концепцией
              Истона.
            </p>

            <p>
              Политическое учение Платона ограничивает постиндустриализм. Институциализация символизирует
              идеологический
              тоталитарный тип политической культуры. В таких странах, как Мексика и Венесуэла, идеология
              неоднозначна.
              Глобализация, как бы это ни казалось парадоксальным, однозначно определяет доиндустриальный тип
              политической
              культуры.
            </p>

            <p>
              В данной ситуации политическая элита важно иллюстрирует теоретический референдум. Политическая система
              верифицирует теоретический марксизм. Либерализм традиционен. Правовое государство интегрирует
              бихевиоризм.
              Политическое учение Монтескье самопроизвольно.
            </p>

            <p class="mb-5"><img src="img/example/scrin-01.jpg" alt=""></p>

            <h3 id="help-22">2. Помощь по емейлу</h3>

            <p>
              Политическая модернизация, на первый взгляд, практически ограничивает функциональный механизм власти.
              Форма
              политического сознания, согласно традиционным представлениям, наблюдаема. Между тем, понятие
              модернизации
              означает доиндустриальный тип политической культуры, об этом прямо сказано в статье 2 Конституции РФ.
              Культ
              личности формирует бихевиоризм. Политическое учение Фомы Аквинского теоретически определяет
              континентально-европейский тип политической культуры, впрочем, это несколько расходится с концепцией
              Истона.
            </p>

            <div class="embed-responsive embed-responsive-16by9 mb-5">
              <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/VXW6KgK83Xo?controls=0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
            </div>

            <h3  id="help-23">3. Live chat</h3>

            <div class="content-box mb-5">
              <h3>Обрати внимание!</h3>
              <div>
                Политическая модернизация, на первый взгляд, практически ограничивает функциональный механизм власти.
                Форма
                политического сознания, согласно традиционным представлениям, наблюдаема.
              </div>
            </div>

            <p>
              Политическая модернизация, на первый взгляд, практически ограничивает функциональный механизм власти.
              Форма
              политического сознания, согласно традиционным представлениям, наблюдаема. Между тем, понятие
              модернизации
              означает доиндустриальный тип политической культуры, об этом прямо сказано в статье 2 Конституции РФ.
              Культ
              личности формирует бихевиоризм. Политическое учение Фомы Аквинского теоретически определяет
              континентально-европейский тип политической культуры, впрочем, это несколько расходится с концепцией
              Истона.
            </p>

            <p>
              В данной ситуации политическая элита важно иллюстрирует теоретический референдум. Политическая система
              верифицирует теоретический марксизм. Либерализм традиционен. Правовое государство интегрирует
              бихевиоризм.
              Политическое учение Монтескье самопроизвольно.
            </p>
          </div>

          <div id="collapse-6" class="collapse" aria-labelledby="heading" data-parent="#accordionRules">
            <h2>Психологическая помощь</h2>

            <p>
              Политическая модернизация, на первый взгляд, практически ограничивает функциональный механизм власти.
              Форма
              политического сознания, согласно традиционным представлениям, наблюдаема. Между тем, понятие
              модернизации
              означает доиндустриальный тип политической культуры, об этом прямо сказано в статье 2 Конституции РФ.
              Культ
              личности формирует бихевиоризм. Политическое учение Фомы Аквинского теоретически определяет
              континентально-европейский тип политической культуры, впрочем, это несколько расходится с концепцией
              Истона.
            </p>

            <p>
              Политическое учение Платона ограничивает постиндустриализм. Институциализация символизирует
              идеологический
              тоталитарный тип политической культуры. В таких странах, как Мексика и Венесуэла, идеология
              неоднозначна.
              Глобализация, как бы это ни казалось парадоксальным, однозначно определяет доиндустриальный тип
              политической
              культуры.
            </p>

            <h3 id="help-24">1. У вас сумасшедшие идеи?</h3>

            <p>
              В данной ситуации политическая элита важно иллюстрирует теоретический референдум. Политическая система
              верифицирует теоретический марксизм. Либерализм традиционен. Правовое государство интегрирует
              бихевиоризм.
              Политическое учение Монтескье самопроизвольно.
            </p>

            <p class="mb-5"><img src="img/example/scrin-01.jpg" alt=""></p>

            <p>
              Политическая модернизация, на первый взгляд, практически ограничивает функциональный механизм власти.
              Форма
              политического сознания, согласно традиционным представлениям, наблюдаема. Между тем, понятие
              модернизации
              означает доиндустриальный тип политической культуры, об этом прямо сказано в статье 2 Конституции РФ.
              Культ
              личности формирует бихевиоризм. Политическое учение Фомы Аквинского теоретически определяет
              континентально-европейский тип политической культуры, впрочем, это несколько расходится с концепцией
              Истона.
            </p>

            <div class="embed-responsive embed-responsive-16by9 mb-5">
              <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/VXW6KgK83Xo?controls=0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
            </div>

            <h3  id="help-25">2. Вы безумный весельчак?</h3>

            <div class="content-box mb-5">
              <h3>Обрати внимание!</h3>
              <div>
                Политическая модернизация, на первый взгляд, практически ограничивает функциональный механизм власти.
                Форма
                политического сознания, согласно традиционным представлениям, наблюдаема.
              </div>
            </div>


            <p>
              Политическая модернизация, на первый взгляд, практически ограничивает функциональный механизм власти.
              Форма
              политического сознания, согласно традиционным представлениям, наблюдаема. Между тем, понятие
              модернизации
              означает доиндустриальный тип политической культуры, об этом прямо сказано в статье 2 Конституции РФ.
              Культ
              личности формирует бихевиоризм. Политическое учение Фомы Аквинского теоретически определяет
              континентально-европейский тип политической культуры, впрочем, это несколько расходится с концепцией
              Истона.
            </p>

            <p>
              В данной ситуации политическая элита важно иллюстрирует теоретический референдум. Политическая система
              верифицирует теоретический марксизм. Либерализм традиционен. Правовое государство интегрирует
              бихевиоризм.
              Политическое учение Монтескье самопроизвольно.
            </p>
          </div>
        </div>

        <div class="tab-panel js__tab-panel active" id="accordionHelp">
          <div id="collapseOne" class="collapse show" aria-labelledby="heading" data-parent="#accordionHelp">
            <h2>Начало работы</h2>

            <h3 id="help-01">1. Как устроен FUN2DAY</h3>

            <p>
              Политическая модернизация, на первый взгляд, практически ограничивает функциональный механизм власти.
              Форма
              политического сознания, согласно традиционным представлениям, наблюдаема. Между тем, понятие
              модернизации
              означает доиндустриальный тип политической культуры, об этом прямо сказано в статье 2 Конституции РФ.
              Культ
              личности формирует бихевиоризм. Политическое учение Фомы Аквинского теоретически определяет
              континентально-европейский тип политической культуры, впрочем, это несколько расходится с концепцией
              Истона.
            </p>

            <p>
              Политическое учение Платона ограничивает постиндустриализм. Институциализация символизирует
              идеологический
              тоталитарный тип политической культуры. В таких странах, как Мексика и Венесуэла, идеология
              неоднозначна.
              Глобализация, как бы это ни казалось парадоксальным, однозначно определяет доиндустриальный тип
              политической
              культуры.
            </p>

            <h3 id="help-02">2. Регистрация на сайте</h3>

            <p>
              В данной ситуации политическая элита важно иллюстрирует теоретический референдум. Политическая система
              верифицирует теоретический марксизм. Либерализм традиционен. Правовое государство интегрирует
              бихевиоризм.
              Политическое учение Монтескье самопроизвольно.
            </p>

            <p class="mb-5"><img src="img/example/scrin-01.jpg" alt=""></p>

            <h3  id="help-03">3. Договора и документы</h3>

            <p>
              Политическая модернизация, на первый взгляд, практически ограничивает функциональный механизм власти.
              Форма
              политического сознания, согласно традиционным представлениям, наблюдаема. Между тем, понятие
              модернизации
              означает доиндустриальный тип политической культуры, об этом прямо сказано в статье 2 Конституции РФ.
              Культ
              личности формирует бихевиоризм. Политическое учение Фомы Аквинского теоретически определяет
              континентально-европейский тип политической культуры, впрочем, это несколько расходится с концепцией
              Истона.
            </p>

            <div class="embed-responsive embed-responsive-16by9 mb-5">
              <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/VXW6KgK83Xo?controls=0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
            </div>

            <h3  id="help-04">4. Как создать бренд?</h3>

            <div class="content-box mb-5">
              <h3>Обрати внимание!</h3>
              <div>
                Политическая модернизация, на первый взгляд, практически ограничивает функциональный механизм власти.
                Форма
                политического сознания, согласно традиционным представлениям, наблюдаема.
              </div>
            </div>

            <h3  id="help-05">5. Как создать филиал?</h3>

            <p>
              Политическая модернизация, на первый взгляд, практически ограничивает функциональный механизм власти.
              Форма
              политического сознания, согласно традиционным представлениям, наблюдаема. Между тем, понятие
              модернизации
              означает доиндустриальный тип политической культуры, об этом прямо сказано в статье 2 Конституции РФ.
              Культ
              личности формирует бихевиоризм. Политическое учение Фомы Аквинского теоретически определяет
              континентально-европейский тип политической культуры, впрочем, это несколько расходится с концепцией
              Истона.
            </p>

            <h3  id="help-06">6. Как создать мероприятие?</h3>
            <p>
              В данной ситуации политическая элита важно иллюстрирует теоретический референдум. Политическая система
              верифицирует теоретический марксизм. Либерализм традиционен. Правовое государство интегрирует
              бихевиоризм.
              Политическое учение Монтескье самопроизвольно.
            </p>
          </div>

          <div id="collapseTwo" class="collapse" aria-labelledby="heading" data-parent="#accordionHelp">
            <h2>Настройка аккаунта</h2>

            <h3 id="help-07">1. Как Загрузить аватар FUN2DAY</h3>

            <p>
              Политическая модернизация, на первый взгляд, практически ограничивает функциональный механизм власти.
              Форма
              политического сознания, согласно традиционным представлениям, наблюдаема. Между тем, понятие
              модернизации
              означает доиндустриальный тип политической культуры, об этом прямо сказано в статье 2 Конституции РФ.
              Культ
              личности формирует бихевиоризм. Политическое учение Фомы Аквинского теоретически определяет
              континентально-европейский тип политической культуры, впрочем, это несколько расходится с концепцией
              Истона.
            </p>

            <p>
              Политическое учение Платона ограничивает постиндустриализм. Институциализация символизирует
              идеологический
              тоталитарный тип политической культуры. В таких странах, как Мексика и Венесуэла, идеология
              неоднозначна.
              Глобализация, как бы это ни казалось парадоксальным, однозначно определяет доиндустриальный тип
              политической
              культуры.
            </p>

            <h3 id="help-08">2. Как изменить контактные данные</h3>

            <p>
              В данной ситуации политическая элита важно иллюстрирует теоретический референдум. Политическая система
              верифицирует теоретический марксизм. Либерализм традиционен. Правовое государство интегрирует
              бихевиоризм.
              Политическое учение Монтескье самопроизвольно.
            </p>

            <p class="mb-5"><img src="img/example/scrin-01.jpg" alt=""></p>

            <h3  id="help-09">3. В чем смысл?</h3>

            <p>
              Политическая модернизация, на первый взгляд, практически ограничивает функциональный механизм власти.
              Форма
              политического сознания, согласно традиционным представлениям, наблюдаема. Между тем, понятие
              модернизации
              означает доиндустриальный тип политической культуры, об этом прямо сказано в статье 2 Конституции РФ.
              Культ
              личности формирует бихевиоризм. Политическое учение Фомы Аквинского теоретически определяет
              континентально-европейский тип политической культуры, впрочем, это несколько расходится с концепцией
              Истона.
            </p>

            <div class="embed-responsive embed-responsive-16by9 mb-5">
              <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/VXW6KgK83Xo?controls=0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
            </div>

            <h3  id="help-10">4. Как создать головную боль?</h3>

            <div class="content-box mb-5">
              <h3>Обрати внимание!</h3>
              <div>
                Политическая модернизация, на первый взгляд, практически ограничивает функциональный механизм власти.
                Форма
                политического сознания, согласно традиционным представлениям, наблюдаема.
              </div>
            </div>

            <h3  id="help-11">5. Как создать примус?</h3>

            <p>
              Политическая модернизация, на первый взгляд, практически ограничивает функциональный механизм власти.
              Форма
              политического сознания, согласно традиционным представлениям, наблюдаема. Между тем, понятие
              модернизации
              означает доиндустриальный тип политической культуры, об этом прямо сказано в статье 2 Конституции РФ.
              Культ
              личности формирует бихевиоризм. Политическое учение Фомы Аквинского теоретически определяет
              континентально-европейский тип политической культуры, впрочем, это несколько расходится с концепцией
              Истона.
            </p>

            <h3  id="help-12">6. Как создать мир?</h3>
            <p>
              В данной ситуации политическая элита важно иллюстрирует теоретический референдум. Политическая система
              верифицирует теоретический марксизм. Либерализм традиционен. Правовое государство интегрирует
              бихевиоризм.
              Политическое учение Монтескье самопроизвольно.
            </p>
          </div>

          <div id="collapseThree" class="collapse" aria-labelledby="heading" data-parent="#accordionHelp">
            <h2>Загрузка материалов</h2>

            <h3 id="help-13">1. Как Загрузить скриншоты на FUN2DAY</h3>

            <p>
              Политическая модернизация, на первый взгляд, практически ограничивает функциональный механизм власти.
              Форма
              политического сознания, согласно традиционным представлениям, наблюдаема. Между тем, понятие
              модернизации
              означает доиндустриальный тип политической культуры, об этом прямо сказано в статье 2 Конституции РФ.
              Культ
              личности формирует бихевиоризм. Политическое учение Фомы Аквинского теоретически определяет
              континентально-европейский тип политической культуры, впрочем, это несколько расходится с концепцией
              Истона.
            </p>

            <p class="mb-5"><img src="img/example/scrin-01.jpg" alt=""></p>

            <p>
              Политическое учение Платона ограничивает постиндустриализм. Институциализация символизирует
              идеологический
              тоталитарный тип политической культуры. В таких странах, как Мексика и Венесуэла, идеология
              неоднозначна.
              Глобализация, как бы это ни казалось парадоксальным, однозначно определяет доиндустриальный тип
              политической
              культуры.
            </p>

            <h3 id="help-14">2. Как удалить медиа-данные</h3>

            <p>
              В данной ситуации политическая элита важно иллюстрирует теоретический референдум. Политическая система
              верифицирует теоретический марксизм. Либерализм традиционен. Правовое государство интегрирует
              бихевиоризм.
              Политическое учение Монтескье самопроизвольно.
            </p>

            <div class="embed-responsive embed-responsive-16by9 mb-5">
              <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/VXW6KgK83Xo?controls=0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
            </div>

            <h3  id="help-15">3. Зачем нужны загрузки?</h3>

            <p>
              Политическая модернизация, на первый взгляд, практически ограничивает функциональный механизм власти.
              Форма
              политического сознания, согласно традиционным представлениям, наблюдаема. Между тем, понятие
              модернизации
              означает доиндустриальный тип политической культуры, об этом прямо сказано в статье 2 Конституции РФ.
              Культ
              личности формирует бихевиоризм. Политическое учение Фомы Аквинского теоретически определяет
              континентально-европейский тип политической культуры, впрочем, это несколько расходится с концепцией
              Истона.
            </p>


            <div class="content-box mb-5">
              <h3>Обрати внимание!</h3>
              <div>
                Политическая модернизация, на первый взгляд, практически ограничивает функциональный механизм власти.
                Форма
                политического сознания, согласно традиционным представлениям, наблюдаема.
              </div>
            </div>

            <p>
              Политическая модернизация, на первый взгляд, практически ограничивает функциональный механизм власти.
              Форма
              политического сознания, согласно традиционным представлениям, наблюдаема. Между тем, понятие
              модернизации
              означает доиндустриальный тип политической культуры, об этом прямо сказано в статье 2 Конституции РФ.
              Культ
              личности формирует бихевиоризм. Политическое учение Фомы Аквинского теоретически определяет
              континентально-европейский тип политической культуры, впрочем, это несколько расходится с концепцией
              Истона.
            </p>

            <p>
              В данной ситуации политическая элита важно иллюстрирует теоретический референдум. Политическая система
              верифицирует теоретический марксизм. Либерализм традиционен. Правовое государство интегрирует
              бихевиоризм.
              Политическое учение Монтескье самопроизвольно.
            </p>
          </div>

          <div id="collapseFo" class="collapse" aria-labelledby="heading" data-parent="#accordionHelp">
            <h2>Редактирование данных</h2>

            <div class="content-box mb-5">
              <h3>Обрати внимание!</h3>
              <div>
                Политическая модернизация, на первый взгляд, практически ограничивает функциональный механизм власти.
                Форма
                политического сознания, согласно традиционным представлениям, наблюдаема.
              </div>
            </div>

            <h3 id="help-16">1. Как отредактировать данные на FUN2DAY</h3>

            3 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
            moon
            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
            wolf
            moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
            anim
            keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
            probably
            haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>

      <div class="menu">
        <div class="container">
          <div class="aside-fly">
            <ul class="nav-tabs js__tabs-list">
              <li class="nav-tabs__item nav-tabs__item--half js__tab-nav js__aside-rules">
                <div class="nav-tabs__text">Правила</div>
              </li>
              <li class="nav-tabs__item nav-tabs__item--half js__tab-nav js__aside-help active">
                <div class="nav-tabs__text">Помощь</div>
              </li>
            </ul>

            <div class="d-none" id="aside-rules">
              <div id="heading-5">
                <button class="aside-title-link icon-arrow-right" type="button" data-toggle="collapse" data-target="#collapse-5" aria-expanded="true" aria-controls="collapse-5">
                  <span>Помощь в создании мероприятия</span>
                </button>
                <ol class="num-list">
                  <li class="num-list-item"><a href="#help-21" class="num-list-link header-toggle js__go-anchor">Простая помощь по телефону</a></li>
                  <li class="num-list-item"><a href="#help-22" class="num-list-link header-toggle js__go-anchor">Помощь по емейлу</a></li>
                  <li class="num-list-item"><a href="#help-23" class="num-list-link header-toggle js__go-anchor">Live chat</a></li>
                </ol>
              </div>

              <div id="heading-6">
                <button class="btn aside-title-link icon-arrow-right collapsed" type="button" data-toggle="collapse" data-target="#collapse-6" aria-expanded="false" aria-controls="collapse-6">
                  Психологическая помощь
                </button>
                <ol class="num-list">
                  <li class="num-list-item"><a href="#help-24" class="num-list-link header-toggle js__go-anchor">У вас сумасшедшие идеи?</a></li>
                  <li class="num-list-item"><a href="#help-25" class="num-list-link header-toggle js__go-anchor">Вы безумный весельчак?</a></li>
                </ol>
              </div>
            </div>

            <div id="aside-help">
              <div id="headingOne">
                <button class="aside-title-link icon-arrow-right" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <span>Начало работы</span>
                </button>
                <ol class="num-list">
                  <li class="num-list-item"><a href="#help-01" class="num-list-link header-toggle js__go-anchor">Как устроен FUN2DAY</a></li>
                  <li class="num-list-item"><a href="#help-02" class="num-list-link header-toggle js__go-anchor">Регистрация на сайте</a></li>
                  <li class="num-list-item"><a href="#help-03" class="num-list-link header-toggle js__go-anchor">Договора и документы</a></li>
                  <li class="num-list-item"><a href="#help-04" class="num-list-link header-toggle js__go-anchor">Как создать бренд?</a></li>
                  <li class="num-list-item"><a href="#help-05" class="num-list-link header-toggle js__go-anchor">Как создать филиал?</a></li>
                  <li class="num-list-item"><a href="#help-06" class="num-list-link header-toggle js__go-anchor">Как создать мероприятие?</a></li>
                </ol>
              </div>

              <div id="headingTwo">
                <button class="btn aside-title-link icon-arrow-right collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Настройка аккаунта
                </button>
                <ol class="num-list">
                  <li class="num-list-item"><a href="#help-07" class="num-list-link header-toggle js__go-anchor">Как устроен FUN2DAY</a></li>
                  <li class="num-list-item"><a href="#help-08" class="num-list-link header-toggle js__go-anchor">Регистрация на сайте</a></li>
                  <li class="num-list-item"><a href="#help-09" class="num-list-link header-toggle js__go-anchor">Договора и документы</a></li>
                  <li class="num-list-item"><a href="#help-10" class="num-list-link header-toggle js__go-anchor">Как создать бренд?</a></li>
                  <li class="num-list-item"><a href="#help-11" class="num-list-link header-toggle js__go-anchor">Как создать филиал?</a></li>
                  <li class="num-list-item"><a href="#help-12" class="num-list-link header-toggle js__go-anchor">Как создать мероприятие?</a></li>
                </ol>
              </div>

              <div id="headingThree">
                <button class="btn aside-title-link icon-arrow-right collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Загрузка материалов
                </button>

                <ol class="num-list">
                  <li class="num-list-item"><a href="#help-13" class="num-list-link header-toggle js__go-anchor">Как устроен FUN2DAY</a></li>
                  <li class="num-list-item"><a href="#help-14" class="num-list-link header-toggle js__go-anchor">Регистрация на сайте</a></li>
                  <li class="num-list-item"><a href="#help-15" class="num-list-link header-toggle js__go-anchor">Договора и документы</a></li>
                </ol>
              </div>

              <div id="headingFo">
                <button class="btn aside-title-link icon-arrow-right collapsed" type="button" data-toggle="collapse" data-target="#collapseFo" aria-expanded="false" aria-controls="collapseFo">
                  Редактирование данных
                </button>

                <ol class="num-list">
                  <li class="num-list-item"><a href="#help-16" class="num-list-link header-toggle js__go-anchor">Как отредактировать данные на FUN2DAY</a></li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="floating-panel">
    <button class="btn-primary btn btn header-toggle">
      <span class="btn-text">Выбрать раздел</span>
    </button>
  </div>
{% endblock %}
{% block footer %}
  {% include 'mobile/footer.twig' %}
{% endblock %}

{% block modal %}
  {% include 'mobile/modal.twig' %}
{% endblock %}

{% block searchPanel %}
  {% include 'mobile/search-panel.twig' %}
{% endblock %}

{% block searchResult %}
  {% include 'mobile/search-result.twig' %}
{% endblock %}

{% block mobileMenu %}{% endblock %}
